<!DOCTYPE html>
<html>
  <head>
    <!--(bake headLinks.html)-->
    <link rel="stylesheet" type="text/css" href="../assets/css/article.css" />
  </head>
  <body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="article" />
    <div class="container-center-horizontal">
      <div class="article screen">
        <!--(bake ../components/navbar.html)-->
        <div class="frame-container-2">
          <div class="frame-1">
            <div class="frame-121">
              <div class="button-2 button-4">
                <div class="group-82">
                  <img
                    class="arrow-up-left"
                    src="../assets/img/arrow-up-left@2x.png"
                    alt="arrow-up-left"
                  />
                  <div
                    class="text-2-2 text-2-3 bahijthesansarabic-bold-white-14px"
                  >
                    المزيد
                  </div>
                </div>
              </div>
              <div class="product-title product-5">
                <h1 class="text_label bahijthesansarabic-bold-white-24px">
                  منتجات ذات صلة
                </h1>
                <img
                  class="group-63"
                  src="../assets/img/group-63@2x.png"
                  alt="Group 63"
                />
              </div>
            </div>
            <div class="frame-99">
              <!--(bake ../components/product_vertical_card.html)-->
              <!--(bake ../components/product_vertical_card.html)-->
              <!--(bake ../components/product_vertical_card.html)-->
              <!--(bake ../components/product_vertical_card.html)-->
              <!--(bake ../components/product_vertical_card.html)-->
              <!--(bake ../components/product_vertical_card.html)-->
              <!--(bake ../components/product_vertical_card.html)-->
              <!--(bake ../components/product_vertical_card.html)-->
            </div>
          </div>
          <div class="frame-155">
            <div class="frame-1-1 frame-1-5">
              <div class="frame-1">
                <div class="frame-1-2 frame-1-5">
                  <div class="frame-69-1">
                    <div class="text-2 bahijthesansarabic-bold-gigas-12px">
                      الصحة النفسية
                    </div>
                    <img
                      class="chevron-left"
                      src="../assets/img/chevron-left@2x.png"
                      alt="chevron-left"
                    />
                    <div class="text-2 bahijthesansarabic-bold-violet-red-12px">
                      الصحة والرشاقة
                    </div>
                    <img
                      class="chevron-left-1"
                      src="../assets/img/chevron-left@2x.png"
                      alt="chevron-left"
                    />
                    <div class="text-2 bahijthesansarabic-bold-violet-red-12px">
                      الرئيسية
                    </div>
                  </div>
                  <p class="text-9 bahijthesansarabic-bold-white-24px">
                    مستوى الرفاهية النفسية أو العقل الخالي من الاضطرابات
                  </p>
                </div>
                <div class="group-96"></div>
              </div>
              <div class="frame-1-1 frame-1-5">
                <div class="frame-1-2 frame-1-5">
                  <div class="text-1-1">السعادة النفسية</div>
                  <div
                    class="flex-container bahijthesansarabic-regular-normal-scarpa-flow-18px"
                  >
                    <div class="text-3">
                      <span
                        class="bahijthesansarabic-regular-normal-scarpa-flow-18px"
                        >قد تعتبر السعادة النفسية أنها متصلة بشكل متزعزع حيث أن
                        الصحة النفسية للفرد قد يكون لها العديد من القيم الممكنة
                        المختلفة.</span
                      ><a
                        href="https://ar.wikipedia.org/wiki/%D8%B5%D8%AD%D8%A9_%D9%86%D9%81%D8%B3%D9%8A%D8%A9#cite_note-Outskirts_Press-19"
                        target="_blank"
                        ><span
                          class="span-1 bahijthesansarabic-regular-normal-scarpa-flow-18px"
                          >[19]</span
                        ></a
                      ><span
                        class="bahijthesansarabic-regular-normal-scarpa-flow-18px"
                      >
                        حيث أنها شوهدت بشكل عام على أنها سمة إيجابية بحيث يمكن
                        للشخص أن يصل لمستويات تعزيزية للصحة النفسية حتى إذا لم
                        يكن للشخص أي حالات تشخيص لصحته النفسية ويسلط تعريف الصحة
                        النفسية الضوء على السعادة العاطفية والقدرة على عيش حياة
                        كاملة وإبداعية وعلى مرونة التعامل مع تحديات الحياة التي
                        لابد منها.[</span
                      ><a
                        href="https://ar.wikipedia.org/wiki/%D9%88%D9%8A%D9%83%D9%8A%D8%A8%D9%8A%D8%AF%D9%8A%D8%A7:%D8%A8%D8%AD%D8%A7%D8%AC%D8%A9_%D9%84%D9%85%D8%B5%D8%AF%D8%B1"
                        target="_blank"
                        ><span
                          class="span-1 bahijthesansarabic-regular-normal-scarpa-flow-18px"
                          >بحاجة لمصدر</span
                        ></a
                      ><span
                        class="bahijthesansarabic-regular-normal-scarpa-flow-18px"
                        >] وتعرض العديد من الأنظمة العلاجية وكتب المساعدة
                        الذاتية طرقاً وفلسفات تبني استراتيجات وأساليب اعتبرت
                        فعالة لزيادة تحسين السعادة النفسية للناس الأصحاء ويبرز
                        علم النفس الإيجابي بشكل متزايد في مجال الصحة
                        النفسية.</span
                      >
                    </div>
                    <div class="text-3">
                      <span
                        class="bahijthesansarabic-regular-normal-scarpa-flow-18px"
                        >يشمل النموذج الكلي للصحة النفسية عموماً مفاهيم ترتكز
                        على أفكار تعليمية ونفسية ودينية وإنسانية بالإضافة إلى
                        أفكار نظرية من علم النفس الشخصية وعلم النفس الاجتماعي
                        والسريري والصحي والتنموي.</span
                      ><a
                        href="https://ar.wikipedia.org/wiki/%D8%B5%D8%AD%D8%A9_%D9%86%D9%81%D8%B3%D9%8A%D8%A9#cite_note-Outskirts_Press-19"
                        target="_blank"
                        ><span
                          class="span-1 bahijthesansarabic-regular-normal-scarpa-flow-18px"
                          >[19]</span
                        ></a
                      >
                    </div>
                    <div class="text-3">
                      <span
                        class="bahijthesansarabic-regular-normal-scarpa-flow-18px"
                        >ويشتمل مثال نموذج العافية على مفهوم وضعه كلاً من مايرز
                        وسويني وويتمر، ويشمل خمسة مهام للحياة [الجوهر أو
                        الروحانية، العمل ووقت الفراغ، الصداقة، الحب، والإدارة
                        الذاتية] وإثني عشر مهمة فرعية [الشعور بالأهمية، والشعور
                        بالسيطرة، والاعتقادات الواقعية، والوعي العاطفي والقدرة
                        على التأقلم، حل المشاكل والإبداع، الحس الفكاهي، التغذية،
                        التمارين الرياضية، الرعاية الذاتية، التعامل مع الضغوط
                        الهوية الجنسية، الهوية الثقافية] التي تُعرف على أنها
                        خصائص للأداء الصحي وعنصراً أساسياً من عناصر العافية، كما
                        أن العناصر توفر وسيلة للاستجابة لظروف الحياة في طريقة
                        تعزز من الأداء الصحي ويتعبر غالبية سكان الولايات المتحدة
                        الأمريكية غير مثقفين بما يتعلق بالصحة النفسية.</span
                      ><a
                        href="https://ar.wikipedia.org/wiki/%D8%B5%D8%AD%D8%A9_%D9%86%D9%81%D8%B3%D9%8A%D8%A9#cite_note-Richards_2010_247-15"
                        target="_blank"
                        ><span
                          class="span-1 bahijthesansarabic-regular-normal-scarpa-flow-18px"
                          >[15]</span
                        ></a
                      ><span
                        class="bahijthesansarabic-regular-normal-scarpa-flow-18px"
                      >
                        نموذج آخر هو السعادة النفسية.</span
                      >
                    </div>
                  </div>
                </div>
                <div class="group-97"></div>
                <div class="frame-1-2 frame-1-5">
                  <div class="text-1-1">الوقاية</div>
                  <p
                    class="text-12 bahijthesansarabic-regular-normal-scarpa-flow-18px"
                  >
                    <span
                      class="bahijthesansarabic-regular-normal-scarpa-flow-18px"
                      >يمكن أن تعرّف الصحة النفسية أيضا بعدم وجود اضطراب نفسي.
                      هناك زيادة في التركيز على الوقاية من الاضطرابات العقلية.
                      بدأت الوقاية بالظهور في استراتيجيات الصحة النفسية، متضمنةً
                      تقرير منظمة الصحة العالمية لعام 2004 «الوقاية من
                      الاضطرابات النفسية»، الاتحاد الأوروبي في 2008 «معاهدة
                      للصحة النفسية» وفي 2011 الاستراتيجية الوطنية للوقاية في
                      الولايات المتحدة.</span
                    ><a
                      href="https://ar.wikipedia.org/wiki/%D8%B5%D8%AD%D8%A9_%D9%86%D9%81%D8%B3%D9%8A%D8%A9#cite_note-20"
                      target="_blank"
                      ><span
                        class="span-1 bahijthesansarabic-regular-normal-scarpa-flow-18px"
                        >[20]</span
                      ></a
                    ><span
                      class="bahijthesansarabic-regular-normal-scarpa-flow-18px"
                    >
                      الوقاية من الاضطراب في عمر مبكر قد يقلل وبشكل كبير من فرص
                      معاناة طفل من اضطراب في وقت لاحق من الحياة.</span
                    >
                  </p>
                </div>
              </div>
            </div>
            <form class="frame-1">
              <div class="product-title product-5">
                <div class="text_label bahijthesansarabic-bold-white-24px">
                  أضيفي تعليق
                </div>
                <img
                  class="group-63"
                  src="../assets/img/group-63@2x.png"
                  alt="Group 63"
                />
              </div>
              <div class="frame-142">
                <input class="form__input" placeholder="البريد الإلكتروني" />
                <input class="form__input" placeholder="الإسم" />
              </div>
              <textarea class="form__textarea" placeholder="التعليق"></textarea>
              <button type="submit" class="button button-4">
                <div class="text bahijthesansarabic-bold-white-14px-2">
                  أضيفي تعليقك
                </div>
                <img
                  class="shopping-bag-3"
                  src="../assets/img/shopping-bag@2x.png"
                  alt="shopping-bag"
                />
              </button>
            </form>
            <form class="frame-1">
              <div class="product-title product-5">
                <div class="text_label bahijthesansarabic-bold-white-24px">
                  أضيفي تعليق
                </div>
                <img
                  class="group-63"
                  src="../assets/img/group-63@2x.png"
                  alt="Group 63"
                />
              </div>
              <textarea class="form__textarea" placeholder="التعليق"></textarea>
              <button type="submit" class="button button-4">
                <div class="text bahijthesansarabic-bold-white-14px-2">
                  أضيفي تعليقك
                </div>
                <img
                  class="shopping-bag-3"
                  src="../assets/img/shopping-bag@2x.png"
                  alt="shopping-bag"
                />
              </button>
            </form>
            <div class="frame-1">
              <div class="product-title product-5">
                <div class="text_label bahijthesansarabic-bold-white-24px">
                  التعليقات
                </div>
                <img
                  class="group-63"
                  src="../assets/img/group-63@2x.png"
                  alt="Group 63"
                />
              </div>
              <div class="frame-150">
                <div class="frame-1-3 frame-1-5">
                  <div class="frame-1-2 frame-1-5">
                    <div class="frame-1-4 frame-1-5">
                      <div class="text-5 bahijthesansarabic-bold-white-14px">
                        تعليق من زائر مجهول
                      </div>
                      <div class="group-100">
                        <img
                          class="path-44"
                          src="../assets/img/group-63-5@2x.png"
                          alt="Path 44"
                        />
                      </div>
                    </div>
                    <p
                      class="text-2-1 text-2-3 bahijthesansarabic-bold-scarpa-flow-14px"
                    >
                      تعتبر الاضطرابات العصبية المسبب الرئيسي للإعاقات حول
                      العالم حيث تسببت في أمراض أفقدت 37% من سنوات الإنسان
                      الصحية وتشكل هذه الأمراض خطراً كبيراً على الدول ذات الدخل
                      المتدني.
                    </p>
                  </div>
                  <div class="group-99">
                    <div class="logo-1">
                      <div class="layer-1-1">
                        <div class="group">
                          <div class="group-container-1">
                            <img
                              class="clip-path-group-4"
                              src="../assets/img/clip-path-group-23@2x.png"
                              alt="Clip path group"
                            />
                            <div class="clip-path-group-container-1">
                              <img
                                class="clip-path-group-5"
                                src="../assets/img/clip-path-group-20@2x.png"
                                alt="Clip path group"
                              />
                              <img
                                class="clip-path-group-6"
                                src="../assets/img/clip-path-group-17@2x.png"
                                alt="Clip path group"
                              />
                              <img
                                class="clip-path-group-7"
                                src="../assets/img/clip-path-group-22@2x.png"
                                alt="Clip path group"
                              />
                            </div>
                          </div>
                          <div class="flex-row-3">
                            <div class="flex-row-4">
                              <div class="vector-container-4">
                                <img
                                  class="vector-22"
                                  src="../assets/img/vector@2x.png"
                                  alt="Vector"
                                />
                                <img
                                  class="vector-23"
                                  src="../assets/img/vector-19@2x.png"
                                  alt="Vector"
                                />
                              </div>
                              <img
                                class="vector-24"
                                src="../assets/img/vector-1@2x.png"
                                alt="Vector"
                              />
                            </div>
                            <div class="flex-col-1 flex-col-3">
                              <div class="flex-row-5">
                                <img
                                  class="vector-25"
                                  src="../assets/img/vector-2@2x.png"
                                  alt="Vector"
                                />
                                <img
                                  class="vector-26"
                                  src="../assets/img/vector-3@2x.png"
                                  alt="Vector"
                                />
                                <img
                                  class="vector-27"
                                  src="../assets/img/vector-4@2x.png"
                                  alt="Vector"
                                />
                                <img
                                  class="vector-28"
                                  src="../assets/img/vector-5@2x.png"
                                  alt="Vector"
                                />
                                <div class="vector-container-5">
                                  <img
                                    class="vector-29"
                                    src="../assets/img/vector-6@2x.png"
                                    alt="Vector"
                                  />
                                  <img
                                    class="vector-30"
                                    src="../assets/img/vector-7@2x.png"
                                    alt="Vector"
                                  />
                                  <img
                                    class="vector-31"
                                    src="../assets/img/vector-8@2x.png"
                                    alt="Vector"
                                  />
                                  <img
                                    class="vector-32"
                                    src="../assets/img/vector-9@2x.png"
                                    alt="Vector"
                                  />
                                  <img
                                    class="vector-33"
                                    src="../assets/img/vector-10@2x.png"
                                    alt="Vector"
                                  />
                                </div>
                                <img
                                  class="vector-26"
                                  src="../assets/img/vector-11@2x.png"
                                  alt="Vector"
                                />
                                <div class="vector-container-6">
                                  <img
                                    class="vector-34"
                                    src="../assets/img/vector-12@2x.png"
                                    alt="Vector"
                                  />
                                  <img
                                    class="vector-31"
                                    src="../assets/img/vector-13@2x.png"
                                    alt="Vector"
                                  />
                                  <img
                                    class="vector-35"
                                    src="../assets/img/vector-14@2x.png"
                                    alt="Vector"
                                  />
                                  <img
                                    class="vector-36"
                                    src="../assets/img/vector-15@2x.png"
                                    alt="Vector"
                                  />
                                  <img
                                    class="vector-37"
                                    src="../assets/img/vector-16@2x.png"
                                    alt="Vector"
                                  />
                                </div>
                                <div class="vector-container-7">
                                  <img
                                    class="vector-38"
                                    src="../assets/img/vector-17@2x.png"
                                    alt="Vector"
                                  />
                                  <img
                                    class="vector-39"
                                    src="../assets/img/vector-18@2x.png"
                                    alt="Vector"
                                  />
                                </div>
                              </div>
                              <div class="vector-container-8">
                                <img
                                  class="vector-40"
                                  src="../assets/img/vector-20@2x.png"
                                  alt="Vector"
                                />
                                <img
                                  class="vector-41"
                                  src="../assets/img/vector-21@2x.png"
                                  alt="Vector"
                                />
                                <img
                                  class="vector-42"
                                  src="../assets/img/vector-22@2x.png"
                                  alt="Vector"
                                />
                                <img
                                  class="vector-43"
                                  src="../assets/img/vector-23@2x.png"
                                  alt="Vector"
                                />
                                <img
                                  class="vector-44"
                                  src="../assets/img/vector-24@2x.png"
                                  alt="Vector"
                                />
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="frame-1-3 frame-1-5">
                  <div class="frame-1-2 frame-1-5">
                    <div class="frame-1-4 frame-1-5">
                      <div class="text-5 bahijthesansarabic-bold-white-14px">
                        تالا عمر
                      </div>
                      <img
                        class="rectangle-2"
                        src="../assets/img/rectangle-29@2x.png"
                        alt="Rectangle 29"
                      />
                    </div>
                    <p
                      class="text-2-1 text-2-3 bahijthesansarabic-bold-scarpa-flow-14px"
                    >
                      تعتبر الاضطرابات العصبية المسبب الرئيسي للإعاقات حول
                      العالم حيث تسببت في أمراض أفقدت 37% من سنوات الإنسان
                      الصحية وتشكل هذه الأمراض خطراً كبيراً على الدول ذات الدخل
                      المتدني.
                    </p>
                  </div>
                  <div class="group-99">
                    <div class="logo-1">
                      <div class="layer-1-1">
                        <div class="group">
                          <div class="group-container-1">
                            <img
                              class="clip-path-group-4"
                              src="../assets/img/clip-path-group-23@2x.png"
                              alt="Clip path group"
                            />
                            <div class="clip-path-group-container-1">
                              <img
                                class="clip-path-group-5"
                                src="../assets/img/clip-path-group-20@2x.png"
                                alt="Clip path group"
                              />
                              <img
                                class="clip-path-group-6"
                                src="../assets/img/clip-path-group-17@2x.png"
                                alt="Clip path group"
                              />
                              <img
                                class="clip-path-group-7"
                                src="../assets/img/clip-path-group-22@2x.png"
                                alt="Clip path group"
                              />
                            </div>
                          </div>
                          <div class="flex-row-3">
                            <div class="flex-row-4">
                              <div class="vector-container-4">
                                <img
                                  class="vector-22"
                                  src="../assets/img/vector@2x.png"
                                  alt="Vector"
                                />
                                <img
                                  class="vector-23"
                                  src="../assets/img/vector-19@2x.png"
                                  alt="Vector"
                                />
                              </div>
                              <img
                                class="vector-24"
                                src="../assets/img/vector-1@2x.png"
                                alt="Vector"
                              />
                            </div>
                            <div class="flex-col-1 flex-col-3">
                              <div class="flex-row-5">
                                <img
                                  class="vector-25"
                                  src="../assets/img/vector-2@2x.png"
                                  alt="Vector"
                                />
                                <img
                                  class="vector-26"
                                  src="../assets/img/vector-3@2x.png"
                                  alt="Vector"
                                />
                                <img
                                  class="vector-27"
                                  src="../assets/img/vector-4@2x.png"
                                  alt="Vector"
                                />
                                <img
                                  class="vector-28"
                                  src="../assets/img/vector-5@2x.png"
                                  alt="Vector"
                                />
                                <div class="vector-container-5">
                                  <img
                                    class="vector-29"
                                    src="../assets/img/vector-6@2x.png"
                                    alt="Vector"
                                  />
                                  <img
                                    class="vector-30"
                                    src="../assets/img/vector-7@2x.png"
                                    alt="Vector"
                                  />
                                  <img
                                    class="vector-31"
                                    src="../assets/img/vector-8@2x.png"
                                    alt="Vector"
                                  />
                                  <img
                                    class="vector-32"
                                    src="../assets/img/vector-9@2x.png"
                                    alt="Vector"
                                  />
                                  <img
                                    class="vector-33"
                                    src="../assets/img/vector-10@2x.png"
                                    alt="Vector"
                                  />
                                </div>
                                <img
                                  class="vector-26"
                                  src="../assets/img/vector-11@2x.png"
                                  alt="Vector"
                                />
                                <div class="vector-container-6">
                                  <img
                                    class="vector-34"
                                    src="../assets/img/vector-12@2x.png"
                                    alt="Vector"
                                  />
                                  <img
                                    class="vector-31"
                                    src="../assets/img/vector-13@2x.png"
                                    alt="Vector"
                                  />
                                  <img
                                    class="vector-35"
                                    src="../assets/img/vector-14@2x.png"
                                    alt="Vector"
                                  />
                                  <img
                                    class="vector-36"
                                    src="../assets/img/vector-15@2x.png"
                                    alt="Vector"
                                  />
                                  <img
                                    class="vector-37"
                                    src="../assets/img/vector-16@2x.png"
                                    alt="Vector"
                                  />
                                </div>
                                <div class="vector-container-7">
                                  <img
                                    class="vector-38"
                                    src="../assets/img/vector-17@2x.png"
                                    alt="Vector"
                                  />
                                  <img
                                    class="vector-39"
                                    src="../assets/img/vector-18@2x.png"
                                    alt="Vector"
                                  />
                                </div>
                              </div>
                              <div class="vector-container-8">
                                <img
                                  class="vector-40"
                                  src="../assets/img/vector-20@2x.png"
                                  alt="Vector"
                                />
                                <img
                                  class="vector-41"
                                  src="../assets/img/vector-21@2x.png"
                                  alt="Vector"
                                />
                                <img
                                  class="vector-42"
                                  src="../assets/img/vector-22@2x.png"
                                  alt="Vector"
                                />
                                <img
                                  class="vector-43"
                                  src="../assets/img/vector-23@2x.png"
                                  alt="Vector"
                                />
                                <img
                                  class="vector-44"
                                  src="../assets/img/vector-24@2x.png"
                                  alt="Vector"
                                />
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="frame-1-3 frame-1-5">
                  <div class="frame-1-2 frame-1-5">
                    <div class="frame-1-4 frame-1-5">
                      <div class="text-5 bahijthesansarabic-bold-white-14px">
                        بهيرة السيد
                      </div>
                      <img
                        class="rectangle-2"
                        src="../assets/img/rectangle-29-1@2x.png"
                        alt="Rectangle 29"
                      />
                    </div>
                    <p
                      class="text-2-1 text-2-3 bahijthesansarabic-bold-scarpa-flow-14px"
                    >
                      تعتبر الاضطرابات العصبية المسبب الرئيسي للإعاقات حول
                      العالم حيث تسببت في أمراض أفقدت 37% من سنوات الإنسان
                      الصحية وتشكل هذه الأمراض خطراً كبيراً على الدول ذات الدخل
                      المتدني.
                    </p>
                  </div>
                  <div class="group-99">
                    <div class="logo-1">
                      <div class="layer-1-1">
                        <div class="group">
                          <div class="group-container-1">
                            <img
                              class="clip-path-group-4"
                              src="../assets/img/clip-path-group-23@2x.png"
                              alt="Clip path group"
                            />
                            <div class="clip-path-group-container-1">
                              <img
                                class="clip-path-group-5"
                                src="../assets/img/clip-path-group-20@2x.png"
                                alt="Clip path group"
                              />
                              <img
                                class="clip-path-group-6"
                                src="../assets/img/clip-path-group-17@2x.png"
                                alt="Clip path group"
                              />
                              <img
                                class="clip-path-group-7"
                                src="../assets/img/clip-path-group-22@2x.png"
                                alt="Clip path group"
                              />
                            </div>
                          </div>
                          <div class="flex-row-3">
                            <div class="flex-row-4">
                              <div class="vector-container-4">
                                <img
                                  class="vector-22"
                                  src="../assets/img/vector@2x.png"
                                  alt="Vector"
                                />
                                <img
                                  class="vector-23"
                                  src="../assets/img/vector-19@2x.png"
                                  alt="Vector"
                                />
                              </div>
                              <img
                                class="vector-24"
                                src="../assets/img/vector-1@2x.png"
                                alt="Vector"
                              />
                            </div>
                            <div class="flex-col-1 flex-col-3">
                              <div class="flex-row-5">
                                <img
                                  class="vector-25"
                                  src="../assets/img/vector-2@2x.png"
                                  alt="Vector"
                                />
                                <img
                                  class="vector-26"
                                  src="../assets/img/vector-3@2x.png"
                                  alt="Vector"
                                />
                                <img
                                  class="vector-27"
                                  src="../assets/img/vector-4@2x.png"
                                  alt="Vector"
                                />
                                <img
                                  class="vector-28"
                                  src="../assets/img/vector-5@2x.png"
                                  alt="Vector"
                                />
                                <div class="vector-container-5">
                                  <img
                                    class="vector-29"
                                    src="../assets/img/vector-6@2x.png"
                                    alt="Vector"
                                  />
                                  <img
                                    class="vector-30"
                                    src="../assets/img/vector-7@2x.png"
                                    alt="Vector"
                                  />
                                  <img
                                    class="vector-31"
                                    src="../assets/img/vector-8@2x.png"
                                    alt="Vector"
                                  />
                                  <img
                                    class="vector-32"
                                    src="../assets/img/vector-9@2x.png"
                                    alt="Vector"
                                  />
                                  <img
                                    class="vector-33"
                                    src="../assets/img/vector-10@2x.png"
                                    alt="Vector"
                                  />
                                </div>
                                <img
                                  class="vector-26"
                                  src="../assets/img/vector-11@2x.png"
                                  alt="Vector"
                                />
                                <div class="vector-container-6">
                                  <img
                                    class="vector-34"
                                    src="../assets/img/vector-12@2x.png"
                                    alt="Vector"
                                  />
                                  <img
                                    class="vector-31"
                                    src="../assets/img/vector-13@2x.png"
                                    alt="Vector"
                                  />
                                  <img
                                    class="vector-35"
                                    src="../assets/img/vector-14@2x.png"
                                    alt="Vector"
                                  />
                                  <img
                                    class="vector-36"
                                    src="../assets/img/vector-15@2x.png"
                                    alt="Vector"
                                  />
                                  <img
                                    class="vector-37"
                                    src="../assets/img/vector-16@2x.png"
                                    alt="Vector"
                                  />
                                </div>
                                <div class="vector-container-7">
                                  <img
                                    class="vector-38"
                                    src="../assets/img/vector-17@2x.png"
                                    alt="Vector"
                                  />
                                  <img
                                    class="vector-39"
                                    src="../assets/img/vector-18@2x.png"
                                    alt="Vector"
                                  />
                                </div>
                              </div>
                              <div class="vector-container-8">
                                <img
                                  class="vector-40"
                                  src="../assets/img/vector-20@2x.png"
                                  alt="Vector"
                                />
                                <img
                                  class="vector-41"
                                  src="../assets/img/vector-21@2x.png"
                                  alt="Vector"
                                />
                                <img
                                  class="vector-42"
                                  src="../assets/img/vector-22@2x.png"
                                  alt="Vector"
                                />
                                <img
                                  class="vector-43"
                                  src="../assets/img/vector-23@2x.png"
                                  alt="Vector"
                                />
                                <img
                                  class="vector-44"
                                  src="../assets/img/vector-24@2x.png"
                                  alt="Vector"
                                />
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="frame-145">
          <!--(bake ../components/blogs_slider.html)-->
          <!--(bake ../components/footer.html)-->
        </div>
      </div>
    </div>
  </body>
</html>
