<meta charset="utf-8" />
<meta name="viewport" content="width=1440, maximum-scale=1.0" />
<link
  rel="shortcut icon"
  type="image/png"
  href="https://animaproject.s3.amazonaws.com/home/favicon.png"
/>
<meta name="og:type" content="website" />
<meta name="twitter:card" content="photo" />
<link
  rel="stylesheet"
  type="text/css"
  href="../../web/builds/css/styles.css"
/>
<link rel="stylesheet" type="text/css" href="../assets/css/styleguide.css" />
<link rel="stylesheet" type="text/css" href="../assets/css/globals.css" />
