<!DOCTYPE html>
<html>
  <head>
    <!--(bake headLinks.html)-->
    <link rel="stylesheet" type="text/css" href="../assets/css/home.css" />
  </head>
  <body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="store" />
    <div class="container">
      <div class="row">
        <div class="container-center-horizontal">
          <div class="home-logged-in screen">
            <!--(bake ../components/navbar.html)-->
            <div class="col-12 frame-container-2">
              <div class="row">
                <div class="col-12 col-md-3">
                  <!--(bake ../components/new_store_vetical.html)-->
                </div>
                <div class="col-12 col-md-9">
                  <!--(bake ../components/blogs_choosen.html)-->
                </div>
              </div>
            </div>
            <div class="col-12">
              <!--(bake ../components/blog_best_liked.html)-->
            </div>

            <!--(bake ../components/store_offers_hero.html)-->
            <!--(bake ../components/start_from_others_cards.html)-->
            <!--(bake ../components/footer.html)-->
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
