<!DOCTYPE html>
<html>
  <head>
    <!--(bake headLinks.html)-->
    <link
      rel="stylesheet"
      type="text/css"
      href="../assets/css/home.css"
    />
  </head>
  <body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="store" />
    <div class="container-center-horizontal">
      <div class="home-logged-in screen">
        <!--(bake ../components/navbar.html)-->
        <div class="frame-container-2">
          <!--(bake ../components/new_store_vetical.html)-->
          <!--(bake ../components/blogs_choosen.html)-->
        </div>
        <!--(bake ../components/blog_best_liked.html)-->
        <!--(bake ../components/store_offers_hero.html)-->
        <!--(bake ../components/start_from_others_cards.html)-->
        <!--(bake ../components/footer.html)-->
      </div>
    </div>
  </body>
</html>
