<!DOCTYPE html>
<html>
  <head>
    <!--(bake headLinks.html)-->
    <!-- <link
      rel="stylesheet"
      type="text/css"
      href="../assets/css/store.css"
    /> -->
    <link
      rel="stylesheet"
      type="text/css"
      href="../assets/css/store-product-page.css"
    />
  </head>
  <body style="margin: 0; background: #ffffff">
    <!--(bake ../components/navbar.html)-->
    <div class="container">
      <div class="row">
        <div class="container-center-horizontal">
          <div class="store-product screen">
            <div class="store-product-wrapper">
              <div class="store-product-upper-part col-12">
                <div class="row">
                  <div class="product-main-images-container col-12 col-md-7">
                    <div class="frame-232">
                      <img
                        class="rectangle"
                        src="../assets/img/rectangle-28@2x.png"
                        alt="Rectangle 28"
                      /><img
                        class="rectangle"
                        src="../assets/img/rectangle-29@2x.png"
                        alt="Rectangle 29"
                      /><img
                        class="rectangle"
                        src="../assets/img/rectangle-30@2x.png"
                        alt="Rectangle 30"
                      /><img
                        class="rectangle"
                        src="../assets/img/rectangle-31@2x.png"
                        alt="Rectangle 31"
                      />
                    </div>
                    <img
                      class="rectangle-32"
                      src="../assets/img/rectangle-32.png"
                      alt="Rectangle 32"
                    />
                  </div>
                  <div class="product-page-title-container col-12 col-md-5">
                    <div class="flex-col-4">
                      <div class="frame-69">
                        <p class="text-15 text-8">
                          أحمر خدود سائل ملون شيجلام 101لوف كيك
                        </p>
                        <img
                          class="chevron-left"
                          src="../assets/img/chevron-left@2x.png"
                          alt="chevron-left"
                        />
                        <div
                          class="text-2 text-8 bahijthesansarabic-bold-violet-red-12px"
                        >
                          متجر طله
                        </div>
                        <img
                          class="chevron-left-1"
                          src="../assets/img/chevron-left@2x.png"
                          alt="chevron-left"
                        />
                        <div
                          class="text-2 text-8 bahijthesansarabic-bold-violet-red-12px"
                        >
                          الرئيسية
                        </div>
                      </div>
                      <h1
                        class="text-18 text-8 bahijthesansarabic-bold-white-24px"
                      >
                        أحمر خدود سائل ملون شيجلام 101لوف كيك
                      </h1>
                      <img
                        class="rating-1"
                        src="../assets/img/rating@2x.png"
                        alt="Rating"
                      />
                      <p
                        class="text-14 text-8 bahijthesansarabic-bold-blackcurrant-14px"
                      >
                        مشروب لخديك، يمنح أحمر الخدود السائل الفاخر لبشرتك لوناً
                        جميلاً ومكونات مغذية، مثل فيتامين سي. تعمل تركيبته
                        الكريمية الهلامية وطرف الإسفنج على ضخ اللون بسهولة على
                        بشرتك للحصول على تأثير خدود ممتلئة وجميلة.
                      </p>
                      <div class="frame-272">
                        <div
                          class="text-2 text-8 bahijthesansarabic-bold-black-14px"
                        >
                          الماركة
                        </div>
                        <img
                          class="rectangle-24"
                          src="../assets/img/rectangle-24@2x.png"
                          alt="Rectangle 24"
                        />
                      </div>
                      <div class="frame-235">
                        <div
                          class="text-2 text-8 bahijthesansarabic-bold-black-14px"
                        >
                          إختر اللون المفضل
                        </div>
                        <div class="frame-201">
                          <div class="frame-1">
                            <div class="group-124">
                              <img
                                class="x"
                                src="../assets/img/x@2x.png"
                                alt="x"
                              />
                            </div>
                            <div class="group-125">
                              <img
                                class="x-3"
                                src="../assets/img/x@2x.png"
                                alt="x"
                              />
                            </div>
                            <div class="group-116">
                              <img
                                class="x-3"
                                src="../assets/img/x@2x.png"
                                alt="x"
                              />
                            </div>
                            <div class="rectangle-38"></div>
                            <div class="group-120"></div>
                            <div class="rectangle-47"></div>
                            <div class="rectangle-48"></div>
                          </div>
                        </div>
                      </div>
                      <div class="frame-273">
                        <div class="frame-2">
                          <div class="cart-button-large cart-button-2">
                            <div
                              class="text-19 valign-text-middle text-8 bahijthesansarabic-bold-white-14px2"
                            >
                              إضافة إلى عربة التسوق
                            </div>
                            <img
                              class="frame-109"
                              src="../assets/img/frame-109@2x.png"
                              alt="Frame 109"
                            />
                          </div>
                          <label class="custom-icon-checkbox">
                            <input
                              class="custom-input"
                              type="checkbox"
                              id="productFavourite_1"
                            />
                            <img
                              class="custom-icon-checkbox__icon"
                              src="../assets/img/heart-3.svg"
                              alt="icon-heart"
                            />
                            <span
                              class="custom-icon-checkbox__icon__checkmark"
                            ></span>
                          </label>
                        </div>
                        <div class="frame-3">
                          <div
                            class="price-2 price-4 bahijthesansarabic-bold-mamba-16px"
                          >
                            EGP 600.00
                          </div>
                          <div class="price-3 price-4">EGP 249.00</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="product-tabs-contaainer">
                <div class="product-TABS">
                  <div class="frame-236">
                    <ul
                      class="nav nav-pills frame-236 custom-nav-pills"
                      id="myTab"
                      role="tablist"
                    >
                      <li class="nav-item frame-2-1">
                        <a
                          class="nav-link"
                          id="ratings-tab"
                          data-toggle="tab"
                          href="#ratings"
                          role="tab"
                          aria-controls="ratings"
                          aria-selected="true"
                        >
                          <div
                            class="nav-item__text text-2 text-8 bahijthesansarabic-bold-mamba-14px"
                          >
                            التقييمات
                          </div>
                        </a>
                      </li>
                      <li class="nav-item frame-2-1">
                        <a
                          class="nav-link"
                          id="return_policy-tab"
                          data-toggle="tab"
                          href="#return_policy"
                          role="tab"
                          aria-controls="return_policy"
                          aria-selected="true"
                        >
                          <div
                            class="nav-item__text text-2 text-8 bahijthesansarabic-bold-mamba-14px"
                          >
                            سياسة الإسترجاع
                          </div>
                        </a>
                      </li>
                      <li class="nav-item frame-2-1">
                        <a
                          class="nav-link"
                          id="exchange_policy-tab"
                          data-toggle="tab"
                          href="#exchange_policy"
                          role="tab"
                          aria-controls="exchange_policy"
                          aria-selected="true"
                        >
                          <div
                            class="nav-item__text text-2 text-8 bahijthesansarabic-bold-mamba-14px"
                          >
                            سياسة الإستبدال
                          </div>
                        </a>
                      </li>
                      <li class="nav-item frame-2-1">
                        <a
                          class="nav-link"
                          id="questions-tab"
                          data-toggle="tab"
                          href="#questions"
                          role="tab"
                          aria-controls="questions"
                          aria-selected="true"
                        >
                          <div
                            class="nav-item__text text-2 text-8 bahijthesansarabic-bold-mamba-14px"
                          >
                            الأسئلة الشائعة
                          </div>
                        </a>
                      </li>
                      <li class="nav-item frame-2-1">
                        <a
                          class="nav-link active"
                          id="aboutproduct-tab"
                          data-toggle="tab"
                          href="#aboutproduct"
                          role="tab"
                          aria-controls="aboutproduct"
                          aria-selected="true"
                        >
                          <div
                            class="nav-item__text text-2 text-8 bahijthesansarabic-bold-mamba-14px"
                          >
                            عن المنتج
                          </div>
                        </a>
                      </li>
                    </ul>
                  </div>

                  <div class="tab-content">
                    <div
                      class="tab-pane active"
                      id="aboutproduct"
                      role="tabpanel"
                      aria-labelledby="aboutproduct-tab"
                    >
                      <!--(bake ../components/product/about.html)-->
                    </div>
                    <div
                      class="tab-pane"
                      id="questions"
                      role="tabpanel"
                      aria-labelledby="questions-tab"
                    >
                      <!--(bake ../components/product/common_questions.html)-->
                    </div>
                    <div
                      class="tab-pane"
                      id="exchange_policy"
                      role="tabpanel"
                      aria-labelledby="exchange_policy-tab"
                    >
                      <!--(bake ../components/product/exchange_policy.html)-->
                    </div>
                    <div
                      class="tab-pane"
                      id="return_policy"
                      role="tabpanel"
                      aria-labelledby="return_policy-tab"
                    >
                      <!--(bake ../components/product/return_policy.html)-->
                    </div>
                    <div
                      class="tab-pane"
                      id="ratings"
                      role="tabpanel"
                      aria-labelledby="ratings-tab"
                    >
                      <!--(bake ../components/product/ratings.html)-->
                    </div>
                  </div>
                </div>
              </div>
              <!--(bake ../components/products_slider.html)-->

              <!--(bake ../components/footer.html)-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
