<!DOCTYPE html>
<html>
  <head>
    <!--(bake headLinks.html)-->
    <link rel="stylesheet" type="text/css" href="../assets/css/store.css" />
  </head>
  <body style="margin: 0; background: #ffffff">
    <!--(bake ../components/navbar.html)-->
    <div class="container">
      <div class="row">
        <div class="container-center-horizontal">
          <div
            class="store screen"
            data-page="store"
            data-screens="store,store-product,store-product-alert"
          >
            <div class="store-slider-container">
              <!-- <div class="mask-group-3U5qE3"></div>
              <div class="frame-132-3U5qE3">
                <div class="ellipse-1-38ObM5"></div>
                <div class="ellipse-2-38ObM5"></div>
                <div class="ellipse-3-38ObM5"></div>
                <div class="ellipse-4-38ObM5"></div>
                <div class="ellipse-5-38ObM5"></div>
              </div> -->
              <!--(bake ../components/products_main_slider.html)-->
            </div>
            <div class="col-12 brands-col">
              <div class="row">
                <div class="section-container-title">
                  <div class="section-container-title-text">
                    تصفح اشهر الماركات على طله
                  </div>
                  <img
                    class="section-container-title-img"
                    src="../assets/img/group-63-3@2x.png"
                  />
                </div>
                <!--(bake ../components/brands__container.html)-->
              </div>
            </div>
            <div class="col-12">
              <div class="row">
                <div class="col-12 col-md-3">
                  <!--(bake ../components/prodcuct_side_filters.html)-->
                </div>
                <div class="col-12 col-md-9">
                  <div class="store-products-container">
                    <div class="frame-196-bDzUjP">
                      <div class="store-products-header">
                        <div class="frame-275-6NGYoZ">
                          <div class="custom-select-dropdown-container">
                            <select class="custom-select-dropdown">
                              <option value="0">المنتجات المميزة</option>
                              <option value="1">Maybelline</option>
                              <option value="2">Maybelline</option>
                              <option value="3">Maybelline</option>
                              <option value="4">Maybelline</option>
                            </select>
                            <div
                              class="custom-select-dropdown-arrow-down"
                            ></div>
                          </div>
                          <div class="frame-274-8UGdVw">
                            <label class="custom-input-container">
                              منتجات تحتوي على خصم فقط
                              <input
                                class="custom-input"
                                type="checkbox"
                                checked="checked"
                              />
                              <span class="custom-input__checkmark"></span>
                            </label>
                          </div>
                        </div>
                        <div class="product-title-6NGYoZ">
                          <div class="text_label-Es7Ryc">
                            منتجات تقدمها لكي طله
                          </div>
                          <div class="group-63-Es7Ryc"></div>
                        </div>
                      </div>
                      <div class="store-products-cards-container">
                        <div class="col-12">
                          <div class="row store-products-cards-container-row">
                            <div class="col-12 col-md-4">
                              <!--(bake ../components/product_big_card.html)-->
                            </div>
                            <div class="col-12 col-md-4">
                              <!--(bake ../components/product_big_card.html)-->
                            </div>
                            <div class="col-12 col-md-4">
                              <!--(bake ../components/product_big_card.html)-->
                            </div>
                            <div class="col-12 col-md-4">
                              <!--(bake ../components/product_big_card.html)-->
                            </div>
                            <div class="col-12 col-md-4">
                              <!--(bake ../components/product_big_card.html)-->
                            </div>
                            <div class="col-12 col-md-4">
                              <!--(bake ../components/product_big_card.html)-->
                            </div>
                            <div class="col-12 col-md-4">
                              <!--(bake ../components/product_big_card.html)-->
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!--(bake ../components/pagination.html)-->
                  </div>
                </div>
              </div>
            </div>
            <!--(bake ../components/footer.html)-->
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
