<div class="my-orders__side-nav">
  <div class="my-orders__side-nav__icon-container">
    <a class="my-orders__side-nav__btn active">
      <img
        class="newspaper-newsletter"
        src="../assets/img/newspaper-newsletter-1@2x.png"
        alt="newspaper-newsletter"
      />
      <div class="my-orders__side-nav__btn-text">طلباتي</div>

    </a>
    <a class="my-orders__side-nav__btn">
      
      <img
        class="arrows-dots-rotate"
        src="../assets/img/arrows-dots-rotate-1@2x.png"
        alt="arrows-dots-rotate"
      />
      <div class="my-orders__side-nav__btn-text">
        طلبات الإرجاع
      </div>
    </a>
    <a class="my-orders__side-nav__btn">
      <img class="route" src="../assets/img/route-1@2x.png" alt="route" />

      <div class="my-orders__side-nav__btn-text">
        العناوين
      </div>
    </a>
    <a class="my-orders__side-nav__btn">
      <img
        class="user-gear"
        src="../assets/img/user-gear@2x.png"
        alt="user-gear"
      />
      <div class="my-orders__side-nav__btn-text">
        إعدادات الحساب
      </div>
      
    </a>
    <a class="my-orders__side-nav__btn">
      <img class="log-in" src="../assets/img/log-in@2x.png" alt="log-in" />

      <div class="my-orders__side-nav__btn-text">
        تسجيل الخروج
      </div>
    </a>
  </div>
</div>
