<div class="my-orders__table-row">
  <div class="my-orders__table-row-wrapper">
    <!-- Order number -->
    <div
      class="phone valign-text-middle bahijthesansarabic-bold-mamba-14px my-orders__table-cell"
    >
      2632992111
    </div>
    <!-- Order date -->
    <div
      class="date valign-text-middle bahijthesansarabic-bold-mamba-14px my-orders__table-cell"
    >
      29/05/2023
    </div>
    <!-- Order # of items -->
    <div
      class="number-1 valign-text-middle number-7 bahijthesansarabic-bold-blackcurrant-14px my-orders__table-cell"
    >
      10
    </div>
    <!-- Order price -->
    <div
      class="price valign-text-middle bahijthesansarabic-bold-blackcurrant-14px my-orders__table-cell"
    >
      750.00 EGP
    </div>
    <!-- Payment type -->
    <div
      class="text-3 valign-text-middle bahijthesansarabic-bold-blackcurrant-14px my-orders__table-cell"
    >
      دفع عند الإستلام
    </div>
    <!-- Order status -->
    <div class="my-orders__table-cell">
      <div class="my-orders__order-status my-orders__order-status--shipped">
        تم الشحن
      </div>
    </div>
    <!-- Order CTAs -->
    <div class="my-orders__table-cell my-orders__order-cta-container">
      <a href="#">
        <img class="my-orders__order-cta-img" src="../assets/img/button-1@2x.png" alt="Button" />
      </a>
      <a href="#">
        <img class="my-orders__order-cta-img" src="../assets/img/button-3@2x.png" alt="Button" />
      </a>
    </div>
  </div>
</div>
