@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@font-face {
  font-family: "Bahij TheSansArabic-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("https://fonts.animaapp.com/BahijTheSansArabic-Bold")
    format("truetype");
}

:root {
  --textprimary: #312b43;
  --textsecondary: #5a5568;
  --texttertiary: #837f8e;
  --primarypurple100: #542d91;
  --primarypurple100: #542d91;
  --primarypurple100: #542d91;
  --primarypink100: #ef6498;
  --primarypink100: #ef6498;
  --primarypink100: #ef6498;
  --primaryblack100: #000000;
  --primarywhite100: #ffffff;
  --secondarymartini-olive: #88674f;
  --secondarylimelight: #fae345;
  --secondaryrusset-orange: #e07c00;
  --secondaryvaliant-poppy: #d40054;
  --secondaryquetzal-green: #005c5d;
  --secondarynebulas-blue: #0071ce;
  --secondaryred-pear: #9f2842;
  --secondarygrape-compote: #3d1152;
  --cultured-pearl: #f5f5f5;
  --violet-red: #ef64980d;
  --wisp-pink: #fef7fa;
  --daisy-bush: #532c911a;
  --gigas: #542d910d;
  --font-size-l: 16px;
  --font-size-m: 14px;
  --font-size-s: 12px;
  --font-size-xxl: 24px;
  --font-family-bahij_thesansarabic-bold: "Bahij TheSansArabic-Bold", Helvetica;
}

.store {
  align-items: center;
  background-color: var(--primarywhite100);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 3184px;
  padding: 24px 0;
  width: 1440px;
}

* {
  box-sizing: border-box;
}

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

.rectangle-12 {
  background: linear-gradient(
    180deg,
    rgb(239, 100, 152) 0%,
    rgb(84, 45, 145) 100%
  );
  height: 8px;
  margin-top: 24px;
  width: 1440px;
}

.footer {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  gap: 31px;
  height: auto;
  justify-content: flex-start;
  margin-top: 64px;
  min-height: 492px;
  width: 1360px;
}

.frame-container-4 {
  align-items: center;
  background-color: var(--wisp-pink);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 28px;
  min-height: 440px;
  padding: 60px 0;
  width: 1360px;
}

.frame-3 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
  width: fit-content;
}

.logo {
  height: 96px;
  min-width: 75.6px;
  overflow: hidden;
  position: relative;
}

.layer-1-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 1px;
  min-height: 96px;
  padding: 0px 0;
  width: 76px;
}

.group-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-left: 0;
  min-height: 78px;
  width: 76px;
}

.clip-path-group-container {
  height: 69px;
  position: relative;
  width: 76px;
}

.clip-path-group-1 {
  height: 4px;
  left: 50px;
  position: absolute;
  top: 65px;
  width: 4px;
}

.clip-path-group-3 {
  height: 10px;
  left: 44px;
  position: absolute;
  top: 17px;
  width: 17px;
}

.clip-path-group-2 {
  height: 66px;
  left: 0;
  position: absolute;
  top: 0;
  width: 76px;
}

.clip-path-group {
  height: 7px;
  margin-left: 4.14px;
  width: 8px;
}

.flex-row {
  align-items: flex-end;
  display: flex;
  gap: 1px;
  height: 17px;
  margin-left: 3.88px;
  min-width: 71px;
}

.flex-row-1 {
  align-items: flex-start;
  display: flex;
  gap: 1px;
  height: 15px;
  min-width: 11px;
}

.vector-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 3px;
  min-height: 15px;
  width: 6px;
}

.vector {
  height: 8px;
  width: 6px;
}

.vector-1 {
  height: 5px;
  margin-left: 1.14px;
  width: 4px;
}

.vector-2 {
  height: 6px;
  margin-top: 1.65px;
  width: 4px;
}

.flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 2px;
  min-height: 17px;
  width: 59px;
}

.vector-container-3 {
  align-items: flex-end;
  display: flex;
  margin-left: 2.16px;
  min-width: 56px;
}

.vector-19 {
  height: 5px;
  margin-left: 10px;
  width: 2px;
}

.vector-20 {
  height: 5px;
  margin-left: 9px;
  width: 4px;
}

.vector-18 {
  height: 5px;
  width: 4px;
}

.vector-21 {
  height: 5px;
  margin-left: 10px;
  width: 4px;
}

.flex-row-2 {
  align-items: center;
  display: flex;
  height: 10px;
  min-width: 59px;
}

.vector-6 {
  align-self: flex-start;
  height: 8px;
  margin-left: 1px;
  width: 1px;
}

.vector-container-5 {
  align-self: flex-end;
  height: 8px;
  margin-bottom: 0;
  margin-left: 2px;
  position: relative;
  width: 14px;
}

.vector-9 {
  height: 1px;
  left: 5px;
  position: absolute;
  top: 6px;
  width: 2px;
}

.vector-14 {
  height: 1px;
  left: 9px;
  position: absolute;
  top: 6px;
  width: 2px;
}

.vector-13 {
  height: 1px;
  left: 7px;
  position: absolute;
  top: 6px;
  width: 2px;
}

.vector-15 {
  height: 6px;
  left: 10px;
  position: absolute;
  top: 0;
  width: 4px;
}

.vector-12 {
  height: 7px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 5px;
}

.vector-container-2 {
  align-self: flex-end;
  height: 6px;
  margin-bottom: 0.03px;
  margin-left: 1px;
  position: relative;
  width: 10px;
}

.vector-17 {
  height: 4px;
  left: 5px;
  position: absolute;
  top: 0;
  width: 5px;
}

.vector-16 {
  height: 6px;
  left: 0;
  position: absolute;
  top: 0;
  width: 5px;
}

.vector-4 {
  height: 6px;
  margin-bottom: 0.21px;
  margin-left: 1px;
  width: 1px;
}

.vector-container-1 {
  align-self: flex-end;
  height: 8px;
  position: relative;
  width: 14px;
}

.vector-10 {
  height: 4px;
  left: 7px;
  position: absolute;
  top: 2px;
  width: 6px;
}

.vector-7 {
  height: 6px;
  left: 0;
  position: absolute;
  top: 2px;
  width: 3px;
}

.vector-11 {
  height: 6px;
  left: 12px;
  position: absolute;
  top: 0;
  width: 2px;
}

.vector-8 {
  height: 1px;
  left: 3px;
  position: absolute;
  top: 6px;
  width: 2px;
}

.vector-5 {
  height: 6px;
  margin-bottom: 0.09px;
  margin-left: 2px;
  width: 4px;
}

.vector-3 {
  align-self: flex-start;
  height: 8px;
  margin-top: 0;
  width: 3px;
}

.frame-85 {
  align-items: center;
  display: flex;
  gap: 16px;
  position: relative;
  width: fit-content;
}

.frame-156-1 {
  align-items: center;
  display: flex;
  gap: 8px;
  position: relative;
  width: fit-content;
}

.group-10 {
  background-color: var(--violet-red);
  border-radius: 12px;
  height: 32px;
  min-width: 32px;
  position: relative;
}

.store .twitter-2 {
  height: 24px;
  left: 4px;
  position: absolute;
  top: 4px;
  width: 24px;
}

.linkedin {
  height: 24px;
  left: 4px;
  position: absolute;
  top: 4px;
  width: 24px;
}

.youtube {
  height: 24px;
  left: 4px;
  position: absolute;
  top: 4px;
  width: 24px;
}

.store .instagram-2 {
  height: 24px;
  left: 4px;
  position: absolute;
  top: 4px;
  width: 24px;
}

.store .facebook-2 {
  height: 24px;
  left: 4px;
  position: absolute;
  top: 4px;
  width: 24px;
}

.frame-94 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: relative;
  width: fit-content;
}

.frame-93 {
  align-items: flex-start;
  display: flex;
  gap: 604px;
  position: relative;
  width: fit-content;
}

.frame-1 {
  align-items: flex-start;
  display: flex;
  gap: 24px;
  justify-content: flex-end;
  position: relative;
  width: fit-content;
}

.bahijthesansarabic-bold-scarpa-flow-14px {
  color: var(--textsecondary);
  font-family: var(--font-family-bahij_thesansarabic-bold);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.text-1 {
  direction: rtl;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.frame-91 {
  align-items: center;
  background-color: var(--primarywhite100);
  border-radius: 32px;
  display: flex;
  height: 39px;
  justify-content: space-between;
  overflow: hidden;
  padding: 8px 24px 8px 0px;
  position: relative;
  width: 437px;
}

.bahijthesansarabic-bold-mamba-14px {
  color: var(--texttertiary);
  font-family: var(--font-family-bahij_thesansarabic-bold);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.text {
  direction: rtl;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: left;
  width: fit-content;
}

.frame-27 {
  align-items: center;
  background: linear-gradient(
    180deg,
    rgb(239, 100, 152) 0%,
    rgb(84, 45, 145) 100%
  );
  border-radius: 24px;
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: -8px;
  margin-top: -8px;
  padding: 8px 24px;
  position: relative;
  width: fit-content;
}

.bahijthesansarabic-bold-white-14px {
  color: var(--primarywhite100);
  font-family: var(--font-family-bahij_thesansarabic-bold);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.send {
  height: 16px;
  min-width: 16px;
  position: relative;
}

.text-2-1 {
  direction: rtl;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.bahijthesansarabic-bold-blackcurrant-16px {
  color: var(--textprimary);
  font-family: var(--font-family-bahij_thesansarabic-bold);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
}

.text-1-1 {
  color: var(--texttertiary);
  direction: rtl;
  font-family: var(--font-family-bahij_thesansarabic-bold);
  font-size: var(--font-size-s);
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  min-height: 20px;
  min-width: 228px;
  text-align: center;
}

.navbar {
  align-items: center;
  display: flex;
  gap: 40px;
  margin-right: 10.4px;
  position: relative;
  width: fit-content;
}

.frame-162 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
  width: 1234px;
}

.group-106 {
  height: 40px;
  min-width: 1234px;
  position: relative;
}

.frame-161 {
  align-items: center;
  display: flex;
  gap: 24px;
  left: 0;
  position: absolute;
  top: 0;
  width: 334px;
}

.bahijthesansarabic-bold-blackcurrant-14px {
  color: var(--textprimary);
  font-family: var(--font-family-bahij_thesansarabic-bold);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.language {
  letter-spacing: 0;
  line-height: normal;
  margin-right: -13.81px;
  opacity: 0;
  position: relative;
  width: fit-content;
}

.frame-107 {
  align-items: flex-start;
  display: flex;
  gap: 16px;
  position: relative;
  width: fit-content;
}

.group-80 {
  height: 32px;
  min-width: 32px;
  position: relative;
}

.overlap-group2 {
  height: 32px;
  position: relative;
  width: 34px;
}

.store .overlap-group-3 {
  height: 20px;
  position: absolute;
  top: 0;
  width: 16px;
}

.overlap-group-2 {
  left: 16px;
}

.number {
  height: 20px;
  left: 4px;
  position: absolute;
  text-align: center;
  top: 0;
}

.store .number-8 {
  letter-spacing: 0;
  line-height: normal;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bahijthesansarabic-bold-white-12px {
  color: var(--primarywhite100);
  font-family: var(--font-family-bahij_thesansarabic-bold);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 700;
}

.ellipse-1 {
  background-color: var(--primarypurple100);
  border-radius: 8px;
  height: 16px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 16px;
}

.heart-1 {
  height: 24px;
  left: 0;
  position: absolute;
  top: 8px;
  width: 24px;
}

.group-81 {
  height: 32px;
  min-width: 31px;
  position: relative;
}

.group-container-1 {
  height: 32px;
  position: relative;
  width: 33px;
}

.group-75 {
  height: 24px;
  left: 0;
  position: absolute;
  top: 8px;
  width: 24px;
}

.overlap-group-1 {
  left: 15px;
}

.user {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: center;
  position: relative;
  width: fit-content;
}

.frame-159 {
  align-items: flex-start;
  display: flex;
  gap: 4px;
  position: relative;
  width: fit-content;
}

.frame-160 {
  align-items: center;
  display: flex;
  gap: 2px;
  justify-content: center;
  position: relative;
  width: fit-content;
}

.text-2 {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(
    180deg,
    rgb(239, 100, 152) 0%,
    rgb(84, 45, 145) 100%
  );
  background-clip: text;
  direction: rtl;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: left;
  text-fill-color: transparent;
  width: fit-content;
}

.bahijthesansarabic-bold-white-14px-2 {
  font-family: var(--font-family-bahij_thesansarabic-bold);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.arrow-down-1 {
  height: 16px;
  min-width: 16px;
  position: relative;
}

.group-127 {
  border: 2px solid;
  border-color: var(--wisp-pink);
  border-radius: 12px;
  height: 40px;
  min-width: 40px;
  position: relative;
}

.user-1 {
  height: 24px;
  left: 6px;
  position: absolute;
  top: 6px;
  width: 24px;
}

.frame-46 {
  align-items: center;
  display: flex;
  gap: 24px;
  justify-content: flex-end;
  left: 406px;
  position: absolute;
  top: 8px;
  width: 828px;
}

.frame-106 {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  width: fit-content;
}

.arrow-down {
  height: 16px;
  min-width: 16px;
  position: relative;
}

.group-107 {
  height: 39px;
  margin-right: -10px;
  min-width: 1244px;
  position: relative;
}

.frame-container-1 {
  align-items: center;
  display: flex;
  min-width: 1244px;
}

.frame-158 {
  align-items: center;
  display: flex;
  gap: 8px;
  position: relative;
  width: 288px;
}

.store .button-2 {
  align-items: center;
  border-radius: 24px;
  display: flex;
  gap: 8px;
  justify-content: center;
  padding: 8px 24px;
  position: relative;
  width: fit-content;
}

.button {
  background: linear-gradient(
    180deg,
    rgb(239, 100, 152) 0%,
    rgb(84, 45, 145) 100%
  );
}

.shopping-bag {
  height: 16px;
  min-width: 16px;
  position: relative;
}

.button-1 {
  background-color: var(--violet-red);
}

.truck {
  height: 16px;
  min-width: 16px;
  position: relative;
}

.bahijthesansarabic-bold-violet-red-14px {
  color: var(--primarypink100);
  font-family: var(--font-family-bahij_thesansarabic-bold);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.frame-156 {
  align-items: center;
  display: flex;
  gap: 8px;
  margin-bottom: 1px;
  margin-left: 219px;
  position: relative;
  width: 150px;
}

.iconmonstr-snapchat-1-1 {
  height: 24px;
  min-width: 24px;
  position: relative;
}

.frame-56 {
  align-items: center;
  background-color: var(--wisp-pink);
  border-radius: 24px;
  display: flex;
  height: 39px;
  justify-content: space-between;
  margin-left: 252px;
  overflow: hidden;
  padding: 8px 16px;
  position: relative;
  width: 335px;
}

.store .search-2 {
  height: 24px;
  margin-bottom: -0.5px;
  margin-top: -0.5px;
  min-width: 24px;
  position: relative;
}

.layer-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 1px;
  min-height: 96px;
  width: 76px;
}

.vector-container-4 {
  align-self: flex-end;
  height: 8px;
  margin-left: 2px;
  position: relative;
  width: 14px;
}

.frame-container-2 {
  align-items: flex-start;
  display: flex;
  gap: 24px;
  height: 1530px;
  margin-top: 64px;
  min-width: 1360px;
}

.frame-195 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: relative;
  width: fit-content;
}

.pagination {
  align-items: flex-start;
  display: flex;
  gap: 4px;
  position: relative;
  width: fit-content;
}

.frame-110 {
  align-items: center;
  background-color: var(--daisy-bush);
  border-radius: 24px;
  display: flex;
  gap: 8px;
  justify-content: center;
  opacity: 0.5;
  padding: 6px 16px;
  position: relative;
  width: fit-content;
}

.bahijthesansarabic-bold-gigas-14px {
  color: var(--primarypurple100);
  font-family: var(--font-family-bahij_thesansarabic-bold);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.frame-1-1 {
  align-items: center;
  background-color: var(--daisy-bush);
  border-radius: 24px;
  display: flex;
  gap: 8px;
  justify-content: center;
  padding: 6px 16px;
  position: relative;
  width: fit-content;
}

.number-4 {
  margin-top: -1px;
  position: relative;
  text-align: right;
  width: fit-content;
}

.number-5 {
  margin-top: -1px;
  position: relative;
  text-align: right;
  width: fit-content;
}

.number-6 {
  margin-top: -1px;
  position: relative;
  text-align: right;
  width: fit-content;
}

.text-32 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: right;
  width: fit-content;
}

.frame-126 {
  align-items: center;
  background-color: var(--primarypurple100);
  border-radius: 24px;
  display: flex;
  gap: 8px;
  justify-content: center;
  padding: 6px 16px;
  position: relative;
  width: fit-content;
}

.number-7 {
  margin-top: -1px;
  position: relative;
  text-align: right;
  width: fit-content;
}

.frame-196 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
  width: fit-content;
}

.frame-197 {
  align-items: center;
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.frame-275 {
  align-items: center;
  display: flex;
  gap: 24px;
  position: relative;
  width: fit-content;
}

.frame-274 {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: flex-end;
  position: relative;
  width: fit-content;
}

.bahijthesansarabic-bold-black-14px {
  color: var(--primaryblack100);
  font-family: var(--font-family-bahij_thesansarabic-bold);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.text-25 {
  direction: rtl;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.5px;
  position: relative;
  width: fit-content;
}

.checkbokx {
  background-color: var(--wisp-pink);
  border: 1px solid;
  border-color: #f6e9ee;
  border-radius: 24px;
  height: 24px;
  min-width: 24px;
  position: relative;
}

.store .frame-56-3 {
  align-items: center;
  background-color: var(--wisp-pink);
  border-radius: 24px;
  display: flex;
  height: 39px;
  justify-content: space-between;
  overflow: hidden;
  padding: 8px 16px;
  position: relative;
}

.frame-56-2 {
  cursor: pointer;
  width: 206px;
}

.arrow-down-9 {
  height: 24px;
  margin-bottom: -0.5px;
  margin-top: -0.5px;
  min-width: 24px;
  position: relative;
}

.store .product-15 {
  align-items: flex-start;
  display: flex;
  position: relative;
  width: fit-content;
}

.product-title {
  justify-content: flex-end;
}

.group-63 {
  height: 16px;
  margin-left: -8px;
  min-width: 26.82px;
  position: relative;
}

.bahijthesansarabic-bold-white-24px {
  font-family: var(--font-family-bahij_thesansarabic-bold);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
}

.text_label {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(
    180deg,
    rgb(239, 100, 152) 0%,
    rgb(84, 45, 145) 100%
  );
  background-clip: text;
  direction: rtl;
  letter-spacing: 0;
  line-height: 38px;
  margin-top: -1px;
  position: relative;
  text-fill-color: transparent;
  white-space: nowrap;
  width: fit-content;
}

.frame-192 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: relative;
  width: fit-content;
}

.product-3 {
  flex-direction: column;
  gap: 8px;
}

.frame-166 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: fit-content;
}

.frame-163 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  position: relative;
  width: fit-content;
}

.maybelline-lifter-lip-gloss-008-stone {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: right;
  width: 322px;
}

.rating {
  height: 16px;
  min-width: 80px;
  position: relative;
}

.frame-98-1 {
  align-items: flex-end;
  display: flex;
  gap: 8px;
  justify-content: flex-end;
  position: relative;
  width: 321px;
}

.bahijthesansarabic-bold-violet-red-16px {
  color: var(--primarypink100);
  font-family: var(--font-family-bahij_thesansarabic-bold);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
}

.store .price-2 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.store .frame-165-15 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: fit-content;
}

.group-108-4 {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/647e315db5bfd8ae1d55af3a/releases/647e56210f38b17766c8adf0/img/rectangle-1-69@2x.png);
}

.store .group-108-14 {
  background-size: 100% 100%;
  height: 180px;
  min-width: 322px;
  position: relative;
}

.cart-button {
  align-items: center;
  border-radius: 8px;
  display: flex;
  height: 24px;
  justify-content: flex-end;
  left: 210px;
  position: absolute;
  top: 148px;
  width: 104px;
}

.store .frame-109-15 {
  height: 24px;
  min-width: 24px;
  position: relative;
}

.frame-168-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 4px;
  left: 290px;
  position: absolute;
  top: 8px;
  width: fit-content;
}

.store .favorite-15 {
  align-items: center;
  background-color: var(--cultured-pearl);
  border-radius: 8px;
  display: flex;
  gap: 8px;
  height: 24px;
  justify-content: center;
  padding: 4px;
  position: relative;
  width: 24px;
}

.heart {
  height: 13px;
  min-width: 15px;
  position: relative;
}

.store .qucik-view-15 {
  align-items: center;
  background-color: var(--cultured-pearl);
  border-radius: 8px;
  display: flex;
  gap: 8px;
  height: 24px;
  justify-content: center;
  padding: 4px;
  position: relative;
  width: 24px;
}

.store .eye-15 {
  height: 15px;
  min-width: 15px;
  position: relative;
}

.product-5 {
  flex-direction: column;
  gap: 8px;
}

.group-108-5 {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/647e315db5bfd8ae1d55af3a/releases/647e56210f38b17766c8adf0/img/rectangle-1-71@2x.png);
}

.product-4 {
  flex-direction: column;
  gap: 8px;
}

.group-108 {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/647e315db5bfd8ae1d55af3a/releases/647e56210f38b17766c8adf0/img/rectangle-1-15@2x.png);
  background-size: 100% 100%;
  height: 180px;
  min-width: 322px;
  position: relative;
}

.product {
  flex-direction: column;
  gap: 8px;
}

.frame-98 {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 321px;
}

.price-1 {
  opacity: 0.7;
  text-align: right;
  text-decoration: line-through;
}

.bahijthesansarabic-bold-mamba-16px {
  color: var(--texttertiary);
  font-family: var(--font-family-bahij_thesansarabic-bold);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
}

.frame-165 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: fit-content;
}

.group-108-1 {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/647e315db5bfd8ae1d55af3a/releases/647e56210f38b17766c8adf0/img/rectangle-1-12@2x.png);
}

.frame-container {
  align-items: center;
  display: flex;
  gap: 248px;
  height: 52px;
  left: 0;
  min-width: 314px;
  position: absolute;
  top: 8px;
}

.frame-168 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: relative;
  width: fit-content;
}

.qucik-view {
  align-items: center;
  background-color: var(--cultured-pearl);
  border-radius: 8px;
  display: flex;
  gap: 8px;
  height: 24px;
  justify-content: center;
  padding: 4px;
  position: relative;
  width: 24px;
}

.frame-169 {
  align-items: center;
  background-color: var(--secondaryvaliant-poppy);
  border-radius: 0px 16px 16px 0px;
  display: flex;
  gap: 8px;
  justify-content: center;
  padding: 8px;
  position: relative;
  width: fit-content;
}

.text-3 {
  direction: rtl;
  letter-spacing: 0;
  line-height: 19px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.frame-109 {
  height: 24px;
  min-width: 24px;
  position: relative;
}

.product-1 {
  flex-direction: column;
  gap: 8px;
}

.group-108-2 {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/647e315db5bfd8ae1d55af3a/releases/647e56210f38b17766c8adf0/img/rectangle-1-13@2x.png);
}

.product-2 {
  flex-direction: column;
  gap: 8px;
}

.group-108-3 {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/647e315db5bfd8ae1d55af3a/releases/647e56210f38b17766c8adf0/img/rectangle-1-14@2x.png);
}

.product-12 {
  flex-direction: column;
  gap: 8px;
}

.product-14 {
  flex-direction: column;
  gap: 8px;
}

.group-108-13 {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/647e315db5bfd8ae1d55af3a/releases/647e56210f38b17766c8adf0/img/rectangle-1-80@2x.png);
}

.product-13 {
  flex-direction: column;
  gap: 8px;
}

.group-108-12 {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/647e315db5bfd8ae1d55af3a/releases/647e56210f38b17766c8adf0/img/rectangle-1-79@2x.png);
}

.product-6 {
  flex-direction: column;
  gap: 8px;
}

.group-108-6 {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/647e315db5bfd8ae1d55af3a/releases/647e56210f38b17766c8adf0/img/rectangle-1-72@2x.png);
}

.product-7 {
  flex-direction: column;
  gap: 8px;
}

.group-108-7 {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/647e315db5bfd8ae1d55af3a/releases/647e56210f38b17766c8adf0/img/rectangle-1-73@2x.png);
}

.product-8 {
  flex-direction: column;
  gap: 8px;
}

.group-108-8 {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/647e315db5bfd8ae1d55af3a/releases/647e56210f38b17766c8adf0/img/rectangle-1-74@2x.png);
}

.product-11 {
  flex-direction: column;
  gap: 8px;
}

.group-108-11 {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/647e315db5bfd8ae1d55af3a/releases/647e56210f38b17766c8adf0/img/rectangle-1-77@2x.png);
}

.product-10 {
  flex-direction: column;
  gap: 8px;
}

.group-108-10 {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/647e315db5bfd8ae1d55af3a/releases/647e56210f38b17766c8adf0/img/rectangle-1-76@2x.png);
}

.product-9 {
  flex-direction: column;
  gap: 8px;
}

.group-108-9 {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/647e315db5bfd8ae1d55af3a/releases/647e56210f38b17766c8adf0/img/rectangle-1-75@2x.png);
}

.frame-292 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
  width: fit-content;
}

.frame-56-1 {
  width: 322px;
}

.frame-231 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: relative;
  width: fit-content;
}

.group-117 {
  background-color: var(--gigas);
  border-radius: 8px;
  height: 147px;
  min-width: 322px;
  position: relative;
}

.frame-201 {
  align-items: flex-end;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  left: 22px;
  position: relative;
  top: 24px;
  width: fit-content;
}

.frame-117 {
  align-items: center;
  align-self: stretch;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.frame-200 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: relative;
  width: fit-content;
}

.frame-19 {
  align-items: center;
  display: flex;
  gap: 4px;
  justify-content: flex-end;
  position: relative;
  width: fit-content;
}

.rectangle-40 {
  background-color: var(--secondaryquetzal-green);
  border-radius: 14px;
  height: 32px;
  min-width: 32px;
  position: relative;
}

.rectangle-41-1 {
  background-color: var(--secondaryvaliant-poppy);
  border-radius: 14px;
  height: 32px;
  min-width: 32px;
  position: relative;
}

.rectangle-45 {
  background-color: var(--primaryblack100);
  border-radius: 14px;
  height: 32px;
  min-width: 32px;
  position: relative;
}

.rectangle-43 {
  background-color: var(--secondarylimelight);
  border-radius: 14px;
  height: 32px;
  min-width: 32px;
  position: relative;
}

.group-116 {
  background-color: var(--secondarymartini-olive);
  border: 2px solid;
  border-color: #0000001a;
  border-radius: 14px;
  height: 32px;
  min-width: 32px;
  position: relative;
}

.check {
  height: 24px;
  left: 2px;
  position: absolute;
  top: 2px;
  width: 24px;
}

.rectangle-42 {
  background-color: var(--secondaryrusset-orange);
  border-radius: 14px;
  height: 32px;
  min-width: 32px;
  position: relative;
}

.rectangle-39 {
  background-color: var(--secondarynebulas-blue);
  border-radius: 14px;
  height: 32px;
  min-width: 32px;
  position: relative;
}

.rectangle-38 {
  background-color: var(--primarypurple100);
  border-radius: 14px;
  height: 32px;
  min-width: 32px;
  position: relative;
}

.rectangle-43-1 {
  background-color: var(--secondarygrape-compote);
  border-radius: 14px;
  height: 32px;
  min-width: 32px;
  position: relative;
}

.rectangle-38-1 {
  background-color: var(--primarypink100);
  border-radius: 14px;
  height: 32px;
  min-width: 32px;
  position: relative;
}

.rectangle-44 {
  background-color: var(--textprimary);
  border-radius: 14px;
  height: 32px;
  min-width: 32px;
  position: relative;
}

.rectangle-42-1 {
  background-color: var(--secondaryred-pear);
  border-radius: 14px;
  height: 32px;
  min-width: 32px;
  position: relative;
}

.group-118 {
  background-color: var(--gigas);
  border-radius: 8px;
  height: 461px;
  min-width: 322px;
  position: relative;
}

.flex-col-1 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  min-height: 413px;
  position: relative;
  top: 24px;
  width: 322px;
}

.text-35 {
  direction: rtl;
  letter-spacing: 0;
  line-height: normal;
  margin-right: 16px;
  margin-top: -1px;
  min-height: 23px;
  min-width: 38px;
  position: relative;
}

.frame-225 {
  align-items: flex-start;
  background-color: #532c9108;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 9px;
  padding: 16px;
  position: relative;
  width: 322px;
}

.frame-224 {
  align-items: flex-start;
  display: flex;
  gap: 172px;
  position: relative;
  width: 272px;
}

.number-3 {
  margin-top: -1px;
  position: relative;
  text-align: right;
  width: fit-content;
}

.frame-222 {
  align-items: flex-start;
  display: flex;
  gap: 170px;
  position: relative;
  width: 272px;
}

.number-1 {
  margin-top: -1px;
  position: relative;
  text-align: right;
  width: fit-content;
}

.frame-223 {
  align-items: flex-start;
  display: flex;
  gap: 171px;
  position: relative;
  width: 272px;
}

.number-2 {
  margin-top: -1px;
  position: relative;
  text-align: right;
  width: fit-content;
}

.frame-2 {
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 284px;
}

.frame-216 {
  align-items: center;
  display: flex;
  gap: 4px;
  position: relative;
  width: fit-content;
}

.vector-22 {
  height: 6.75px;
  min-width: 7.99px;
  position: relative;
}

.arrow-down-2 {
  height: 16px;
  min-width: 16px;
  position: relative;
}

.frame-227 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-right: 6px;
  margin-top: 16px;
  position: relative;
  width: fit-content;
}

.arrow-down-6 {
  height: 16px;
  min-width: 16px;
  position: relative;
}

.arrow-down-5 {
  height: 16px;
  min-width: 16px;
  position: relative;
}

.arrow-down-4 {
  height: 16px;
  min-width: 16px;
  position: relative;
}

.arrow-down-3 {
  height: 16px;
  min-width: 16px;
  position: relative;
}

.arrow-down-7 {
  height: 16px;
  min-width: 16px;
  position: relative;
}

.arrow-down-8 {
  height: 16px;
  min-width: 16px;
  position: relative;
}

.group-119 {
  background-color: var(--gigas);
  border-radius: 8px;
  height: 142px;
  min-width: 322px;
  position: relative;
}

.frame-116 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 8px;
  left: 16px;
  position: relative;
  top: 24px;
  width: fit-content;
}

.group-115 {
  height: 63px;
  min-width: 290px;
  position: relative;
}

.frame-container-3 {
  align-items: flex-start;
  display: flex;
  gap: 117px;
  height: 39px;
  left: 0;
  min-width: 290px;
  position: absolute;
  top: 24px;
}

.frame {
  align-items: center;
  background-color: var(--primarywhite100);
  border-radius: 24px;
  display: flex;
  gap: 8px;
  height: 39px;
  overflow: hidden;
  padding: 8px 16px;
  position: relative;
  width: fit-content;
}

.group-114 {
  align-items: flex-start;
  display: flex;
  height: 16px;
  left: 0;
  min-width: 290px;
  position: absolute;
  top: 0;
}

.overlap-group3 {
  height: 16px;
  position: relative;
  width: 290px;
}

.rectangle-36 {
  background-color: var(--texttertiary);
  border-radius: 24px;
  height: 2px;
  left: 0;
  opacity: 0.1;
  position: absolute;
  top: 7px;
  width: 290px;
}

.overlap-group2-1 {
  height: 16px;
  left: 150px;
  position: absolute;
  top: 0;
  width: 140px;
}

.group-112 {
  align-items: center;
  background: linear-gradient(
    180deg,
    rgb(239, 100, 152) 0%,
    rgb(84, 45, 145) 100%
  );
  border-radius: 4px;
  display: flex;
  height: 16px;
  left: 120px;
  min-width: 16px;
  padding: 0 3px;
  position: absolute;
  top: 0;
}

.overlap-group {
  align-items: center;
  background-color: var(--primarywhite100);
  border-radius: 12px;
  display: flex;
  height: 10px;
  min-width: 10px;
  padding: 0 2px;
}

.rectangle-41 {
  background: linear-gradient(
    180deg,
    rgb(239, 100, 152) 0%,
    rgb(84, 45, 145) 100%
  );
  border-radius: 12px;
  height: 6px;
  width: 6px;
}

.group-111 {
  align-items: center;
  background: linear-gradient(
    180deg,
    rgb(239, 100, 152) 0%,
    rgb(84, 45, 145) 100%
  );
  border-radius: 4px;
  display: flex;
  height: 16px;
  left: 4px;
  min-width: 16px;
  padding: 0 3px;
  position: absolute;
  top: 0;
}

.rectangle-37 {
  background: linear-gradient(
    180deg,
    rgb(239, 100, 152) 0%,
    rgb(84, 45, 145) 100%
  );
  border-radius: 24px;
  height: 2px;
  left: 0;
  position: absolute;
  top: 7px;
  width: 140px;
}

.group-120 {
  height: 455px;
  min-width: 322px;
  position: relative;
}

.overlap-group4 {
  border-radius: 8px;
  height: 455px;
  position: relative;
  width: 322px;
}

.text-48 {
  direction: rtl;
  left: 208px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 23px;
}

.group-122 {
  align-items: flex-end;
  background-color: var(--gigas);
  border-radius: 8px;
  display: flex;
  height: 455px;
  left: 0;
  min-width: 322px;
  padding: 24px 16px;
  position: absolute;
  top: 0;
}

.frame-265 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 287px;
}

.frame-2-1 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  gap: 8px;
  position: relative;
}

.rectangle {
  flex: 1;
  height: 40px;
  min-width: 90.33px;
  position: relative;
}

.rectangle-24 {
  flex: 1;
  height: 40px;
  min-width: 90.33px;
  object-fit: cover;
  position: relative;
}

.frame-117-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  margin-left: 2px;
  margin-top: 64px;
  position: relative;
  width: fit-content;
}

.brands {
  height: 96px;
  min-width: 1362px;
  position: relative;
}

.group-96 {
  align-items: flex-end;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/647e315db5bfd8ae1d55af3a/releases/647e56210f38b17766c8adf0/img/mask-group.png);
  background-size: 100% 100%;
  display: flex;
  height: 600px;
  margin-top: 32px;
  min-width: 1360px;
  padding: 20px 636px;
}

.frame-132 {
  align-items: center;
  display: flex;
  gap: 8px;
  height: 48px;
  justify-content: center;
  padding: 8px;
  position: relative;
  width: fit-content;
}

.ellipse-3 {
  background-color: var(--primarywhite100);
  border-radius: 4px;
  height: 8px;
  min-width: 8px;
  position: relative;
}

.ellipse {
  background-color: var(--primarywhite100);
  border-radius: 4px;
  height: 8px;
  min-width: 8px;
  opacity: 0.4;
  position: relative;
}

