:root { 
  --primaryblack100: #000000;
  --primarypink100: #ef6498;
  --primarypink50: #ef6498;
  --primarypink80: #ef6498;
  --primarypurple100: #542d91;
  --primarypurple50: #542d91;
  --primarypurple80: #542d91;
  --primarywhite100: #ffffff;
  --secondaryvaliant-poppy: #d40054;
  --textprimary: #312b43;
  --textsecondary: #5a5568;
  --texttertiary: #837f8e;
 
  --font-size-l: 16px;
  --font-size-m: 14px;
  --font-size-xl: 20px;
 
  --font-family-bahij_thesansarabic-black: "Bahij TheSansArabic-Black", Helvetica;
  --font-family-bahij_thesansarabic-bold: "Bahij TheSansArabic-Bold", Helvetica;
}
.bahijthesansarabic-bold-scarpa-flow-14px {
  color: var(--textsecondary);
  font-family: var(--font-family-bahij_thesansarabic-bold);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.bahijthesansarabic-bold-blackcurrant-14px {
  color: var(--textprimary);
  font-family: var(--font-family-bahij_thesansarabic-bold);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.bahijthesansarabic-bold-blackcurrant-16px {
  color: var(--textprimary);
  font-family: var(--font-family-bahij_thesansarabic-bold);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
}

.bahijthesansarabic-bold-mamba-16px {
  color: var(--texttertiary);
  font-family: var(--font-family-bahij_thesansarabic-bold);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
}

.bahijthesansarabic-bold-violet-red-16px {
  color: var(--primarypink100);
  font-family: var(--font-family-bahij_thesansarabic-bold);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
}
