@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@font-face {
  font-family: "Bahij TheSansArabic-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("https://fonts.animaapp.com/BahijTheSansArabic-Bold")
    format("truetype");
}

:root {
  --textprimary: #312b43;
  --textsecondary: #5a5568;
  --texttertiary: #837f8e;
  --primarypurple100: #542d91;
  --primarypurple100: #542d91;
  --primarypurple100: #542d91;
  --primarypink100: #ef6498;
  --primarypink100: #ef6498;
  --primarypink100: #ef6498;
  --primaryblack100: #000000;
  --primarywhite100: #ffffff;
  --secondaryvaliant-poppy: #d40054;
  --secondaryred-pear: #9f2842;
  --secondarygrape-compote: #3d1152;
  --violet-red: #ef64980d;
  --cultured-pearl: #f5f5f5;
  --gigas: #542d910d;
  --white: #ffffff80;
  --wisp-pink: #fef7fa;
  --font-size-m2: 14px;
  --font-size-s2: 12px;
  --font-size-l2: 16px;
  --font-size-xxl: 24px;
  --font-family-bahij_thesansarabic-bold: "Bahij TheSansArabic-Bold", Helvetica;
}

* {
  box-sizing: border-box;
}

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

.store-product {
  background-color: var(--primarywhite100);
  border: 1px none;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.frame-162 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
  width: 1234px;
}

.group-106 {
  display: flex;
  gap: 71.8px;
  height: 40px;
  min-width: 1234px;
  position: relative;
}

.frame-46 {
  align-items: center;
  display: flex;
  gap: 24px;
  height: 23px;
  justify-content: flex-end;
  margin-top: 7.5px;
  position: relative;
  width: 828px;
}

.bahijthesansarabic-bold-blackcurrant-14px {
  color: var(--textprimary);
  font-family: var(--font-family-bahij_thesansarabic-bold);
  font-size: var(--font-size-m2);
  font-style: normal;
  font-weight: 700;
}

.text {
  direction: rtl;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: left;
  width: fit-content;
}

.frame-106 {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  width: fit-content;
}

.store-product .arrow-down-5 {
  height: 16px;
  min-width: 16px;
  position: relative;
}

.store-product .text-8 {
  direction: rtl;
  letter-spacing: 0;
}

.bahijthesansarabic-bold-white-14px-22 {
  font-family: var(--font-family-bahij_thesansarabic-bold);
  font-size: var(--font-size-m2);
  font-style: normal;
  font-weight: 700;
}

.text-1 {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(
    180deg,
    rgb(239, 100, 152) 0%,
    rgb(84, 45, 145) 100%
  );
  background-clip: text;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: left;
  text-fill-color: transparent;
  width: fit-content;
}

.frame-161 {
  align-items: center;
  display: flex;
  gap: 24px;
  height: 40px;
  position: relative;
  width: 334.19px;
}

.user {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: center;
  position: relative;
  width: fit-content;
}

.group-127 {
  border: 2px solid;
  border-color: var(--wisp-pink);
  border-radius: 12px;
  display: flex;
  height: 40px;
  min-width: 40px;
  position: relative;
}

.user-1 {
  height: 24px;
  margin-left: 8px;
  margin-top: 8px;
  width: 24px;
}

.frame-159 {
  align-items: flex-start;
  display: flex;
  gap: 4px;
  position: relative;
  width: fit-content;
}

.frame-160 {
  align-items: center;
  display: flex;
  gap: 2px;
  justify-content: center;
  position: relative;
  width: fit-content;
}

.arrow-down {
  height: 16px;
  min-width: 16px;
  position: relative;
}

.frame, .product-tab-table__container {
  align-items: flex-start;
  display: flex;
  gap: 16px;
  position: relative;
  width: 100%;
}

.product-tab-table .product-tab-table__container:nth-child(even) .product-tab-table__colum {
    background: #FFF;
}
.product-tab-table .product-tab-table__container:nth-child(odd) .product-tab-table__colum {
    background: rgba(255, 255, 255, 0.50);

}


.group-80 {
  height: 32px;
  min-width: 32px;
  position: relative;
}

.overlap-group2 {
  height: 32px;
  position: relative;
  width: 34px;
}

.heart-1 {
  height: 24px;
  left: 0;
  position: absolute;
  top: 8px;
  width: 24px;
}

.store-product .overlap-group-3 {
  height: 20px;
  position: absolute;
  top: 0;
  width: 16px;
}

.overlap-group-2 {
  left: 16px;
}

.ellipse-1 {
  background-color: var(--primarypurple100);
  border-radius: 8px;
  height: 16px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 16px;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.number {
  height: 20px;
  left: 4px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
}

.bahijthesansarabic-bold-white-12px {
  color: var(--primarywhite100);
  font-family: var(--font-family-bahij_thesansarabic-bold);
  font-size: var(--font-size-s2);
  font-style: normal;
  font-weight: 700;
}

.group-81 {
  height: 32px;
  min-width: 31px;
  position: relative;
}

.group-container-1 {
  height: 32px;
  position: relative;
  width: 33px;
}

.group-75 {
  height: 24px;
  left: 0;
  position: absolute;
  top: 8px;
  width: 24px;
}

.overlap-group-1 {
  left: 15px;
}

.x0 {
  height: 20px;
  left: 6px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
}

.language {
  letter-spacing: 0;
  line-height: normal;
  margin-right: -13.81px;
  opacity: 0;
  position: relative;
  width: fit-content;
}

.group-107 {
  height: 39px;
  margin-right: -10px;
  min-width: 1244px;
  position: relative;
}

.frame-container-1 {
  min-width: 1244px;
}

.store-product .frame-container-3 {
  align-items: center;
  display: flex;
}

.frame-158 {
  align-items: center;
  display: flex;
  gap: 8px;
  position: relative;
  width: 288px;
}

.button-1 {
  align-items: center;
  background-color: var(--violet-red);
  border-radius: 24px;
  display: flex;
  gap: 8px;
  justify-content: center;
  padding: 8px 24px;
  position: relative;
  width: fit-content;
}

.truck {
  height: 16px;
  min-width: 16px;
  position: relative;
}

.text_label {
  color: var(--primarypink100);
  direction: rtl;
  font-family: var(--font-family-bahij_thesansarabic-bold);
  font-size: var(--font-size-m2);
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: left;
  width: fit-content;
}

.button {
  align-items: center;
  background: linear-gradient(
    180deg,
    rgb(239, 100, 152) 0%,
    rgb(84, 45, 145) 100%
  );
  border-radius: 24px;
  display: flex;
  gap: 8px;
  justify-content: center;
  padding: 8px 24px;
  position: relative;
  width: fit-content;
}

.shopping-bag {
  height: 16px;
  min-width: 16px;
  position: relative;
}

.bahijthesansarabic-bold-white-14px2 {
  color: var(--primarywhite100);
  font-family: var(--font-family-bahij_thesansarabic-bold);
  font-size: var(--font-size-m2);
  font-style: normal;
  font-weight: 700;
}

.frame-156 {
  align-items: center;
  display: flex;
  gap: 8px;
  margin-bottom: 1px;
  margin-left: 219px;
  position: relative;
  width: 150px;
}

.group-10 {
  background-color: var(--violet-red);
  border-radius: 12px;
  display: flex;
  height: 32px;
  min-width: 32px;
  position: relative;
}

.facebook {
  height: 24px;
  margin-left: 4px;
  margin-top: 4px;
  width: 24px;
}

.instagram {
  height: 24px;
  margin-left: 4px;
  margin-top: 4px;
  width: 24px;
}

.twitter {
  height: 24px;
  margin-left: 4px;
  margin-top: 4px;
  width: 24px;
}

.iconmonstr-snapchat-1-1 {
  height: 24px;
  min-width: 24px;
  position: relative;
}

.frame-56 {
  align-items: center;
  background-color: var(--wisp-pink);
  border-radius: 24px;
  display: flex;
  height: 39px;
  justify-content: space-between;
  margin-left: 252px;
  overflow: hidden;
  padding: 8px 16px;
  position: relative;
  width: 335px;
}

.bahijthesansarabic-bold-mamba-14px {
  color: var(--texttertiary);
  font-family: var(--font-family-bahij_thesansarabic-bold);
  font-size: var(--font-size-m2);
  font-style: normal;
  font-weight: 700;
}

.search {
  height: 24px;
  margin-bottom: -0.5px;
  margin-top: -0.5px;
  min-width: 24px;
  position: relative;
}

.logo {
  height: 96px;
  min-width: 75.6px;
  overflow: hidden;
  position: relative;
}

.layer-1 {
  display: flex;
  height: 96px;
  width: 76px;
}

.group {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 1px;
  min-height: 100%;
  width: 75.6px;
}

.flex-row {
  align-items: flex-end;
  display: flex;
  gap: 1px;
  height: 17px;
  margin-left: 3.88px;
  min-width: 71px;
}

.flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 2px;
  min-height: 17px;
  width: 59px;
}

.flex-row-2 {
  align-items: center;
  display: flex;
  height: 10px;
  min-width: 59px;
}

.vector-6 {
  align-self: flex-start;
  height: 8px;
  margin-left: 1px;
  width: 1px;
}

.vector-container-2 {
  align-self: flex-end;
  height: 6px;
  margin-bottom: 0.03px;
  margin-left: 1px;
  position: relative;
  width: 10px;
}

.vector-17 {
  height: 4px;
  left: 5px;
  position: absolute;
  top: 0;
  width: 5px;
}

.vector-16 {
  height: 6px;
  left: 0;
  position: absolute;
  top: 0;
  width: 5px;
}

.vector-4 {
  height: 6px;
  margin-bottom: 0.21px;
  margin-left: 1px;
  width: 1px;
}

.vector-container-1 {
  align-self: flex-end;
  height: 8px;
  position: relative;
  width: 14px;
}

.vector-9 {
  height: 1px;
  left: 5px;
  position: absolute;
  top: 6px;
  width: 2px;
}

.vector-8 {
  height: 1px;
  left: 3px;
  position: absolute;
  top: 6px;
  width: 2px;
}

.vector-7 {
  height: 6px;
  left: 0;
  position: absolute;
  top: 2px;
  width: 3px;
}

.vector-10 {
  height: 4px;
  left: 7px;
  position: absolute;
  top: 2px;
  width: 6px;
}

.vector-11 {
  height: 6px;
  left: 12px;
  position: absolute;
  top: 0;
  width: 2px;
}

.vector-5 {
  height: 6px;
  margin-bottom: 0.09px;
  margin-left: 2px;
  width: 4px;
}

.vector-3 {
  align-self: flex-start;
  height: 8px;
  margin-top: 0;
  width: 3px;
}

.vector-container-4 {
  align-self: flex-end;
  height: 8px;
  margin-left: 2px;
  position: relative;
  width: 14px;
}

.vector-15 {
  height: 6px;
  left: 10px;
  position: absolute;
  top: 0;
  width: 4px;
}

.vector-13 {
  height: 1px;
  left: 7px;
  position: absolute;
  top: 6px;
  width: 2px;
}

.vector-14 {
  height: 1px;
  left: 9px;
  position: absolute;
  top: 6px;
  width: 2px;
}

.vector-12 {
  height: 7px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 5px;
}

.vector-container-3 {
  align-items: flex-end;
  display: flex;
  margin-left: 2.16px;
  min-width: 56px;
}

.vector-21 {
  height: 5px;
  margin-left: 10px;
  width: 4px;
}

.vector-19 {
  height: 5px;
  margin-left: 10px;
  width: 2px;
}

.vector-20 {
  height: 5px;
  margin-left: 9px;
  width: 4px;
}

.vector-18 {
  height: 5px;
  width: 4px;
}

.flex-row-1 {
  align-items: flex-start;
  display: flex;
  gap: 1px;
  height: 15px;
  min-width: 11px;
}

.vector-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 3px;
  min-height: 15px;
  width: 6px;
}

.vector-1 {
  height: 5px;
  margin-left: 1.14px;
  width: 4px;
}

.vector {
  height: 8px;
  width: 6px;
}

.vector-2 {
  height: 6px;
  margin-top: 1.65px;
  width: 4px;
}

.group-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-left: 0;
  min-height: 78px;
  width: 76px;
}

.clip-path-group-container {
  height: 69px;
  position: relative;
  width: 76px;
}

.clip-path-group-2 {
  height: 66px;
  left: 0;
  position: absolute;
  top: 0;
  width: 76px;
}

.clip-path-group-1 {
  height: 4px;
  left: 50px;
  position: absolute;
  top: 65px;
  width: 4px;
}

.clip-path-group-3 {
  height: 10px;
  left: 44px;
  position: absolute;
  top: 17px;
  width: 17px;
}

.clip-path-group {
  height: 7px;
  margin-left: 4.14px;
  width: 8px;
}

.store-product-wrapper {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 64px;
  margin-top: 48px;
  position: relative;
  width: 100%;
}

.store-product-wrapper-1 {
  background-color: var(--gigas);
  border-radius: 8px;
  height: 431px;
  min-width: 1360px;
  overflow: hidden;
  position: relative;
}

.flex-col-2 {
  left: 439px;
  min-height: 348px;
  position: relative;
  top: 24px;
  width: 897px;
}

.store-product .flex-col-4 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}

.frame-237-1 {
  align-items: flex-start;
  background-color: var(--primarywhite100);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 120px;
  margin-top: 9px;
  padding: 16px;
  position: relative;
  width: 897px;
}

.frame-216-1 {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 4px;
  position: relative;
}

.bahijthesansarabic-bold-scarpa-flow-14px {
  color: var(--textsecondary);
  font-family: var(--font-family-bahij_thesansarabic-bold);
  font-size: var(--font-size-m2);
  font-style: normal;
  font-weight: 700;
}

.text-47 {
  line-height: normal;
  position: relative;
  width: 100%;
}

.frame-282 {
  align-items: flex-start;
  display: flex;
  gap: 70px;
  position: relative;
  width: fit-content;
}

.frame-216, .product-question__heade-title {
  align-items: center;
  display: flex;
  gap: 4px;
  position: relative;
  width: auto;
  max-width: 90%;
  direction: ltr;
}

.text-4 {
  flex: 1;
  line-height: normal;
  margin-top: -1px;
  position: relative;
}

.vector-22 {
  height: 6.75px;
  min-width: 7.99px;
  position: relative;
}

.frame-2-5 {
  align-items: flex-start;
  background-color: var(--primarywhite100);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  padding: 16px;
  position: relative;
  width: 897px;
}

.frame-236 {
  align-items: center;
  background-color: var(--primarywhite100);
  border-radius: 8px;
  display: flex;
  gap: 16px;
  justify-content: center;
  padding: 4px;
  position: relative;
  width: fit-content;
}

.frame-2-1 {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: center;
  padding: 8px 8px 8px 24px;
  position: relative;
  width: fit-content;
}

.text-2 {
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.frame-2-3 {
  align-items: center;
  background-color: var(--primarypink100);
  border-radius: 8px;
  display: flex;
  gap: 8px;
  justify-content: center;
  padding: 8px 24px;
  position: relative;
  width: fit-content;
}

.frame-2-4 {
  align-items: center;
  border-radius: 8px;
  display: flex;
  gap: 8px;
  justify-content: center;
  padding: 8px 8px 8px 24px;
  position: relative;
  width: fit-content;
}

.text-55 {
  line-height: normal;
  margin-top: 23px;
  min-height: 23px;
  min-width: 94px;
}

.frame-4 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
  width: fit-content;
}

.frame-132 {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: center;
  padding: 8px;
  position: relative;
  width: fit-content;
}

.ellipse-3 {
  background-color: var(--primarypurple100);
  border-radius: 4px;
  height: 8px;
  min-width: 8px;
  position: relative;
}

.ellipse {
  background-color: var(--primarypurple100);
  border-radius: 4px;
  height: 8px;
  min-width: 8px;
  opacity: 0.4;
  position: relative;
}

.frame-259 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
  width: fit-content;
}

.store-product .product-4 {
  align-items: flex-start;
  display: flex;
  position: relative;
  width: fit-content;
}

.product-title {
  justify-content: flex-end;
}

.group-63 {
  height: 16px;
  margin-left: -8px;
  min-width: 26.82px;
  position: relative;
}

.bahijthesansarabic-bold-white-24px {
  font-family: var(--font-family-bahij_thesansarabic-bold);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
}

.text_label-1 {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(
    180deg,
    rgb(239, 100, 152) 0%,
    rgb(84, 45, 145) 100%
  );
  background-clip: text;
  direction: rtl;
  letter-spacing: 0;
  line-height: 38px;
  margin-top: -1px;
  position: relative;
  text-fill-color: transparent;
  white-space: nowrap;
  width: fit-content;
}

.frame-5 {
  align-items: flex-start;
  display: flex;
  gap: 24px;
  justify-content: flex-end;
  position: relative;
  width: fit-content;
}

.product-2 {
  flex-direction: column;
  gap: 8px;
}

.store-product .frame-165-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: fit-content;
}

.store-product .group-108-4 {
  background-size: 100% 100%;
  height: 180px;
  min-width: 322px;
  position: relative;
}

.group-108-2 {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/647e315db5bfd8ae1d55af3a/releases/64aae137a1eb198f96a1b446/img/rectangle-1-2@2x.png);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.frame-168-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 4px;
  height: 52px;
  margin-left: 290px;
  margin-top: 8px;
  position: relative;
  width: 24px;
}

.store-product .qucik-view-4 {
  align-items: center;
  background-color: var(--cultured-pearl);
  border-radius: 8px;
  display: flex;
  gap: 8px;
  height: 24px;
  justify-content: center;
  padding: 4px;
  position: relative;
  width: 24px;
}

.store-product .eye-4 {
  height: 15px;
  min-width: 15px;
  position: relative;
}

.store-product .favorite-5 {
  align-items: center;
  background-color: var(--cultured-pearl);
  border-radius: 8px;
  display: flex;
  gap: 8px;
  height: 24px;
  justify-content: center;
  padding: 4px;
  position: relative;
  width: 24px;
}

.heart {
  height: 13px;
  min-width: 15px;
  position: relative;
}

.cart-button-1 {
  align-self: center;
  height: 24px;
  justify-content: flex-end;
  margin-bottom: 8px;
  margin-left: 202px;
  width: 104px;
}

.store-product .cart-button-2 {
  align-items: center;
  border-radius: 8px;
  display: flex;
  position: relative;
}

.store-product .frame-109-5 {
  height: 24px;
  min-width: 24px;
  position: relative;
}

.frame-166 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: fit-content;
}

.frame-98-1 {
  align-items: flex-end;
  display: flex;
  gap: 8px;
  justify-content: flex-end;
  position: relative;
  width: 321px;
}

.bahijthesansarabic-bold-violet-red-16px {
  color: var(--primarypink100);
  font-family: var(--font-family-bahij_thesansarabic-bold);
  font-size: var(--font-size-l2);
  font-style: normal;
  font-weight: 700;
}

.price-1 {
  line-height: normal;
  margin-top: -1px;
}

.store-product .price-4 {
  letter-spacing: 0;
  position: relative;
  width: fit-content;
}

.frame-163 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  position: relative;
  width: fit-content;
}

.rating-star {
  height: 16px;
  min-width: 16px;
  width: 16px;
  position: relative;
}

.maybelline-lifter-lip-gloss-008-stone {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: right;
  width: 322px;
}

.bahijthesansarabic-bold-blackcurrant-16px {
  color: var(--textprimary);
  font-family: var(--font-family-bahij_thesansarabic-bold);
  font-size: var(--font-size-l2);
  font-style: normal;
  font-weight: 700;
}

.product-3 {
  flex-direction: column;
  gap: 8px;
}

.group-108-3 {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/647e315db5bfd8ae1d55af3a/releases/64aae137a1eb198f96a1b446/img/rectangle-1-3@2x.png);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-1 {
  flex-direction: column;
  gap: 8px;
}

.frame-98 {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 321px;
}

.bahijthesansarabic-bold-mamba-16px {
  color: var(--texttertiary);
  font-family: var(--font-family-bahij_thesansarabic-bold);
  font-size: var(--font-size-l2);
  font-style: normal;
  font-weight: 700;
}

.price {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  opacity: 0.7;
  position: relative;
  text-align: right;
  text-decoration: line-through;
  width: fit-content;
}

.group-108-1 {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/647e315db5bfd8ae1d55af3a/releases/64aae137a1eb198f96a1b446/img/rectangle-1-1@2x.png);
}

.cart-button {
  align-items: center;
  border-radius: 8px;
  display: flex;
  height: 24px;
  justify-content: flex-end;
  left: 210px;
  position: absolute;
  top: 148px;
  width: 104px;
}

.frame-container {
  align-items: center;
  display: flex;
  gap: 248px;
  height: 52px;
  left: 0;
  min-width: 314px;
  position: absolute;
  top: 8px;
}

.frame-168 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: relative;
  width: fit-content;
}

.frame-169 {
  align-items: center;
  background-color: var(--secondaryvaliant-poppy);
  border-radius: 0px 16px 16px 0px;
  display: flex;
  gap: 8px;
  justify-content: center;
  padding: 8px;
  position: relative;
  width: fit-content;
}

.text-10 {
  line-height: 19px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.product {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: fit-content;
}

.frame-165 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: fit-content;
}

.group-108 {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/647e315db5bfd8ae1d55af3a/releases/64aae137a1eb198f96a1b446/img/rectangle-1@2x.png);
  background-size: 100% 100%;
  height: 180px;
  min-width: 322px;
  position: relative;
}

.qucik-view {
  align-items: center;
  background-color: var(--cultured-pearl);
  border-radius: 8px;
  display: flex;
  gap: 8px;
  height: 24px;
  justify-content: center;
  padding: 4px;
  position: relative;
  width: 24px;
}

.eye {
  height: 15px;
  min-width: 15px;
  position: relative;
}

.frame-281 {
  height: 650px;
  min-width: 1360px;
  overflow: hidden;
  position: relative;
}

.overlap-group2-1 {
  align-items: flex-end;
  background-color: var(--gigas);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 23px;
  min-height: 729px;
  padding: 24px;
  width: 1360px;
}

.flex-row-3, .ratings-container {
  display: flex;
  gap: 24px;
  height: 532px;
  align-items: flex-start;
  display: flex;
  gap: 24px;
  height: 532px;
  width: 100%;
  justify-content: flex-start;
}

.rating-card__container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.frame-28 {
  align-items: flex-start;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
  width: fit-content;
}

.frame-1-1, .rating-card {
  align-items: flex-end;
  background-color: var(--primarywhite100);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
  position: relative;
  width: 100%;
  margin-bottom: 16px;
}

.frame-2 {
  align-items: flex-start;
  display: flex;
  gap: 8px;
  justify-content: flex-end;
  position: relative;
  width: fit-content;
}

.rating-card__inner-container {
  align-items: flex-start;
  display: flex;
  gap: 8px;
  justify-content: flex-end;
  position: relative;
  width: 100%;
}

.product-slider__container {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
  width: 100%;
  padding: 0;
}
.frame-2-2 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 100%;
}

.text-7 {
  line-height: normal;
  position: relative;
  width: 444px;
}

.frame-284 {
  align-items: center;
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.frame-2-7 {
  align-items: center;
  display: flex;
  gap: 24px;
  position: relative;
  width: fit-content;
}

.frame-1 {
  align-items: center;
  display: flex;
  gap: 4px;
  justify-content: flex-end;
  position: relative;
  width: fit-content;
}

.store-product .check-8 {
  height: 16px;
  min-width: 16px;
  position: relative;
}

.bahijthesansarabic-bold-blackcurrant-12px {
  color: var(--textprimary);
  font-family: var(--font-family-bahij_thesansarabic-bold);
  font-size: var(--font-size-s2);
  font-style: normal;
  font-weight: 700;
}

.rectangle-29 {
  height: 40px;
  min-width: 40px;
  position: relative;
}

.check {
  height: 16px;
  min-width: 16px;
  position: relative;
}

.flex-col-3 {
  gap: 25px;
  min-height: 532px;
  width: 530px;
}

.text-101 {
  line-height: normal;
  min-height: 23px;
  min-width: 58px;
}

.frame-2-6 {
  height: 431px;
  min-width: 1360px;
  position: relative;
}

.pannel-group {
  align-items: flex-end;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 24px;
  padding-top: 0;
  width: 100%;
}
.pannel-group .accordion {
    width: 100%;
}
.pannel-group__title {
    direction: rtl;
    letter-spacing: 0;
    line-height: normal;
    color: var(--textprimary);
    font-family: var(--font-family-bahij_thesansarabic-bold);
    font-size: var(--font-size-m2);
    font-style: normal;
    font-weight: 700;
}

.pannel-group__bold-content {
    direction: rtl;
    letter-spacing: 0;
    line-height: normal;
    margin-top: 16px;
    color: var(--textprimary);
    font-family: var(--font-family-bahij_thesansarabic-bold);
    font-size: var(--font-size-m2);
    font-style: normal;
    font-weight: 700;
}

.pannel-group__content {
    direction: rtl;
    letter-spacing: 0;
    line-height: normal;
    padding: 0 32px;
    margin-top: 16px;
    color: var(--textsecondary);
    font-family: var(--font-family-bahij_thesansarabic-bold);
    font-size: var(--font-size-m2);
    font-style: normal;
    font-weight: 700;
}

.text-69 {
  line-height: normal;
  margin-top: 23px;
  min-height: 23px;
  min-width: 99px;
}

.text-6 {
  line-height: normal;
  margin-right: 32px;
  margin-top: 16px;
  min-height: 184px;
  width: 891px;
}

.text-5 {
  line-height: normal;
  margin-top: 16px;
  min-height: 46px;
  width: 891px;
}

.store-product-upper-part {
  align-items: flex-start;
  display: flex;
  gap: 71px;
  position: relative;
  width: fit-content;
}

.product-page-title-container {
  position: relative;
}

.flex-col-1 {
  min-height: 445px;
  width: 506px;
}

.rating-1 {
  height: 16px;
  margin-top: 8px;
  width: 80px;
}

.frame-272 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-right: 0.6px;
  margin-top: 24px;
  position: relative;
  width: fit-content;
}

.bahijthesansarabic-bold-black-14px {
  color: var(--primaryblack100);
  font-family: var(--font-family-bahij_thesansarabic-bold);
  font-size: var(--font-size-m2);
  font-style: normal;
  font-weight: 700;
}

.rectangle-24 {
  height: 48px;
  min-width: 108.4px;
  object-fit: cover;
  position: relative;
}

.frame-69 {
  align-items: center;
  display: flex;
  gap: 2px;
  justify-content: flex-end;
  position: relative;
  width: fit-content;
}

.chevron-left {
  height: 16px;
  min-width: 16px;
  position: relative;
}

.text-15 {
  color: var(--primarypurple100);
  font-family: var(--font-family-bahij_thesansarabic-bold);
  font-size: var(--font-size-s2);
  font-weight: 700;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.bahijthesansarabic-bold-violet-red-12px {
  color: var(--primarypink100);
  font-family: var(--font-family-bahij_thesansarabic-bold);
  font-size: var(--font-size-s2);
  font-style: normal;
  font-weight: 700;
}

.chevron-left-1 {
  height: 16px;
  min-width: 16px;
  position: relative;
}

.text-18 {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(
    180deg,
    rgb(239, 100, 152) 0%,
    rgb(84, 45, 145) 100%
  );
  background-clip: text;
  line-height: 38px;
  margin-top: 8px;
  text-fill-color: transparent;
  white-space: nowrap;
}

.text-14 {
  line-height: normal;
  margin-top: 16px;
}

.frame-235 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-right: 1px;
  margin-top: 24px;
  position: relative;
  width: fit-content;
}

.frame-201 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: relative;
  width: fit-content;
}

.group-125 {
  background-color: #d4005433;
  border-radius: 14px;
  display: flex;
  height: 40px;
  min-width: 40px;
  position: relative;
}

.store-product .x-3 {
  height: 24px;
  margin-left: 8px;
  margin-top: 8px;
  width: 24px;
}

.rectangle-47 {
  background-color: var(--secondarygrape-compote);
  border-radius: 14px;
  height: 40px;
  min-width: 40px;
  position: relative;
}

.rectangle-38 {
  background-color: var(--primarypurple100);
  border-radius: 14px;
  height: 40px;
  min-width: 40px;
  position: relative;
}

.group-116 {
  background-color: #88674f33;
  border-radius: 14px;
  display: flex;
  height: 40px;
  min-width: 40px;
  position: relative;
}

.group-124 {
  background-color: #005c5d33;
  border-radius: 14px;
  display: flex;
  height: 40px;
  min-width: 40px;
  position: relative;
}

.x {
  height: 24px;
  margin-left: 8px;
  margin-top: 8px;
  width: 24px;
}

.group-120 {
  background-color: var(--secondaryred-pear);
  border-radius: 14px;
  height: 40px;
  min-width: 40px;
  position: relative;
}

.rectangle-48 {
  background-color: var(--primarypink100);
  border-radius: 14px;
  height: 40px;
  min-width: 40px;
  position: relative;
}

.frame-273 {
  align-items: center;
  display: flex;
  gap: 47px;
  margin-top: 32px;
  position: relative;
  width: fit-content;
}

.cart-button-large {
  background-color: var(--primarypurple100);
  cursor: pointer;
  gap: 4px;
  justify-content: center;
  padding: 8px 16px;
  width: fit-content;
}

.frame-109 {
  height: 24px;
  min-width: 24px;
  position: relative;
}

.text-19 {
  line-height: normal;
  margin-top: -0.5px;
  position: relative;
  width: fit-content;
}

.favorite {
  align-items: center;
  background-color: var(--cultured-pearl);
  border-radius: 8px;
  display: flex;
  gap: 8px;
  height: 40px;
  justify-content: center;
  padding: 8px 4px;
  position: relative;
  width: 40px;
}

.frame-3 {
  align-items: center;
  display: flex;
  gap: 8px;
  position: relative;
  width: fit-content;
}

.price-3 {
  color: var(--primarypink100);
  font-family: var(--font-family-bahij_thesansarabic-bold);
  font-size: var(--font-size-xxl);
  font-weight: 700;
  line-height: 38px;
  margin-top: -1px;
  white-space: nowrap;
}

.price-2 {
  line-height: normal;
  opacity: 0.7;
  text-align: right;
  text-decoration: line-through;
}

.product-main-images-container {
  align-items: flex-start;
  display: flex;
  gap: 8px;
  position: relative;
}

.frame-232 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: fit-content;
}

.rectangle {
  height: 107px;
  min-width: 130px;
  object-fit: cover;
  position: relative;
}

.rectangle-32 {
  height: 452px;
  min-width: 645px;
  position: relative;
}

.product-tabs-contaainer {
  background-color: var(--gigas);
  border-radius: 8px;
  display: flex;
  overflow: hidden;
  position: relative;
  width: 100%;
  padding: 24px;
}

.product-TABS {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: relative;
  width: 100%;
}

.frame-237 {
  align-items: flex-start;
  background-color: var(--primarypink100);
  border-radius: 8px;
  display: flex;
  gap: 8px;
  padding: 8px 24px;
  position: relative;
  width: fit-content;
}

.frame-257 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: relative;
  width: fit-content;
}

.product-tabs-content {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 100%;
}

.text-28 {
  align-self: stretch;
  line-height: normal;
  position: relative;
}

.text-2-1 {
  direction: rtl;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: 579px;
}

.product-tab-table {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 100%;
}

.product-tab-table__colum {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
  position: relative;
  width: 100%;
}

.frame-240 {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}

.text-3 {
  line-height: normal;
  position: relative;
  width: 50%;
}

.frame-24-1 {
  align-items: flex-start;
  background-color: var(--primarywhite100);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
  position: relative;
  width: 537px;
}

.footer {
  background-color: transparent;
  height: 492px;
  min-width: 1360px;
  position: relative;
}

.frame-container-2 {
  background-color: var(--wisp-pink);
  border-radius: 8px;
  flex-direction: column;
  gap: 28px;
  left: 0;
  min-height: 440px;
  padding: 60px 0;
  position: absolute;
  top: 0;
  width: 1360px;
}

.frame-94 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: relative;
  width: fit-content;
}

.frame-91 {
  align-items: center;
  background-color: var(--primarywhite100);
  border-radius: 32px;
  display: flex;
  height: 39px;
  justify-content: space-between;
  overflow: hidden;
  padding: 8px 24px 8px 0px;
  position: relative;
  width: 437px;
}

.frame-27 {
  align-items: center;
  background: linear-gradient(
    180deg,
    rgb(239, 100, 152) 0%,
    rgb(84, 45, 145) 100%
  );
  border-radius: 24px;
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: -8px;
  margin-top: -8px;
  padding: 8px 24px;
  position: relative;
  width: fit-content;
}

.send {
  height: 16px;
  min-width: 16px;
  position: relative;
}

.text-105 {
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.frame-93 {
  align-items: flex-start;
  display: flex;
  gap: 604px;
  position: relative;
  width: fit-content;
}

.frame-85 {
  align-items: center;
  display: flex;
  gap: 16px;
  position: relative;
  width: fit-content;
}

.instagram-1 {
  height: 24px;
  margin-left: 4px;
  margin-top: 4px;
  width: 24px;
}

.twitter-1 {
  height: 24px;
  margin-left: 4px;
  margin-top: 4px;
  width: 24px;
}

.facebook-1 {
  height: 24px;
  margin-left: 4px;
  margin-top: 4px;
  width: 24px;
}

.youtube {
  height: 24px;
  margin-left: 4px;
  margin-top: 4px;
  width: 24px;
}

.linkedin {
  height: 24px;
  margin-left: 4px;
  margin-top: 4px;
  width: 24px;
}

.group-1 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 1px;
  min-height: 100%;
  padding: 0px 0;
  width: 75.6px;
}

.vector-container-5 {
  align-self: flex-end;
  height: 8px;
  margin-bottom: 0;
  margin-left: 2px;
  position: relative;
  width: 14px;
}

.text-104 {
  color: var(--texttertiary);
  font-family: var(--font-family-bahij_thesansarabic-bold);
  font-size: var(--font-size-s2);
  font-weight: 700;
  left: 566px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 471px;
}

.text-61 {
  line-height: normal;
  margin-top: 23px;
  min-height: 23px;
  min-width: 101px;
}

.rectangle-12 {
  background: linear-gradient(
    180deg,
    rgb(239, 100, 152) 0%,
    rgb(84, 45, 145) 100%
  );
  height: 8px;
  margin-top: 24px;
  width: 1440px;
}

.product-question {
    align-items: flex-end;
    background-color: var(--primarywhite100);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 9px;
    padding: 16px;
    position: relative;
    width: 100%;
    border: none;
}

.product-question__header {
    align-items: flex-start;
    display: flex;
    gap: 70px;
    position: relative;
    width: 100%;
}

.product-question__header .accordion-button {
    padding: 0;
    color: inherit;
    background-color: transparent;
    box-shadow: none;
    color: var(--textprimary);
    font-family: var(--font-family-bahij_thesansarabic-bold);
    font-size: var(--font-size-m2);
    font-style: normal;
    font-weight: 700;
    direction: rtl;
}

.product-question__header .accordion-button::after {
    margin-left: 0;
    margin-right: auto;
    width: 16px;
    height: 16px;
    background-size: 16px;
}

.tab-content, .tab-pane {
    width: 100%;
}

.product-color__box-container {
  flex-direction: row-reverse;
}

.product-color__box {
  border-radius: 14px;
  height: 40px;
  min-width: 40px;
  position: relative;
}

.product-color__box--color_1 {
  background-color: var(--primarypurple100);
}
.product-color__box--color_2 {
  background-color: var(--secondaryred-pear);
}
.product-color__box--color_3 {
  background-color: var(--secondarygrape-compote);
}
.product-color__box--color_4 {
  background-color: var(--primarypink100);
}
.product-color__box--color_5 {
  background-color: #88674F;
}
.product-color__box--color_6 {
  background-color: #D40054;
}
.product-color__box--color_7 {
  background-color: #005C5D;
}
