<div class="frame-257">
  <div class="product-tabs-content">
    <div class="text-2-1 bahijthesansarabic-bold-blackcurrant-14px">
      عن المنتج
    </div>
    <p class="text-28 text-8 bahijthesansarabic-bold-scarpa-flow-14px">
      مشروب لخديك، يمنح أحمر الخدود السائل الفاخر لبشرتك لوناً جميلاً ومكونات
      مغذية، مثل فيتامين سي. تعمل تركيبته الكريمية الهلامية وطرف الإسفنج على ضخ
      اللون بسهولة على بشرتك للحصول على تأثير خدود ممتلئة وجميلة.
    </p>
  </div>
  <div class="frame-2-2">
    <div class="text-2-1 bahijthesansarabic-bold-blackcurrant-14px">
      مواصفات المنتج
    </div>
    <div class="product-tab-table">
      <div class="product-tab-table__container">
        <div class="product-tab-table__colum">
          <div class="frame-240">
            <div class="text-3 text-8 bahijthesansarabic-bold-scarpa-flow-14px">
              نساء
            </div>
            <div class="text-3 text-8 bahijthesansarabic-bold-mamba-14px">
              القسم
            </div>
          </div>
        </div>
        <div class="product-tab-table__colum">
          <div class="frame-240">
            <div class="text-3 text-8 bahijthesansarabic-bold-scarpa-flow-14px">
              نساء
            </div>
            <div class="text-3 text-8 bahijthesansarabic-bold-mamba-14px">
              القسم
            </div>
          </div>
        </div>
      </div>
      <div class="product-tab-table__container">
        <div class="product-tab-table__colum">
          <div class="frame-240">
            <div class="text-3 text-8 bahijthesansarabic-bold-scarpa-flow-14px">
              جميع أنواع البشرة
            </div>
            <div class="text-3 text-8 bahijthesansarabic-bold-mamba-14px">
              نوع البشرة المستهدف
            </div>
          </div>
        </div>
        <div class="product-tab-table__colum">
          <div class="frame-240">
            <div class="text-3 text-8 bahijthesansarabic-bold-scarpa-flow-14px">
              جميع أنواع البشرة
            </div>
            <div class="text-3 text-8 bahijthesansarabic-bold-mamba-14px">
              نوع البشرة المستهدف
            </div>
          </div>
        </div>
      </div>
      <div class="product-tab-table__container">
        <div class="product-tab-table__colum">
          <div class="frame-240">
            <div class="text-3 text-8 bahijthesansarabic-bold-scarpa-flow-14px">
              سائل
            </div>
            <div class="text-3 text-8 bahijthesansarabic-bold-mamba-14px">
              تكوين
            </div>
          </div>
        </div>
        <div class="product-tab-table__colum">
          <div class="frame-240">
            <div class="text-3 text-8 bahijthesansarabic-bold-scarpa-flow-14px">
              سائل
            </div>
            <div class="text-3 text-8 bahijthesansarabic-bold-mamba-14px">
              تكوين
            </div>
          </div>
        </div>
      </div>
      <div class="product-tab-table__container">
        <div class="product-tab-table__colum">
          <div class="frame-240">
            <div class="text-3 text-8 bahijthesansarabic-bold-scarpa-flow-14px">
              بشرة فاتحة
            </div>
            <div class="text-3 text-8 bahijthesansarabic-bold-mamba-14px">
              لون البشرة
            </div>
          </div>
        </div>
        <div class="product-tab-table__colum">
          <div class="frame-240">
            <div class="text-3 text-8 bahijthesansarabic-bold-scarpa-flow-14px">
              بشرة فاتحة
            </div>
            <div class="text-3 text-8 bahijthesansarabic-bold-mamba-14px">
              لون البشرة
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
