<div class="pannel-group">
  <div class="pannel-group__title">الأسئلة الشائعة</div>

  <div class="accordion" id="accordionExample">
    <div class="accordion-item product-question">
      <h2 class="accordion-header product-question__header" id="headingOne">
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseOne"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          <div class="product-question__heade-title">
            <p class="text-4 text-8 bahijthesansarabic-bold-blackcurrant-14px">
              يمنح أحمر الخدود السائل الفاخر لبشرتك لوناً جميلاً ومكونات مغذية،
              مثل فيتامين سي. تعمل تركيبته الكريمية الهلامية وطرف الإسفنج؟
            </p>
            <img
              class="vector-22"
              src="../assets/img/vector-201@2x.png"
              alt="Vector"
            />
          </div>
        </button>
      </h2>
      <div
        id="collapseOne"
        class="accordion-collapse collapse show"
        aria-labelledby="headingOne"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <p class="text-47 text-8 bahijthesansarabic-bold-scarpa-flow-14px">
            مشروب لخديك، يمنح أحمر الخدود السائل الفاخر لبشرتك لوناً جميلاً
            ومكونات مغذية، مثل فيتامين سي. تعمل تركيبته الكريمية الهلامية وطرف
            الإسفنج على ضخ اللون بسهولة على بشرتك للحصول على تأثير خدود ممتلئة
            وجميلة.
          </p>
        </div>
      </div>
    </div>
    <div class="accordion-item product-question">
      <h2 class="accordion-header product-question__header" id="headingOne">
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseTwo"
          aria-expanded="false"
          aria-controls="collapseTwo"
        >
          <div class="product-question__heade-title">
            <p class="text-4 text-8 bahijthesansarabic-bold-blackcurrant-14px">
              يمنح أحمر الخدود السائل الفاخر لبشرتك لوناً جميلاً ومكونات مغذية،
              مثل فيتامين سي. تعمل تركيبته الكريمية الهلامية وطرف الإسفنج؟
            </p>
            <img
              class="vector-22"
              src="../assets/img/vector-201@2x.png"
              alt="Vector"
            />
          </div>
        </button>
      </h2>
      <div
        id="collapseTwo"
        class="accordion-collapse collapse"
        aria-labelledby="headingOne"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <p class="text-47 text-8 bahijthesansarabic-bold-scarpa-flow-14px">
            مشروب لخديك، يمنح أحمر الخدود السائل الفاخر لبشرتك لوناً جميلاً
            ومكونات مغذية، مثل فيتامين سي. تعمل تركيبته الكريمية الهلامية وطرف
            الإسفنج على ضخ اللون بسهولة على بشرتك للحصول على تأثير خدود ممتلئة
            وجميلة.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
