<div class="pannel-group">
  <div class="pannel-group__title">
    سياسة الإستبدال
  </div>
  <p class="pannel-group__bold-content">
    للمستهلك الحق فيإستبدال السلعة أو إعادتها مع استرداد قيمتها النقدية ، دون
    إبداء أي أسباب ودون تحمل أية نفقات خلال أربعة عشر يوما من تسلمها .<br />واستثناء
    من ذلك ، لا يجوز للمستهلك مباشرة حق الإستبدال أو الإعادة في الأحوال الآتية :
  </p>
  <p class="pannel-group__content">
    1- إذا كانت طبيعة السلعة أو خصائصها أو طريقة تعبئتها أو تغليفها تحول دون
    استبدالها أو ردها ، أو يستحيل معه إعادتها إلى الحالة التي كانت عليها عند
    التعاقد .<br />2- اذا كانت السلع الإستهلاكية القابلة للتلف السريع .<br />3-
    إذا لم تكن السلعة بذات الحالة التي كانت عليها وقت البيع لسبب يرجع إلى
    المستهلك .<br />4- إذا كانت من السلع التي تصنع بناء على مواصفات خاصة حددها
    المستهلك ، وكانت السلعة مطابقة لهذه المواصفات .<br />5- الكتب والصحف
    والمجلات ، والبرامج المعلوماتية وما يماثلها.<br />6 - إذا كانت السلعة تعد من
    الحلي والمجوهرات وما في حكمها.<br />7- الملابس الداخلية وفساتين الزفاف إذا
    ما تمت إزالة أغلفتها .
  </p>
</div>
