<div class="frame-235">
  <div class="text-2 text-8 bahijthesansarabic-bold-black-14px">
    إختر اللون المفضل
  </div>
  <div class="frame-201">
    <div class="frame-1">
      <form>
        <ul class="styled-radio-elements product-color__box-container">
          <li>
            <input
              type="radio"
              class="styled-radio"
              name="radio-group"
              id="productColorRadio_4"
              checked
            />
            <label class="styled-radio-label" for="productColorRadio_4">
              <div class="product-color__box product-color__box--color_4"></div>
            </label>
          </li>
          <li>
            <input
              type="radio"
              class="styled-radio"
              name="radio-group"
              id="productColorRadio_5"
            />
            <label class="styled-radio-label" for="productColorRadio_5">
              <div class="product-color__box product-color__box--color_3"></div>
            </label>
          </li>
          <li>
            <input
              type="radio"
              class="styled-radio"
              name="radio-group"
              id="productColorRadio_6"
            />
            <label class="styled-radio-label" for="productColorRadio_6">
              <div class="product-color__box product-color__box--color_2"></div>
            </label>
          </li>
          <li>
            <input
              type="radio"
              class="styled-radio"
              name="radio-group"
              id="productColorRadio_7"
            />
            <label class="styled-radio-label" for="productColorRadio_7">
              <div class="product-color__box product-color__box--color_1"></div>
            </label>
          </li>
          <li>
            <input
              type="radio"
              class="styled-radio"
              name="radio-group"
              id="productColorRadio_1"
              disabled
            />
            <label class="styled-radio-label" for="productColorRadio_1">
                <div class="product-color__box product-color__box--color_5"></div>
            </label>
          </li>
          <li>
            <input
              type="radio"
              class="styled-radio"
              name="radio-group"
              id="productColorRadio_2"
              disabled
            />
            <label class="styled-radio-label" for="productColorRadio_2">
                <div class="product-color__box product-color__box--color_6"></div>
            </label>
          </li>
          <li>
            <input
              type="radio"
              class="styled-radio"
              name="radio-group"
              id="productColorRadio_3"
              disabled
            />
            <label class="styled-radio-label" for="productColorRadio_3">
                <div class="product-color__box product-color__box--color_7"></div>
            </label>
          </li>
        </ul>
      </form>
    </div>
  </div>
</div>
