<div class="rating-card">
  <div class="rating-card__inner-container">
    <img
      class="rectangle-29"
      src="../assets/img/rectangle-29-1@2x.png"
      alt="Rectangle 29"
    />
    <div class="frame-2-2">
      <div class="frame-284">
        <div class="text-1 text-8 bahijthesansarabic-bold-white-14px-22">
          تالا عمر
        </div>
        <div class="frame-2-7">
          <div class="frame-1">
            <img class="check" src="../assets/img/check@2x.png" alt="check" />

            <p class="text-2 text-8 bahijthesansarabic-bold-blackcurrant-12px">
              تم الشراء من متجر طله
            </p>
          </div>
          <div class="rating-card__star-container">
            <img
              class="rating-star"
              src="../assets/img/star.svg"
              alt="Rating"
            />
            <img
              class="rating-star"
              src="../assets/img/star.svg"
              alt="Rating"
            />
            <img
              class="rating-star"
              src="../assets/img/star.svg"
              alt="Rating"
            />
            <img
              class="rating-star"
              src="../assets/img/star.svg"
              alt="Rating"
            />
            <img
              class="rating-star"
              src="../assets/img/star_out.svg"
              alt="Rating"
            />
          </div>
        </div>
      </div>
      <p class="text-7 text-8 bahijthesansarabic-bold-scarpa-flow-14px">
        متوقعتش ان الكاميرا تكون حلوة اصلا بسبب انه يعتبر رخيص بالنسبة لباقى
        السوق بس طلعت حلوة الحمدلله
      </p>
    </div>
  </div>
</div>
