<div class="flex-row-3">
  <div class="frame-28">
    <div class="frame-1-1">
      <div class="frame-2">
        <div class="frame-2-2">
          <div class="frame-284">
            <div class="frame-2-7">
              <img
                class="rating"
                src="../assets/img/rating-2@2x.png"
                alt="Rating"
              />
              <div class="frame-1">
                <p
                  class="text-2 text-8 bahijthesansarabic-bold-blackcurrant-12px"
                >
                  تم الشراء من متجر طله
                </p>
                <img
                  class="check"
                  src="../assets/img/check@2x.png"
                  alt="check"
                />
              </div>
            </div>
            <div class="text-1 text-8 bahijthesansarabic-bold-white-14px-22">
              تالا عمر
            </div>
          </div>
          <p class="text-7 text-8 bahijthesansarabic-bold-scarpa-flow-14px">
            متوقعتش ان الكاميرا تكون حلوة اصلا بسبب انه يعتبر رخيص بالنسبة لباقى
            السوق بس طلعت حلوة الحمدلله
          </p>
        </div>
        <img
          class="rectangle-29"
          src="../assets/img/rectangle-29-1@2x.png"
          alt="Rectangle 29"
        />
      </div>
    </div>
    <div class="frame-1-1">
      <div class="frame-2">
        <div class="frame-2-2">
          <div class="frame-284">
            <div class="frame-2-7">
              <img
                class="rating"
                src="../assets/img/rating-2@2x.png"
                alt="Rating"
              />
              <div class="frame-1">
                <p
                  class="text-2 text-8 bahijthesansarabic-bold-blackcurrant-12px"
                >
                  تم الشراء من متجر طله
                </p>
                <img
                  class="check-8"
                  src="../assets/img/check@2x.png"
                  alt="check"
                />
              </div>
            </div>
            <div class="text-1 text-8 bahijthesansarabic-bold-white-14px-22">
              تالا عمر
            </div>
          </div>
          <p class="text-7 text-8 bahijthesansarabic-bold-scarpa-flow-14px">
            متوقعتش ان الكاميرا تكون حلوة اصلا بسبب انه يعتبر رخيص بالنسبة لباقى
            السوق بس طلعت حلوة الحمدلله
          </p>
        </div>
        <img
          class="rectangle-29"
          src="../assets/img/rectangle-29-1@2x.png"
          alt="Rectangle 29"
        />
      </div>
    </div>
    <div class="frame-1-1">
      <div class="frame-2">
        <div class="frame-2-2">
          <div class="frame-284">
            <div class="frame-2-7">
              <img
                class="rating"
                src="../assets/img/rating-6@2x.png"
                alt="Rating"
              />
              <div class="frame-1">
                <p
                  class="text-2 text-8 bahijthesansarabic-bold-blackcurrant-12px"
                >
                  تم الشراء من متجر طله
                </p>
                <img
                  class="check-8"
                  src="../assets/img/check@2x.png"
                  alt="check"
                />
              </div>
            </div>
            <div class="text-1 text-8 bahijthesansarabic-bold-white-14px-22">
              بهيرة السيد
            </div>
          </div>
          <p class="text-7 text-8 bahijthesansarabic-bold-scarpa-flow-14px">
            متوقعتش ان الكاميرا تكون حلوة اصلا بسبب انه يعتبر رخيص بالنسبة لباقى
            السوق بس طلعت حلوة الحمدلله
          </p>
        </div>
        <img
          class="rectangle-29"
          src="../assets/img/rectangle-29-3@2x.png"
          alt="Rectangle 29"
        />
      </div>
    </div>
    <div class="frame-1-1">
      <div class="frame-2">
        <div class="frame-2-2">
          <div class="frame-284">
            <div class="frame-2-7">
              <img
                class="rating"
                src="../assets/img/rating-6@2x.png"
                alt="Rating"
              />
              <div class="frame-1">
                <p
                  class="text-2 text-8 bahijthesansarabic-bold-blackcurrant-12px"
                >
                  تم الشراء من متجر طله
                </p>
                <img
                  class="check-8"
                  src="../assets/img/check@2x.png"
                  alt="check"
                />
              </div>
            </div>
            <div class="text-1 text-8 bahijthesansarabic-bold-white-14px-22">
              بهيرة السيد
            </div>
          </div>
          <p class="text-7 text-8 bahijthesansarabic-bold-scarpa-flow-14px">
            متوقعتش ان الكاميرا تكون حلوة اصلا بسبب انه يعتبر رخيص بالنسبة لباقى
            السوق بس طلعت حلوة الحمدلله
          </p>
        </div>
        <img
          class="rectangle-29"
          src="../assets/img/rectangle-29-3@2x.png"
          alt="Rectangle 29"
        />
      </div>
    </div>
  </div>
  <div class="flex-col-3 flex-col-4">
    <div class="text-101 text-8 bahijthesansarabic-bold-blackcurrant-14px">
      التقييمات
    </div>
    <div class="frame-28">
      <div class="frame-1-1">
        <div class="frame-2">
          <div class="frame-2-2">
            <div class="frame-284">
              <div class="frame-2-7">
                <img
                  class="rating"
                  src="../assets/img/rating-2@2x.png"
                  alt="Rating"
                />
                <div class="frame-1">
                  <p
                    class="text-2 text-8 bahijthesansarabic-bold-blackcurrant-12px"
                  >
                    تم الشراء من متجر طله
                  </p>
                  <img
                    class="check-8"
                    src="../assets/img/check@2x.png"
                    alt="check"
                  />
                </div>
              </div>
              <div class="text-1 text-8 bahijthesansarabic-bold-white-14px-22">
                تالا عمر
              </div>
            </div>
            <p class="text-7 text-8 bahijthesansarabic-bold-scarpa-flow-14px">
              متوقعتش ان الكاميرا تكون حلوة اصلا بسبب انه يعتبر رخيص بالنسبة
              لباقى السوق بس طلعت حلوة الحمدلله
            </p>
          </div>
          <img
            class="rectangle-29"
            src="../assets/img/rectangle-29-1@2x.png"
            alt="Rectangle 29"
          />
        </div>
      </div>
      <div class="frame-1-1">
        <div class="frame-2">
          <div class="frame-2-2">
            <div class="frame-284">
              <div class="frame-2-7">
                <img
                  class="rating"
                  src="../assets/img/rating-2@2x.png"
                  alt="Rating"
                />
                <div class="frame-1">
                  <p
                    class="text-2 text-8 bahijthesansarabic-bold-blackcurrant-12px"
                  >
                    تم الشراء من متجر طله
                  </p>
                  <img
                    class="check-8"
                    src="../assets/img/check@2x.png"
                    alt="check"
                  />
                </div>
              </div>
              <div class="text-1 text-8 bahijthesansarabic-bold-white-14px-22">
                تالا عمر
              </div>
            </div>
            <p class="text-7 text-8 bahijthesansarabic-bold-scarpa-flow-14px">
              متوقعتش ان الكاميرا تكون حلوة اصلا بسبب انه يعتبر رخيص بالنسبة
              لباقى السوق بس طلعت حلوة الحمدلله
            </p>
          </div>
          <img
            class="rectangle-29"
            src="../assets/img/rectangle-29-1@2x.png"
            alt="Rectangle 29"
          />
        </div>
      </div>
      <div class="frame-1-1">
        <div class="frame-2">
          <div class="frame-2-2">
            <div class="frame-284">
              <div class="frame-2-7">
                <img
                  class="rating"
                  src="../assets/img/rating-6@2x.png"
                  alt="Rating"
                />
                <div class="frame-1">
                  <p
                    class="text-2 text-8 bahijthesansarabic-bold-blackcurrant-12px"
                  >
                    تم الشراء من متجر طله
                  </p>
                  <img
                    class="check-8"
                    src="../assets/img/check@2x.png"
                    alt="check"
                  />
                </div>
              </div>
              <div class="text-1 text-8 bahijthesansarabic-bold-white-14px-22">
                بهيرة السيد
              </div>
            </div>
            <p class="text-7 text-8 bahijthesansarabic-bold-scarpa-flow-14px">
              متوقعتش ان الكاميرا تكون حلوة اصلا بسبب انه يعتبر رخيص بالنسبة
              لباقى السوق بس طلعت حلوة الحمدلله
            </p>
          </div>
          <img
            class="rectangle-29"
            src="../assets/img/rectangle-29-3@2x.png"
            alt="Rectangle 29"
          />
        </div>
      </div>
      <div class="frame-1-1">
        <div class="frame-2">
          <div class="frame-2-2">
            <div class="frame-284">
              <div class="frame-2-7">
                <img
                  class="rating"
                  src="../assets/img/rating-6@2x.png"
                  alt="Rating"
                />
                <div class="frame-1">
                  <p
                    class="text-2 text-8 bahijthesansarabic-bold-blackcurrant-12px"
                  >
                    تم الشراء من متجر طله
                  </p>
                  <img
                    class="check-8"
                    src="../assets/img/check@2x.png"
                    alt="check"
                  />
                </div>
              </div>
              <div class="text-1 text-8 bahijthesansarabic-bold-white-14px-22">
                بهيرة السيد
              </div>
            </div>
            <p class="text-7 text-8 bahijthesansarabic-bold-scarpa-flow-14px">
              متوقعتش ان الكاميرا تكون حلوة اصلا بسبب انه يعتبر رخيص بالنسبة
              لباقى السوق بس طلعت حلوة الحمدلله
            </p>
          </div>
          <img
            class="rectangle-29"
            src="../assets/img/rectangle-29-3@2x.png"
            alt="Rectangle 29"
          />
        </div>
      </div>
    </div>
  </div>
</div>
