<div class="ratings-container">
  <div class="rating-card__container">
    <div class="text-101 text-8 bahijthesansarabic-bold-blackcurrant-14px">
      التقييمات
    </div>
    <div class="col-12">
      <div class="row">
        <div class="col-12 col-md-6">
          <!--(bake ./rating_card.html)-->
        </div>
        <div class="col-12 col-md-6">
          <!--(bake ./rating_card.html)-->
        </div>
        <div class="col-12 col-md-6">
          <!--(bake ./rating_card.html)-->
        </div>
        <div class="col-12 col-md-6">
          <!--(bake ./rating_card.html)-->
        </div>
        <div class="col-12 col-md-6">
          <!--(bake ./rating_card.html)-->
        </div>
        <div class="col-12 col-md-6">
          <!--(bake ./rating_card.html)-->
        </div>
      </div>
    </div>
  </div>
</div>
