<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1440, maximum-scale=1.0" />
    <link
      rel="shortcut icon"
      type="image/png"
      href="https://animaproject.s3.amazonaws.com/home/favicon.png"
    />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link
      rel="stylesheet"
      type="text/css"
      href="../../web/builds/css/styles.css"
    />
    <link rel="stylesheet" type="text/css" href="../assets/css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="../assets/css/globals.css" />

    <link rel="stylesheet" type="text/css" href="../assets/css/my-orders.css" />
    <link rel="stylesheet" type="text/css" href="../assets/css/user-menu.css" />
  </head>
  <body style="margin: 0; background: #ffffff">
    <div class="container">
      <div class="row navbar__box">
        <div class="navbar">
          <div class="navbar__wrapper">
            <div class="navbar__upper">
              <div class="navbar__upper__frame-container">
                <div class="navbar__upper__frame-left">
                  <a href="#" class="cta">
                    <div class="text bahijthesansarabic-bold-white-14px-2">
                      متجر طلة
                    </div>
                    <img
                      class="shopping-bag"
                      src="../assets/img/shopping-bag-1.svg"
                      alt="shopping-bag"
                    />
                  </a>
                  <a href="#" class="cta-follow">
                    <div class="text bahijthesansarabic-bold-violet-red-14px">
                      تتبع الطلبات
                    </div>
                    <img class="truck" src="../assets/img/truck.svg" alt="truck" />
                  </a>
                </div>
                <form class="navbar__upper__frame-search">
                  <button type="submit" class="icon-search__button">
                    <img
                      class="icon-search"
                      src="../assets/img/search.svg"
                      alt="icon-search"
                    />
                  </button>
                  <input
                    class="form__input--small input-text bahijthesansarabic-bold-mamba-14px"
                    placeholder="إبحث في طله..."
                  />
                </form>
                <div class="navbar__upper__frame-right">
                  <a class="nav__social">
                    <img
                      class="icon-instagram"
                      src="../assets/img/instagram-1.svg"
                      alt="icon-instagram"
                    />
                  </a>
                  <a class="nav__social">
                    <img
                      class="icon-notifications"
                      src="../assets/img/iconmonstr-snapchat-1-1-3.svg"
                      alt="icon-notifications"
                    />
                  </a>
                  <a class="nav__social">
                    <img
                      class="icon-twitter"
                      src="../assets/img/twitter-1.svg"
                      alt="icon-twitter"
                    />
                  </a>
                  <a class="nav__social">
                    <img
                      class="facebook"
                      src="../assets/img/facebook-1.svg"
                      alt="facebook"
                    />
                  </a>
                </div>
              </div>
            </div>
            <div class="navbar__down">
              <div
                class="navbar__down-wrapper-left bahijthesansarabic-bold-blackcurrant-14px"
              >
                <div class="navbar__dropdown-icons">
                  <div class="navbar__dropdown-icon">
                    <div class="overlap-group1">
                      <img
                        class="icon"
                        src="../assets/img/group-75@2x.png"
                        alt="icon-cart"
                      />
                      <div class="overlap-group">
                        <div class="ellipse-1"></div>
                        <div
                          class="number valign-text-middle bahijthesansarabic-bold-white-12px"
                        >
                          0
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="navbar__dropdown-icon">
                    <div class="overlap-group2">
                      <img
                        class="icon"
                        src="../assets/img/heart.svg"
                        alt="icon-heart"
                      />
                      <div class="overlap-group-1">
                        <div class="ellipse-1"></div>
                        <div
                          class="number valign-text-middle bahijthesansarabic-bold-white-12px"
                        >
                          0
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <a
                  class="user"
                  onclick="ShowOverlay('user-menu', 'animate-appear');"
                >
                  <div class="navbar__user__data">
                    <div class="frame-160">
                      <img
                        class="arrow-down-1"
                        src="../assets/img/arrow-down.svg"
                        alt="arrow-down"
                      />
                      <div
                        class="navbar__user__name text-4 bahijthesansarabic-bold-white-14px"
                      >
                        نيرة الشريف
                      </div>
                    </div>
                    <div class="text">مرحبا،</div>
                  </div>
                  <div class="group-127">
                    <img
                      class="icon-user"
                      src="../assets/img/user.svg"
                      alt="icon-user"
                    />
                  </div>
                  <div id="overlay-user-menu" class="overlay-base">
                    <div class="user-menu screen">
                      <div class="user-menu-1">
                        <div
                          class="frame-283 frame bahijthesansarabic-bold-blackcurrant-14px"
                        >
                          <div class="frame-2 frame">
                            <div class="text">طلباتي</div>
                            <img
                              class="newspaper-newsletter__img"
                              src="../assets/img/newspaper-newsletter@2x.png"
                              alt="newspaper-newsletter"
                            />
                          </div>
                          <div class="frame-2 frame">
                            <div class="text">طلبات الإرجاع</div>
                            <img
                              class="newspaper-newsletter__img"
                              src="../assets/img/arrows-dots-rotate@2x.png"
                              alt="arrows-dots-rotate"
                            />
                          </div>
                          <div class="frame-2 frame">
                            <div class="text">العناوين</div>
                            <img
                              class="newspaper-newsletter__img"
                              src="../assets/img/route@2x.png"
                              alt="route"
                            />
                          </div>
                          <div class="frame-2 frame">
                            <div class="text">إعدادات الحساب</div>
                            <img
                              class="newspaper-newsletter__img"
                              src="../assets/img/user-gear@2x.png"
                              alt="user-gear"
                            />
                          </div>
                          <div class="frame-2 frame">
                            <div class="text">تسجيل الخروج</div>
                            <img
                              class="newspaper-newsletter__img"
                              src="../assets/img/log-in@2x.png"
                              alt="log-in"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
                <div class="language hidden">English</div>
              </div>
              <div class="navbar__down-wrapper">
                <a class="frame-106">
                  <img
                    class="arrow-down"
                    src="../assets/img/arrow-down.svg"
                    alt="arrow-down"
                  />
                  <div
                    href="blogs.html"
                    class="text bahijthesansarabic-bold-blackcurrant-14px"
                  >
                    المزيد
                  </div>
                </a>
                <a
                  href="blogs.html"
                  class="text bahijthesansarabic-bold-blackcurrant-14px"
                >
                  شخصيات ملهمة
                </a>
                <a
                  href="blogs.html"
                  class="text bahijthesansarabic-bold-blackcurrant-14px"
                  >أليفك</a
                >
                <a
                  href="blogs.html"
                  class="text bahijthesansarabic-bold-blackcurrant-14px"
                  >دليلك</a
                >
                <a
                  href="blogs.html"
                  class="text bahijthesansarabic-bold-blackcurrant-14px"
                >
                  الأزياء
                </a>
                <a
                  href="blogs.html"
                  class="text bahijthesansarabic-bold-blackcurrant-14px"
                >
                  الأسرة والمنزل
                </a>
                <a
                  href="blogs.html"
                  class="text bahijthesansarabic-bold-blackcurrant-14px"
                >
                  الأمومة
                </a>
                <a
                  href="blogs.html"
                  class="text bahijthesansarabic-bold-blackcurrant-14px"
                >
                  الصحة والرشاقة
                </a>
                <a
                  href="blogs.html"
                  class="text bahijthesansarabic-bold-blackcurrant-14px"
                  >عن طله</a
                >
                <a
                  href="index.html"
                  class="text-32 text-4 bahijthesansarabic-bold-white-14px active"
                >
                  الرئيسية
                </a>
              </div>
            </div>
          </div>
          <div class="logo">
            <div class="logo__wrapper">
              <a href="index.html" class="group-container">
                <img
                  class="clip-path-group"
                  src="../assets/img/talah-categories/logo.svg"
                  alt="Clip path group"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid rectangle-12"></div>

    <script>
      ShowOverlay = function (overlayName, animationName) {
        overlayName = "overlay-" + overlayName;
        var cssClasses = document.getElementById(overlayName).className.split(" ");
        var last = cssClasses.slice(-1)[0];
        if (last.lastIndexOf("animate") == -1) {
          document.getElementById(overlayName).className =
            document.getElementById(overlayName).className + " " + animationName;
        }
        if (window.loadAsyncSrc != undefined) {
          loadAsyncSrc();
        }
      };

      HideOverlay = function (overlayName, animationName) {
        overlayName = "overlay-" + overlayName;
        var cssClasses = document.getElementById(overlayName).className.split(" ");
        var last = cssClasses.slice(-1)[0];
        if (last.lastIndexOf("animate") != -1) {
          cssClasses.splice(-1);
          cssClasses.push(animationName);
          document.getElementById(overlayName).className = cssClasses.join(" ");

          cssClasses.splice(-1);
          setTimeout(function () {
            document.getElementById(overlayName).className = cssClasses.join(" ");
          }, 1100);
        }
        var vids = document.getElementsByTagName("video");
        if (vids) {
          for (var i = 0; i < vids.length; i++) {
            var video = vids.item(i);
            video.pause();
          }
        }
      };

      closeOutsideOverlay = function (overlay_slug) {
        var overlay_id = `overlay-${overlay_slug}`;
        const overlayElement = document.getElementById(overlay_id);
        overlayElement.addEventListener(
          `click`,
          function (event) {
            var overlay_id = `overlay-${overlay_slug}`;
            var e = event || window.event;
            var overlayContainer = overlayElement.getElementsByClassName(`${overlay_slug}`);
            if (e.target === overlayElement) {
              HideOverlay(`${overlay_slug}`, "animate-disappear");
            }
          },
          false
        );
      };

      CloseOnOverlayClick = function (overlay_slug) {
        var overlay_id = `overlay-${overlay_slug}`;
        document.getElementById(overlay_id).addEventListener(
          `click`,
          function (event) {
            {
              var overlay_id = `overlay-${overlay_slug}`;
              var e = event || window.event;
              var overlayElement = document.getElementById(overlay_id);
              var overlayContainer = overlayElement.getElementsByClassName(`${overlay_slug}`);
              var clickedDiv = e.toElement || e.target;
              var dismissButton = clickedDiv.parentElement.id == overlay_id;
              var clickOutsideOverlay = false;
              if (overlayContainer.length > 0) {
                {
                  clickOutsideOverlay = !overlayContainer[0].contains(clickedDiv) || overlayContainer[0] == clickedDiv;
                }
              }
              if (dismissButton || clickOutsideOverlay) {
                {
                  HideOverlay(`${overlay_slug}`, "animate-disappear");
                }
              }
            }
          },
          false
        );
      };
    </script>
    <script>
      closeOutsideOverlay("user");
    </script>
    <script>
      closeOutsideOverlay("cart");
    </script>
    <script>
      closeOutsideOverlay("sort");
    </script>
    <div class="container">
      <div class="row">
        <div class="container-center-horizontal">
          <div class="my-orders-with-user-photo screen">
            <div class="my-orders-with__row col-12">
              <div class="row">
              <div class="col-12 col-md-9 my-orders__table-container">
                <div class="my-orders__header">
                  <div class="frame-69">
                    <div class="text-2 bahijthesansarabic-bold-gigas-12px">طلباتي</div>
                    <img class="chevron-left" src="../assets/img/chevron-left@2x.png" alt="chevron-left" />
                    <div class="text-2 bahijthesansarabic-bold-violet-red-12px">الرئيسية</div>
                  </div>
                  <div class="product-title"><h1 class="text-34">طلباتي</h1></div>
                </div>
                <div class="my-orders__table-header">
                  <div class="navbar-link-text-45 my-orders__table-cell">حالة الطلب</div>
                  <div class="navbar-link-text-43 my-orders__table-cell">وسيلة الدفع</div>
                  <div class="navbar-link-text-44 my-orders__table-cell">المبلغ</div>
                  <div class="navbar-link-text-46 my-orders__table-cell">العناصر</div>
                  <div class="navbar-link-text-42 my-orders__table-cell">التاريخ</div>
                  <div class="navbar-link-text-41 my-orders__table-cell">رقم الطلب</div>
                </div>
                <div class="my-orders__table">
                  <!-- Follow this file to fill table row -->
                  <div class="my-orders__table-row">
                    <div class="my-orders__table-row-wrapper">
                      <!-- Order number -->
                      <div
                        class="phone valign-text-middle bahijthesansarabic-bold-mamba-14px my-orders__table-cell"
                      >
                        2632992111
                      </div>
                      <!-- Order date -->
                      <div
                        class="date valign-text-middle bahijthesansarabic-bold-mamba-14px my-orders__table-cell"
                      >
                        29/05/2023
                      </div>
                      <!-- Order # of items -->
                      <div
                        class="number-1 valign-text-middle number-7 bahijthesansarabic-bold-blackcurrant-14px my-orders__table-cell"
                      >
                        10
                      </div>
                      <!-- Order price -->
                      <div
                        class="price valign-text-middle bahijthesansarabic-bold-blackcurrant-14px my-orders__table-cell"
                      >
                        750.00 EGP
                      </div>
                      <!-- Payment type -->
                      <div
                        class="text-3 valign-text-middle bahijthesansarabic-bold-blackcurrant-14px my-orders__table-cell"
                      >
                        دفع عند الإستلام
                      </div>
                      <!-- Order status -->
                      <div class="my-orders__table-cell">
                        <div class="my-orders__order-status my-orders__order-status--done">
                          تم الطلب
                        </div>
                      </div>
                      <!-- Order CTAs -->
                      <div class="my-orders__table-cell my-orders__order-cta-container">
                        <a href="#">
                          <img class="my-orders__order-cta-img" src="../assets/img/button-1@2x.png" alt="Button" />
                        </a>
                        <a href="#">
                          <img class="my-orders__order-cta-img" src="../assets/img/button@2x.png" alt="Button" />
                        </a>
                      </div>
                    </div>
                  </div>

                  <div class="my-orders__table-row">
                    <div class="my-orders__table-row-wrapper">
                      <!-- Order number -->
                      <div
                        class="phone valign-text-middle bahijthesansarabic-bold-mamba-14px my-orders__table-cell"
                      >
                        2632992111
                      </div>
                      <!-- Order date -->
                      <div
                        class="date valign-text-middle bahijthesansarabic-bold-mamba-14px my-orders__table-cell"
                      >
                        29/05/2023
                      </div>
                      <!-- Order # of items -->
                      <div
                        class="number-1 valign-text-middle number-7 bahijthesansarabic-bold-blackcurrant-14px my-orders__table-cell"
                      >
                        10
                      </div>
                      <!-- Order price -->
                      <div
                        class="price valign-text-middle bahijthesansarabic-bold-blackcurrant-14px my-orders__table-cell"
                      >
                        750.00 EGP
                      </div>
                      <!-- Payment type -->
                      <div
                        class="text-3 valign-text-middle bahijthesansarabic-bold-blackcurrant-14px my-orders__table-cell"
                      >
                        دفع عند الإستلام
                      </div>
                      <!-- Order status -->
                      <div class="my-orders__table-cell">
                        <div class="my-orders__order-status my-orders__order-status--shipped">
                          تم الشحن
                        </div>
                      </div>
                      <!-- Order CTAs -->
                      <div class="my-orders__table-cell my-orders__order-cta-container">
                        <a href="#">
                          <img class="my-orders__order-cta-img" src="../assets/img/button-1@2x.png" alt="Button" />
                        </a>
                        <a href="#">
                          <img class="my-orders__order-cta-img" src="../assets/img/button-3@2x.png" alt="Button" />
                        </a>
                      </div>
                    </div>
                  </div>

                  <div class="my-orders__table-row">
                    <div class="my-orders__table-row-wrapper">
                      <!-- Order number -->
                      <div
                        class="phone valign-text-middle bahijthesansarabic-bold-mamba-14px my-orders__table-cell"
                      >
                        2632992111
                      </div>
                      <!-- Order date -->
                      <div
                        class="date valign-text-middle bahijthesansarabic-bold-mamba-14px my-orders__table-cell"
                      >
                        29/05/2023
                      </div>
                      <!-- Order # of items -->
                      <div
                        class="number-1 valign-text-middle number-7 bahijthesansarabic-bold-blackcurrant-14px my-orders__table-cell"
                      >
                        10
                      </div>
                      <!-- Order price -->
                      <div
                        class="price valign-text-middle bahijthesansarabic-bold-blackcurrant-14px my-orders__table-cell"
                      >
                        750.00 EGP
                      </div>
                      <!-- Payment type visa -->
                      <div
                        class="text-3 valign-text-middle bahijthesansarabic-bold-blackcurrant-14px my-orders__table-cell my-orders__order-payment-type"
                      >
                        <img src="../assets/img/image-3@2x.png" alt="Frame" />
                      </div>
                      <!-- Order status -->
                      <div class="my-orders__table-cell">
                        <div class="my-orders__order-status my-orders__order-status--inprogress">
                          قيد التنفيذ
                        </div>
                      </div>
                      <!-- Order CTAs -->
                      <div class="my-orders__table-cell my-orders__order-cta-container">
                        <a href="#">
                          <img class="my-orders__order-cta-img" src="../assets/img/button-1@2x.png" alt="Button" />
                        </a>
                      </div>
                    </div>
                  </div>

                  <div class="my-orders__table-row">
                    <div class="my-orders__table-row-wrapper">
                      <!-- Order number -->
                      <div
                        class="phone valign-text-middle bahijthesansarabic-bold-mamba-14px my-orders__table-cell"
                      >
                        2632992111
                      </div>
                      <!-- Order date -->
                      <div
                        class="date valign-text-middle bahijthesansarabic-bold-mamba-14px my-orders__table-cell"
                      >
                        29/05/2023
                      </div>
                      <!-- Order # of items -->
                      <div
                        class="number-1 valign-text-middle number-7 bahijthesansarabic-bold-blackcurrant-14px my-orders__table-cell"
                      >
                        10
                      </div>
                      <!-- Order price -->
                      <div
                        class="price valign-text-middle bahijthesansarabic-bold-blackcurrant-14px my-orders__table-cell"
                      >
                        750.00 EGP
                      </div>
                      <!-- Payment type Master card -->
                      <div
                        class="text-3 valign-text-middle bahijthesansarabic-bold-blackcurrant-14px my-orders__table-cell my-orders__order-payment-type"
                      >
                        <img src="../assets/img/frame@2x.png" alt="Frame" />
                      </div>
                      <!-- Order status -->
                      <div class="my-orders__table-cell">
                        <div class="my-orders__order-status my-orders__order-status--delivered">
                          تم التوصيل
                        </div>
                      </div>
                      <!-- Order CTAs -->
                      <div class="my-orders__table-cell my-orders__order-cta-container">
                        <a href="#">
                          <img class="my-orders__order-cta-img" src="../assets/img/button-1@2x.png" alt="Button" />
                        </a>
                        <a href="#">
                          <img
                            class="my-orders__order-cta-img"
                            src="../assets/img/button-6@2x.png"
                            alt="Button"
                          />
                        </a>
                      </div>
                    </div>
                  </div>

                  <div class="my-orders__table-row">
                    <div class="my-orders__table-row-wrapper">
                      <!-- Order number -->
                      <div
                        class="phone valign-text-middle bahijthesansarabic-bold-mamba-14px my-orders__table-cell"
                      >
                        2632992111
                      </div>
                      <!-- Order date -->
                      <div
                        class="date valign-text-middle bahijthesansarabic-bold-mamba-14px my-orders__table-cell"
                      >
                        29/05/2023
                      </div>
                      <!-- Order # of items -->
                      <div
                        class="number-1 valign-text-middle number-7 bahijthesansarabic-bold-blackcurrant-14px my-orders__table-cell"
                      >
                        10
                      </div>
                      <!-- Order price -->
                      <div
                        class="price valign-text-middle bahijthesansarabic-bold-blackcurrant-14px my-orders__table-cell"
                      >
                        750.00 EGP
                      </div>
                      <!-- Payment type apple pay -->
                      <div
                        class="text-3 valign-text-middle bahijthesansarabic-bold-blackcurrant-14px my-orders__table-cell my-orders__order-payment-type"
                      >
                        <img src="../assets/img/image-5@2x.png" alt="Frame" />
                      </div>
                      <!-- Order status -->
                      <div class="my-orders__table-cell">
                        <div class="my-orders__order-status my-orders__order-status--cancelled">
                          تم الإلغاء
                        </div>
                      </div>
                      <!-- Order CTAs -->
                      <div class="my-orders__table-cell my-orders__order-cta-container">
                        <a href="#">
                          <img class="my-orders__order-cta-img" src="../assets/img/button-1@2x.png" alt="Button" />
                        </a>
                        <a href="#">
                          <img class="my-orders__order-cta-img" src="../assets/img/button@2x.png" alt="Button" />
                        </a>
                      </div>
                    </div>
                  </div>

                </div>
                <div class="frame-359">
                  <div class="pager">
                    <div class="pagination">
                      <div class="frame-1">
                        <select class="my-orders__num-rows-select" name="numberofrows">
                          <option value="volvo">10</option>
                          <option value="saab">15</option>
                          <option value="mercedes">20</option>
                          <option value="audi">25</option>
                        </select>
                        
                      </div>
                    </div>
                    <div class="text-37 bahijthesansarabic-bold-scarpa-flow-14px">عدد الطلبات في الصفحة</div>
                  </div>
                  <div class="pagination">
                    <a class="pagination__card">
                      <div class="pagination__card__content">التالي</div>
                    </a>
                    <a class="pagination__card">
                      <div class="pagination__card__content">100</div>
                    </a>
                    <a class="pagination__card">
                      <div class="pagination__card__content">...</div>
                    </a>
                    <a class="pagination__card">
                      <div class="pagination__card__content">03</div>
                    </a>
                    <a class="pagination__card">
                      <div class="pagination__card__content">02</div>
                    </a>
                    <a class="pagination__card active">
                      <div class="pagination__card__content">01</div>
                    </a>
                    <a class="pagination__card disabled">
                      <div class="pagination__card__content">السابق</div>
                    </a>
                  </div>

                </div>
              </div>
              <div class="col-12 col-md-3 flex-col-2 flex-col-3">
                <div class="user-photo">
                  <div class="frame-325">
                    <div class="group-127-1">
                      <div class="group-130">
                        <div class="overlap-group-3">
                          <div class="rectangle-28"></div>
                          <img class="rectangle-29" src="../assets/img/rectangle-29@2x.png" alt="Rectangle 29" />
                          <img class="edit-2" src="../assets/img/edit-2@2x.png" alt="edit-2" />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="product-title">
                    <p class="user-name__container">
                      <span class="user-name-hi">مرحباً،</span> <span class="user-name">نيرة الشريف</span>
                    </p>
                  </div>
                </div>
                <div class="my-orders__side-nav">
                  <div class="my-orders__side-nav__icon-container">
                    <a class="my-orders__side-nav__btn active">
                      <div class="my-orders__side-nav__btn-text">طلباتي</div>
                      <img
                        class="newspaper-newsletter"
                        src="../assets/img/newspaper-newsletter-1@2x.png"
                        alt="newspaper-newsletter"
                      />
                    </a>
                    <a class="my-orders__side-nav__btn">
                      <div class="my-orders__side-nav__btn-text">
                        طلبات الإرجاع
                      </div>
                      <img
                        class="arrows-dots-rotate"
                        src="../assets/img/arrows-dots-rotate-1@2x.png"
                        alt="arrows-dots-rotate"
                      />
                    </a>
                    <a class="my-orders__side-nav__btn">
                      <div class="my-orders__side-nav__btn-text">
                        العناوين
                      </div>
                      <img class="route" src="../assets/img/route-1@2x.png" alt="route" />
                    </a>
                    <a class="my-orders__side-nav__btn">
                      <div class="my-orders__side-nav__btn-text">
                        إعدادات الحساب
                      </div>
                      <img
                        class="user-gear"
                        src="../assets/img/user-gear@2x.png"
                        alt="user-gear"
                      />
                    </a>
                    <a class="my-orders__side-nav__btn">
                      <div class="my-orders__side-nav__btn-text">
                        تسجيل الخروج
                      </div>
                      <img class="log-in" src="../assets/img/log-in@2x.png" alt="log-in" />
                    </a>
                  </div>
                </div>

              </div>
            </div>
            </div>
            <footer class="footer">
              <div class="footer__container">
                <div class="footer__logo__container">
                  <a href="index.html" class="footer-logo-container">
                    <img src="../assets/img/talah-categories/logo.svg" />
                  </a>
                  <div class="navbar__upper__frame-right">
                    <a class="nav__social">
                      <img
                        class="icon-instagram"
                        src="../assets/img/instagram-1.svg"
                        alt="icon-instagram"
                      />
                    </a>
                    <a class="nav__social">
                      <img
                        class="icon-notifications"
                        src="../assets/img/iconmonstr-snapchat-1-1-3.svg"
                        alt="icon-notifications"
                      />
                    </a>
                    <a class="nav__social">
                      <img
                        class="icon-twitter"
                        src="../assets/img/twitter-1.svg"
                        alt="icon-twitter"
                      />
                    </a>
                    <a class="nav__social">
                      <img
                        class="facebook"
                        src="../assets/img/facebook-1.svg"
                        alt="facebook"
                      />
                    </a>
                  </div>
                </div>
                <div class="footer__content">
                  <div class="footer__logo__container">
                    <p class="text-301 text-4 bahijthesansarabic-bold-blackcurrant-16px">
                      أشترك الآن فى النشرة البريدية للحصول على أحدث العروض والأخبار الحصرية
                    </p>
                    <form class="footer__search">
                      <button type="submit" class="frame-27">
                        <a class="text bahijthesansarabic-bold-white-14px-2">إشترك الآن</a>
                        <img
                          class="icon-paper_plane"
                          src="../assets/img/send.svg"
                          alt="icon-paper_plane"
                        />
                      </button>
                      <input class="footer__search__input" placeholder="بريدك الإلكتروني" />
                    </form>
                  </div>
                  <div class="footer__cta-actions bahijthesansarabic-bold-scarpa-flow-14px">
                    <div class="footer__cta-actions__container">
                      <a href="#">تتبع طلبك</a>
                      <a href="#">التوصيل والإسترجاع</a>
                      <a href="#">الشروط والأحكام</a>
                    </div>
                    <div class="footer__cta-actions__container">
                      <a href="#">تواصل معنا</a>
                      <a href="#">عن طله</a>
                      <a href="#">الرئيسية</a>
                    </div>
                  </div>
                </div>
              </div>
              <p class="footer__rc text-4">الحقوق - 2022. جميع الحقوق محفوظة لـ طله</p>
            </footer>

            <script src="../../web/builds/js/buildHome.js"></script>

          </div>
        </div>
      </div>
    </div>
  </body>
</html>
