<article class="blog-card">
  <img class="rectangle-1" src="rectangle-1-45.png" alt="Rectangle 1" />
  <div class="frame-2-1">
    <div class="frame-69">
      <div class="text-2 text-7 bahijthesansarabic-bold-gigas-12px">
        الرشاقة والتخسيس
      </div>
      <div class="text-2 text-7 bahijthesansarabic-bold-violet-red-12px">
        الصحة والرشاقة
      </div>
    </div>
    <div class="text-3 text-7 bahijthesansarabic-bold-blackcurrant-16px">
      ضحك ولعب وجد وكلب!
    </div>
  </div>
</article>

