@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@font-face {
  font-family: "Bahij TheSansArabic-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("https://fonts.animaapp.com/BahijTheSansArabic-Bold")
    format("truetype");
}

* {
  box-sizing: border-box;
}

.frame-113 {
  align-items: center;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
  width: 898px;
}

.frame-109 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  gap: 8px;
  position: relative;
  width: fit-content;
}

.frame-1 {
  align-items: center;
  background-color: var(--daisy-bush);
  border-radius: 24px;
  display: flex;
  gap: 8px;
  justify-content: center;
  padding: 6px 16px;
  position: relative;
  width: fit-content;
}

.blog-category .text-7 {
  direction: rtl;
  letter-spacing: 0;
}

.text-2 {
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.frame {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: fit-content;
}

.isolation_-mode {
  height: 48px;
  min-width: 33.53px;
  position: relative;
}

.text-1-1 {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(
    180deg,
    rgb(239, 100, 152) 0%,
    rgb(84, 45, 145) 100%
  );
  background-clip: text;
  direction: rtl;
  letter-spacing: 0;
  line-height: 38px;
  position: relative;
  text-fill-color: transparent;
  white-space: nowrap;
  width: fit-content;
}

