<div class="frame-113">
  <div class="frame">
    <img
      class="isolation_-mode"
      src="isolation-mode.svg"
      alt="Isolation_Mode"
    />
    <h1 class="text-1-1 bahijthesansarabic-bold-white-24px">الصحة والرشاقة</h1>
  </div>
  <div class="frame-109">
    <div class="frame-1">
      <div class="text-2 text-7 bahijthesansarabic-bold-gigas-14px">
        صحة عامة
      </div>
    </div>
    <div class="frame-1">
      <div class="text-2 text-7 bahijthesansarabic-bold-gigas-14px">
        الطب الحديث
      </div>
    </div>
    <div class="frame-1">
      <div class="text-2 text-7 bahijthesansarabic-bold-gigas-14px">
        الطب البديل
      </div>
    </div>
    <div class="frame-1">
      <div class="text-2 text-7 bahijthesansarabic-bold-gigas-14px">
        الأمراض
      </div>
    </div>
    <div class="frame-1">
      <div class="text-2 text-7 bahijthesansarabic-bold-gigas-14px">
        الصحة النفسية
      </div>
    </div>
    <div class="frame-1">
      <div class="text-2 text-7 bahijthesansarabic-bold-gigas-14px">
        الرشاقة والتخسيس
      </div>
    </div>
  </div>
</div>

