<footer class="footer">
  <div class="frame-container-3">
    <div class="frame-3">
      <div class="logo">
        <div class="layer-1">
          <div class="group-container">
            <img class="clip-path-group" src="clip-path-group-3.png" alt="Clip path group" />
            <div class="clip-path-group-container">
              <img class="clip-path-group-1" src="clip-path-group.png" alt="Clip path group" /><img
                class="clip-path-group-2"
                src="clip-path-group-5.png"
                alt="Clip path group"
              /><img class="clip-path-group-3" src="clip-path-group-6.png" alt="Clip path group" />
            </div>
          </div>
          <div class="flex-row">
            <div class="flex-row-1">
              <div class="vector-container">
                <img class="vector" src="vector.svg" alt="Vector" /><img
                  class="vector-1"
                  src="vector-45.svg"
                  alt="Vector"
                />
              </div>
              <img class="vector-2" src="vector-27.svg" alt="Vector" />
            </div>
            <div class="flex-col">
              <div class="flex-row-2">
                <img class="vector-3" src="vector-2.svg" alt="Vector" /><img
                  class="vector-4"
                  src="vector-29.svg"
                  alt="Vector"
                /><img class="vector-5" src="vector-4.svg" alt="Vector" /><img
                  class="vector-6"
                  src="vector-5.svg"
                  alt="Vector"
                />
                <div class="vector-container-1">
                  <img class="vector-7" src="vector-32.svg" alt="Vector" /><img
                    class="vector-8"
                    src="vector-33.svg"
                    alt="Vector"
                  /><img class="vector-9" src="vector-34.svg" alt="Vector" /><img
                    class="vector-10"
                    src="vector-35.svg"
                    alt="Vector"
                  /><img class="vector-11" src="vector-36.svg" alt="Vector" />
                </div>
                <img class="vector-4" src="vector-37.svg" alt="Vector" />
                <div class="vector-container-6">
                  <img class="vector-12" src="vector-38.svg" alt="Vector" /><img
                    class="vector-9"
                    src="vector-39.svg"
                    alt="Vector"
                  /><img class="vector-13" src="vector-40.svg" alt="Vector" /><img
                    class="vector-14"
                    src="vector-41.svg"
                    alt="Vector"
                  /><img class="vector-15" src="vector-42.svg" alt="Vector" />
                </div>
                <div class="vector-container-3">
                  <img class="vector-16" src="vector-43.svg" alt="Vector" /><img
                    class="vector-17"
                    src="vector-44.svg"
                    alt="Vector"
                  />
                </div>
              </div>
              <div class="vector-container-4">
                <img class="vector-18" src="vector-46.svg" alt="Vector" /><img
                  class="vector-19"
                  src="vector-47.svg"
                  alt="Vector"
                /><img class="vector-19" src="vector-48.svg" alt="Vector" /><img
                  class="vector-20"
                  src="vector-49.svg"
                  alt="Vector"
                /><img class="vector-21" src="vector-50.svg" alt="Vector" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="frame-85">
        <div class="frame-156-1">
          <div class="group-10">
            <img class="youtube" src="youtube.svg" alt="youtube" />
          </div>
          <div class="group-10">
            <img class="instagram-1" src="instagram.svg" alt="instagram" />
          </div>
          <div class="group-10">
            <img class="linkedin" src="linkedin.svg" alt="linkedin" />
          </div>
          <div class="group-10">
            <img class="twitter-1" src="twitter.svg" alt="twitter" />
          </div>
          <div class="group-10">
            <img class="facebook-1" src="facebook.svg" alt="facebook" />
          </div>
        </div>
      </div>
    </div>
    <div class="frame-94">
      <div class="frame-3">
        <p class="text-25text-7bahijthesansarabic-bold-blackcurrant-16px">
          أشترك الآن فى النشرة البريدية للحصول على أحدث العروض والأخبار الحصرية
        </p>
        <div class="frame-91">
          <div class="frame-27">
            <div class="textbahijthesansarabic-bold-white-14px">إشترك الآن</div>
            <img class="send" src="send.svg" alt="send" />
          </div>
          <div class="textbahijthesansarabic-bold-mamba-14px">بريدك الإلكتروني</div>
        </div>
      </div>
      <div class="frame-93">
        <div class="frame-5">
          <div class="text-3text-7bahijthesansarabic-bold-scarpa-flow-14px">تتبع طلبك</div>
          <div class="text-3text-7bahijthesansarabic-bold-scarpa-flow-14px">التوصيل والإسترجاع</div>
          <div class="text-3text-7bahijthesansarabic-bold-scarpa-flow-14px">الشروط والأحكام</div>
        </div>
        <div class="frame-5">
          <div class="text-3text-7bahijthesansarabic-bold-scarpa-flow-14px">تواصل معنا</div>
          <div class="text-3text-7bahijthesansarabic-bold-scarpa-flow-14px">عن طله</div>
          <div class="text-3text-7bahijthesansarabic-bold-scarpa-flow-14px">الرئيسية</div>
        </div>
      </div>
    </div>
  </div>
  <p class="text-24text-7">الحقوق - 2022. جميع الحقوق محفوظة لـ طله</p>
</footer>
