<div class="frame-103">
  <div class="product-titleproduct-5">
    <div class="text-1text-7bahijthesansarabic-bold-white-24px">الأكثر إعجاباً</div>
    <img class="group-63" src="group-63-1.png" alt="Group 63" />
  </div>
  <div class="frame-102">
    <div class="frame-1">
      <article class="blog-card">
        <img class="rectangle-1-1rectangle-1-4" src="rectangle-1-4.png" alt="Rectangle 1" />
        <div class="frame-2">
          <div class="frame-69">
            <div class="text-3text-7bahijthesansarabic-bold-gigas-12px">عمليات التجميل الجراحية</div>
            <div class="text-3text-7bahijthesansarabic-bold-violet-red-12px">جمالك</div>
          </div>
          <p class="text-5text-7bahijthesansarabic-bold-blackcurrant-16px">
            عمليات التجميل الجراحية لدي الفنانين وأشهر الأطباء
          </p>
        </div>
      </article>
      <article class="blog-card">
        <img class="rectangle-1-1rectangle-1-4" src="rectangle-1-5.png" alt="Rectangle 1" />
        <div class="frame-2">
          <div class="frame-69">
            <div class="text-3text-7bahijthesansarabic-bold-gigas-12px">إحكيلنا قصة طلتك</div>
            <div class="text-3text-7bahijthesansarabic-bold-violet-red-12px">قصة نجاح</div>
          </div>
          <p class="text-5text-7bahijthesansarabic-bold-blackcurrant-16px">
            قصة نجاح عارضة الأزياء العالمية ماريا شيارفا
          </p>
        </div>
      </article>
      <article class="blog-card">
        <img class="rectangle-1-1rectangle-1-4" src="rectangle-1-6.png" alt="Rectangle 1" />
        <div class="frame-2">
          <div class="frame-69">
            <div class="text-3text-7bahijthesansarabic-bold-gigas-12px">حيوانات منزلية</div>
            <div class="text-3text-7bahijthesansarabic-bold-violet-red-12px">أليفك</div>
          </div>
          <p class="text-5text-7bahijthesansarabic-bold-blackcurrant-16px">
            أطعمة لذيذه للكلاب تساعدها على التركيز
          </p>
        </div>
      </article>
      <article class="blog-card">
        <img class="rectangle-1-1rectangle-1-4" src="rectangle-1-7.png" alt="Rectangle 1" />
        <div class="frame-2">
          <div class="frame-69">
            <div class="text-3text-7bahijthesansarabic-bold-gigas-12px">تربية ومراهقة</div>
            <div class="text-3text-7bahijthesansarabic-bold-violet-red-12px">الأمومة</div>
          </div>
          <p class="text-5text-7bahijthesansarabic-bold-blackcurrant-16px">
            هل تعانين من البكاء المستمر لأطفالك؟ إليك عشرة حلول لذلك
          </p>
        </div>
      </article>
    </div>
    <div class="frame-1">
      <article class="blog-card">
        <img class="rectangle-1-2rectangle-1-4" src="rectangle-1-8.png" alt="Rectangle 1" />
        <div class="frame-2">
          <div class="frame-69">
            <div class="text-3text-7bahijthesansarabic-bold-gigas-12px">سوارية وزفاف</div>
            <div class="text-3text-7bahijthesansarabic-bold-violet-red-12px">الأزياء</div>
          </div>
          <p class="text-5text-7bahijthesansarabic-bold-blackcurrant-16px">
            عارضات أزياء عالميات يصبحن الأكثر شهرة فى باريس
          </p>
        </div>
      </article>
      <article class="blog-card">
        <img class="rectangle-1-2rectangle-1-4" src="rectangle-1-9.png" alt="Rectangle 1" />
        <div class="frame-2">
          <div class="frame-69">
            <div class="text-3text-7bahijthesansarabic-bold-gigas-12px">الجسم المثالي</div>
            <div class="text-3text-7bahijthesansarabic-bold-violet-red-12px">نادي النعومة</div>
          </div>
          <p class="text-5text-7bahijthesansarabic-bold-blackcurrant-16px">
            الإعتناء بالجسم فى ليالي الشتاء الباردة
          </p>
        </div>
      </article>
      <article class="blog-card">
        <img class="rectangle-1-2rectangle-1-4" src="rectangle-1-10.png" alt="Rectangle 1" />
        <div class="frame-2">
          <div class="frame-69">
            <div class="text-3text-7bahijthesansarabic-bold-gigas-12px">مواقع</div>
            <div class="text-3text-7bahijthesansarabic-bold-violet-red-12px">دليلك</div>
          </div>
          <p class="text-5text-7bahijthesansarabic-bold-blackcurrant-16px">
            أكثر المواقع شهره لوصفات فطار رمضانيه يوميه
          </p>
        </div>
      </article>
      <article class="blog-card">
        <img class="rectangle-1-2rectangle-1-4" src="rectangle-1-11.png" alt="Rectangle 1" />
        <div class="frame-2">
          <div class="frame-69">
            <div class="text-3text-7bahijthesansarabic-bold-gigas-12px">علاقات أسرية</div>
            <div class="text-3text-7bahijthesansarabic-bold-violet-red-12px">الأسرة والمنزل</div>
          </div>
          <p class="text-5text-7bahijthesansarabic-bold-blackcurrant-16px">
            سر طبخ الأزواج معا والتمتع بأكل صحي وشهي
          </p>
        </div>
      </article>
    </div>
  </div>
</div>
