@font-face {
  font-family: "Bahij TheSansArabic-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("https://fonts.animaapp.com/BahijTheSansArabic-Bold") format("truetype");
}

.frame {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
  width: fit-content;
}

.frame-121 {
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 322px;
}

.button-2 {
  gap: 4px;
}

.home-logged-in .button-3 {
  align-items: center;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  position: relative;
  width: fit-content;
}

.group-82 {
  height: 23px;
  margin-right: -2px;
  min-width: 59px;
  position: relative;
}

.arrow-up-left {
  height: 16px;
  left: 0;
  position: absolute;
  top: 4px;
  width: 16px;
}

.text-6-1 {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: 
transparent;
  background: linear-gradient(180deg, 
rgb(239, 100, 152) 0%, 
rgb(84, 45, 145) 100%);
  background-clip: text;
  direction: rtl;
  left: 20px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: left;
  text-fill-color: 
transparent;
  top: 0;
}

.product-title {
  align-items: flex-start;
  justify-content: flex-end;
}

.home-logged-in .product-5 {
  display: flex;
  position: relative;
  width: fit-content;
}

.group-63-1 {
  height: 16px;
  margin-left: -8px;
  min-width: 26.82px;
  position: relative;
}

.text-1 {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: 
transparent;
  background: linear-gradient(180deg, 
rgb(239, 100, 152) 0%, 
rgb(84, 45, 145) 100%);
  background-clip: text;
  line-height: 38px;
  margin-top: -1px;
  position: relative;
  text-fill-color: 
transparent;
  white-space: nowrap;
  width: fit-content;
}

.home-logged-in .text-7 {
  direction: rtl;
  letter-spacing: 0;
}

.frame-99 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
  width: fit-content;
}

.product {
  align-items: center;
  display: flex;
  gap: 16px;
  position: relative;
  width: fit-content;
}

.group-77 {
  background-image: url(../img/rectangle-2@2x.png);
  background-size: 100% 100%;
  height: 120px;
  min-width: 120px;
  position: relative;
}

.cart-button {
  align-items: center;
  border-radius: 8px;
  display: flex;
  height: 24px;
  justify-content: flex-end;
  left: 8px;
  position: absolute;
  top: 88px;
  width: 104px;
}

.frame-109 {
  height: 24px;
  min-width: 24px;
  position: relative;
}

.frame-container {
  align-items: center;
  display: flex;
  gap: 46px;
  height: 52px;
  left: 0;
  min-width: 112px;
  position: absolute;
  top: 8px;
}

.frame-169 {
  align-items: center;
  background-color: var(--secondaryvaliant-poppy);
  border-radius: 0px 16px 16px 0px;
  display: flex;
  gap: 8px;
  justify-content: center;
  padding: 8px;
  position: relative;
  width: fit-content;
}

.text-2 {
  line-height: 19px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.frame-168 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: relative;
  width: fit-content;
}

.favorite {
  align-items: center;
  background-color: var(--cultured-pearl);
  border-radius: 8px;
  display: flex;
  gap: 8px;
  height: 24px;
  justify-content: center;
  padding: 4px;
  position: relative;
  width: 24px;
}

.heart {
  height: 13px;
  min-width: 15px;
  position: relative;
}

.qucik-view {
  align-items: center;
  background-color: var(--cultured-pearl);
  border-radius: 8px;
  display: flex;
  gap: 8px;
  height: 24px;
  justify-content: center;
  padding: 4px;
  position: relative;
  width: 24px;
}

.eye {
  height: 15px;
  min-width: 15px;
  position: relative;
}

.frame-28 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 120px;
  justify-content: center;
  position: relative;
  width: fit-content;
}

.frame-98 {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 186px;
}

.price-1 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.price {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  opacity: 0.7;
  position: relative;
  text-align: right;
  text-decoration: line-through;
  width: fit-content;
}

.frame-105 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: relative;
  width: fit-content;
}

.rating {
  height: 16px;
  min-width: 80px;
  position: relative;
}

.maybelline-lifter-lip-gloss-008-stone {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: right;
  width: 186px;
}

.product-4 {
  align-items: center;
  gap: 16px;
}

.home-logged-in .egp-24900-4 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.home-logged-in .group-77-5 {
  background-position: 50% 50%;
  background-size: cover;
  height: 120px;
  min-width: 120px;
  position: relative;
}

.group-77-4 {
  background-image: url(../img/rectangle-2-4@2x.png);
}

.home-logged-in .frame-109-5 {
  height: 24px;
  min-width: 24px;
  position: relative;
}

.home-logged-in .favorite-5 {
  align-items: center;
  background-color: var(--cultured-pearl);
  border-radius: 8px;
  display: flex;
  gap: 8px;
  height: 24px;
  justify-content: center;
  padding: 4px;
  position: relative;
  width: 24px;
}

.home-logged-in .qucik-view-5 {
  align-items: center;
  background-color: var(--cultured-pearl);
  border-radius: 8px;
  display: flex;
  gap: 8px;
  height: 24px;
  justify-content: center;
  padding: 4px;
  position: relative;
  width: 24px;
}

.home-logged-in .eye-5 {
  height: 15px;
  min-width: 15px;
  position: relative;
}

.product-1 {
  align-items: center;
  gap: 16px;
}

.group-77-1 {
  background-image: url(../img/rectangle-2-1@2x.png);
}

.egp-24900 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.product-3 {
  align-items: center;
  gap: 16px;
}

.group-77-3 {
  background-image: url(../img/rectangle-2-3@2x.png);
}

.product-2 {
  align-items: center;
  gap: 16px;
}

.group-77-2 {
  background-image: url(../img/rectangle-2-2@2x.png);
}
