<article class="product">
  <div class="frame-28">
    <div class="frame-105">
      <p
        class="maybelline-lifter-lip-gloss-008-stone bahijthesansarabic-bold-blackcurrant-16px"
      >
        Maybelline Lifter Lip Gloss 008 Stone
      </p>
      <img class="rating" src="rating-38.svg" alt="Rating" />
    </div>
    <div class="frame-98">
      <div class="price bahijthesansarabic-bold-mamba-16px">EGP 600.00</div>
      <div class="egp-24900 bahijthesansarabic-bold-violet-red-16px">
        EGP 640.00
      </div>
    </div>
  </div>
  <div class="group-77">
    <div class="frame-container">
      <div class="frame-169">
        <div class="text-5 text-7 bahijthesansarabic-bold-white-12px">خصم</div>
      </div>
      <div class="frame-168">
        <div class="favorite">
          <img class="heart" src="heart-10.svg" alt="heart" />
        </div>
        <div class="qucik-view">
          <img class="eye" src="eye-18.svg" alt="eye" />
        </div>
      </div>
    </div>
    <div class="cart-button">
      <img class="frame-109-9" src="frame-109-29.svg" alt="Frame 109" />
    </div>
  </div>
</article>

