@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@font-face {
  font-family: "Bahij TheSansArabic-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("https://fonts.animaapp.com/BahijTheSansArabic-Bold")
    format("truetype");
}

.frame-104 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 64px;
  position: relative;
  width: fit-content;
}

* {
  box-sizing: border-box;
}

.product-title {
  align-items: flex-start;
  justify-content: flex-end;
}

.home-logged-in .product-5 {
  display: flex;
  position: relative;
  width: fit-content;
}

.text-1 {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(
    180deg,
    rgb(239, 100, 152) 0%,
    rgb(84, 45, 145) 100%
  );
  background-clip: text;
  line-height: 38px;
  margin-top: -1px;
  position: relative;
  text-fill-color: transparent;
  white-space: nowrap;
  width: fit-content;
}

.home-logged-in .text-7 {
  direction: rtl;
  letter-spacing: 0;
}

.group-63 {
  height: 16px;
  margin-left: -8px;
  min-width: 26.82px;
  position: relative;
}

.frame-63 {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: relative;
  width: fit-content;
}

.frame-1 {
  align-items: flex-start;
  display: flex;
  gap: 24px;
  position: relative;
  width: fit-content;
}

.frame-4 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: fit-content;
}

.group {
  background-color: var(--violet-red);
  border-radius: 207px;
  height: 207px;
  min-width: 207px;
  position: relative;
}

.group-79 {
  height: 88px;
  left: 63px;
  position: absolute;
  top: 60px;
  width: 81px;
}

.text-6 {
  line-height: normal;
  position: relative;
  text-align: center;
  width: fit-content;
}

.group-71-1 {
  height: 207px;
  min-width: 207px;
  position: relative;
}

.group-71 {
  height: 88px;
  left: 57px;
  position: absolute;
  top: 60px;
  width: 94px;
}

.group-75-1 {
  background: linear-gradient(
    180deg,
    rgb(239, 100, 152) 0%,
    rgb(84, 45, 145) 100%
  );
  border-radius: 207px;
  height: 207px;
  min-width: 207px;
  position: relative;
}

.group-81-1 {
  height: 88px;
  left: 67px;
  position: absolute;
  top: 60px;
  width: 74px;
}

.group-74 {
  height: 88px;
  left: 80px;
  position: absolute;
  top: 60px;
  width: 47px;
}

.group-82-1 {
  height: 88px;
  left: 69px;
  position: absolute;
  top: 60px;
  width: 69px;
}

.vector-22 {
  height: 88px;
  left: 66px;
  position: absolute;
  top: 60px;
  width: 75px;
}

.group-90 {
  height: 88px;
  left: 86px;
  position: absolute;
  top: 60px;
  width: 35px;
}

.group-92 {
  height: 88px;
  left: 61px;
  position: absolute;
  top: 60px;
  width: 87px;
}

.group-84 {
  height: 88px;
  left: 52px;
  position: absolute;
  top: 60px;
  width: 101px;
}

.group-88 {
  height: 88px;
  left: 58px;
  position: absolute;
  top: 60px;
  width: 93px;
}

