<div class="frame-103">
  <div class="product-title product-5">
    <img
      class="group-63"
      src="../assets/img/group-63-1@2x.png"
      alt="Group 63"
    />
    <div class="text-1 text-4 bahijthesansarabic-bold-white-24px">
      الأكثر إعجاباً
    </div>
  </div>
  <div class="col-12 frame-102">
    <div class="row frame-1">
      <div class="col-12 col-md-3">
        <!--(bake ./blog_card.html)-->
      </div>
      <div class="col-12 col-md-3">
        <!--(bake ./blog_card.html)-->
      </div>
      <div class="col-12 col-md-3">
        <!--(bake ./blog_card.html)-->
      </div>
      <div class="col-12 col-md-3">
        <!--(bake ./blog_card.html)-->
      </div>
      <div class="col-12 col-md-3">
        <!--(bake ./blog_card.html)-->
      </div>
      <div class="col-12 col-md-3">
        <!--(bake ./blog_card.html)-->
      </div>
      <div class="col-12 col-md-3">
        <!--(bake ./blog_card.html)-->
      </div>
      <div class="col-12 col-md-3">
        <!--(bake ./blog_card.html)-->
      </div>
    </div>
  </div>
</div>
