<div class="group-9sss6">
  <div class="swiper blogsSlider">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="../assets/img/rectangle-27-2.svg" />
      </div>
      <div class="swiper-slide">
        <img src="../assets/img/rectangle-27-3.svg" />
      </div>
      <div class="swiper-slide">
        <img src="../assets/img/rectangle-27-2.svg" />
      </div>
    </div>
    <div class="slider__pagination blogsSlider__pagination center">
      <div class="blogs-pagination"></div>
    </div>
  </div>
</div>
