<div class="frame-container-2">
  <div class="frame-69-1">
    <div class="text-1 text-4 bahijthesansarabic-bold-gigas-12px">
      الصحة والرشاقة
    </div>
    <img
      class="chevron-left"
      src="../assets/img/chevron-left.svg"
      alt="chevron-left"
    />
    <div class="text-1 text-4 bahijthesansarabic-bold-violet-red-12px">
      الرئيسية
    </div>
  </div>
  <div class="frame-113">
    <div class="frame">
      <img
        class="isolation_-mode"
        src="../assets/img/isolation-mode.svg"
        alt="Isolation_Mode"
      />
      <h1 class="text-323 text-4 bahijthesansarabic-bold-white-24px">
        الصحة والرشاقة
      </h1>
    </div>
    <a href="blog-sub-category.html">
      <div class="frame-109">
        <div class="frame-1">
          <div class="text-1 text-4 bahijthesansarabic-bold-gigas-14px">
            صحة عامة
          </div>
        </div>
        <div class="frame-1">
          <div class="text-1 text-4 bahijthesansarabic-bold-gigas-14px">
            الطب الحديث
          </div>
        </div>
        <div class="frame-1">
          <div class="text-1 text-4 bahijthesansarabic-bold-gigas-14px">
            الطب البديل
          </div>
        </div>
        <div class="frame-1">
          <div class="text-1 text-4 bahijthesansarabic-bold-gigas-14px">
            الأمراض
          </div>
        </div>
        <div class="frame-1">
          <div class="text-1 text-4 bahijthesansarabic-bold-gigas-14px">
            الصحة النفسية
          </div>
        </div>
        <div class="frame-1">
          <div class="text-1 text-4 bahijthesansarabic-bold-gigas-14px">
            الرشاقة والتخسيس
          </div>
        </div>
      </div></a
    >
  </div>
</div>
