<a class="blog-card__cta" href="article.html">
  <article class="blog-card">
    <img
      class="blog-card__img"
      src="../assets/img/rectangle-1-1@2x.png"
      alt="Rectangle 1"
    />
    <div class="blog-card__text-wrapper">
      <div class="blog-card__text-sub">
        <div class="blog-card__text-2 text-4 bahijthesansarabic-bold-gigas-12px">
          حيوانات منزلية
        </div>
        <div class="blog-card__text-2 text-4 bahijthesansarabic-bold-violet-red-12px">
          أليفك
        </div>
      </div>
      <div class="blog-card__title">
        ضحك ولعب وجد وكلب!
      </div>
    </div>
  </article>
</a>
