<footer class="footer">
  <div class="footer__container">
    <div class="footer__logo__container">
      <div class="footer-logo-container">
        <img src="../assets/img/footer-logo.png" />
      </div>
      <div class="frame-85">
        <div class="frame-156-1">
          <a class="group-10"><img class="icon-youtube" src="../assets/img/youtube.svg" alt="icon-youtube" /></a>
          <a class="group-10">
            <img class="icon-instagram-1" src="../assets/img/instagram.svg" alt="icon-instagram" />
          </a>
          <a class="group-10"><img class="icon-linkedin" src="../assets/img/linkedin.svg" alt="icon-linkedin" /></a>
          <a class="group-10"><img class="icon-twitter-1" src="../assets/img/twitter.svg" alt="icon-twitter" /></a>
          <a class="group-10"><img class="icon-facebook" src="../assets/img/facebook.svg" alt="icon-facebook" /></a>
        </div>
      </div>
    </div>
    <div class="footer__content">
      <div class="footer__logo__container">
        <p class="text-301 text-4 bahijthesansarabic-bold-blackcurrant-16px">
          أشترك الآن فى النشرة البريدية للحصول على أحدث العروض والأخبار الحصرية
        </p>
        <form class="footer__search">
          <button type="submit" class="frame-27">
            <a class="text bahijthesansarabic-bold-white-14px-2">إشترك الآن</a>
            <img class="icon-paper_plane" src="../assets/img/send.svg" alt="icon-paper_plane" />
          </button>
          <input class="footer__search__input" placeholder="بريدك الإلكتروني" />
        </form>
      </div>
      <div class="footer__cta-actions bahijthesansarabic-bold-scarpa-flow-14px">
        <div class="footer__cta-actions__container">
          <a class="text-2 text-4" href="#">تتبع طلبك</a>
          <a class="text-2 text-4" href="#">التوصيل والإسترجاع</a>
          <a class="text-2 text-4" href="#">الشروط والأحكام</a>
        </div>
        <div class="footer__cta-actions__container">
          <a class="text-2 text-4" href="#">تواصل معنا</a>
          <a class="text-2 text-4" href="#">عن طله</a>
          <a class="text-2 text-4" href="#">الرئيسية</a>
        </div>
      </div>
    </div>
  </div>
  <p class="footer__rc text-4">الحقوق - 2022. جميع الحقوق محفوظة لـ طله</p>
</footer>