<footer class="footer">
  <div class="footer__container">
    <div class="footer__logo__container">
      <a href="index.html" class="footer-logo-container">
        <img src="../assets/img/talah-categories/logo.svg" />
      </a>
      <div class="navbar__upper__frame-right">
        <a class="nav__social">
          <img
            class="facebook"
            src="../assets/img/facebook-1.svg"
            alt="facebook"
          />
        </a>
        <a class="nav__social">
          <img
            class="icon-twitter"
            src="../assets/img/twitter-1.svg"
            alt="icon-twitter"
          />
        </a>
        <a class="nav__social">
          <img
            class="icon-notifications"
            src="../assets/img/iconmonstr-snapchat-1-1-3.svg"
            alt="icon-notifications"
          />
        </a>
        <a class="nav__social">
          <img
            class="icon-instagram"
            src="../assets/img/instagram-1.svg"
            alt="icon-instagram"
          />
        </a>
      </div>
    </div>
    <div class="footer__content">
      <div class="footer__logo__container">
        <p class="text-301 text-4 bahijthesansarabic-bold-blackcurrant-16px">
          أشترك الآن فى النشرة البريدية للحصول على أحدث العروض والأخبار الحصرية
        </p>
        <form class="footer__search">
          <input class="footer__search__input" placeholder="بريدك الإلكتروني" />
          <button type="submit" class="frame-27">
            <img
              class="icon-paper_plane"
              src="../assets/img/send.svg"
              alt="icon-paper_plane"
            />
            <a class="text bahijthesansarabic-bold-white-14px-2">إشترك الآن</a>
          </button>
        </form>
      </div>
      <div class="footer__cta-actions bahijthesansarabic-bold-scarpa-flow-14px">
        <div class="footer__cta-actions__container">
          <a href="#">الرئيسية</a>
          <a href="#">عن طله</a>
          <a href="#">تواصل معنا</a>
        </div>
        <div class="footer__cta-actions__container">
          <a href="#">الشروط والأحكام</a>
          <a href="#">التوصيل والإسترجاع</a>
          <a href="#">تتبع طلبك</a>
        </div>
      </div>
    </div>
  </div>
  <p class="footer__rc text-4">الحقوق - 2022. جميع الحقوق محفوظة لـ طله</p>
</footer>

<script src="../../web/builds/js/buildHome.js"></script>
