<div class="container">
  <div class="row navbar__box">
    <div class="navbar">
      <div class="navbar__wrapper">
        <div class="navbar__upper">
          <div class="navbar__upper__frame-container">
            <div class="navbar__upper__frame-left">
              <a href="#" class="cta">
                <div class="text bahijthesansarabic-bold-white-14px-2">
                  متجر طلة
                </div>
                <img
                  class="shopping-bag"
                  src="../assets/img/shopping-bag-1.svg"
                  alt="shopping-bag"
                />
              </a>
              <a href="#" class="cta-follow">
                <div class="text bahijthesansarabic-bold-violet-red-14px">
                  تتبع الطلبات
                </div>
                <img class="truck" src="../assets/img/truck.svg" alt="truck" />
              </a>
            </div>
            <form class="navbar__upper__frame-search">
              <button type="submit" class="icon-search__button">
                <img
                  class="icon-search"
                  src="../assets/img/search.svg"
                  alt="icon-search"
                />
              </button>
              <input
                class="form__input--small input-text bahijthesansarabic-bold-mamba-14px"
                placeholder="إبحث في طله..."
              />
            </form>
            <div class="navbar__upper__frame-right">
              <a class="nav__social">
                <img
                  class="icon-instagram"
                  src="../assets/img/instagram-1.svg"
                  alt="icon-instagram"
                />
              </a>
              <a class="nav__social">
                <img
                  class="icon-notifications"
                  src="../assets/img/iconmonstr-snapchat-1-1-3.svg"
                  alt="icon-notifications"
                />
              </a>
              <a class="nav__social">
                <img
                  class="icon-twitter"
                  src="../assets/img/twitter-1.svg"
                  alt="icon-twitter"
                />
              </a>
              <a class="nav__social">
                <img
                  class="facebook"
                  src="../assets/img/facebook-1.svg"
                  alt="facebook"
                />
              </a>
            </div>
          </div>
        </div>
        <div class="navbar__down">
          <div
            class="navbar__down-wrapper-left bahijthesansarabic-bold-blackcurrant-14px"
          >
            <div class="navbar__dropdown-icons">
              <div class="navbar__dropdown-icon">
                <div class="overlap-group1">
                  <img
                    class="icon"
                    src="../assets/img/group-75@2x.png"
                    alt="icon-cart"
                  />
                  <div class="overlap-group">
                    <div class="ellipse-1"></div>
                    <div
                      class="number valign-text-middle bahijthesansarabic-bold-white-12px"
                    >
                      0
                    </div>
                  </div>
                </div>
              </div>
              <div class="navbar__dropdown-icon">
                <div class="overlap-group2">
                  <img
                    class="icon"
                    src="../assets/img/heart.svg"
                    alt="icon-heart"
                  />
                  <div class="overlap-group-1">
                    <div class="ellipse-1"></div>
                    <div
                      class="number valign-text-middle bahijthesansarabic-bold-white-12px"
                    >
                      0
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <a class="user" onclick="ShowOverlay('user-menu', 'animate-appear');">
              <div class="navbar__user__data">
                <div class="frame-160">
                  <img
                    class="arrow-down-1"
                    src="../assets/img/arrow-down.svg"
                    alt="arrow-down"
                  />
                  <div
                    class="navbar__user__name text-4 bahijthesansarabic-bold-white-14px"
                  >
                    نيرة الشريف
                  </div>
                </div>
                <div class="text">مرحبا،</div>
              </div>
              <div class="group-127">
                <img
                  class="icon-user"
                  src="../assets/img/user.svg"
                  alt="icon-user"
                />
              </div>
            </a>
            <div class="language hidden">English</div>
          </div>
          <div class="navbar__down-wrapper">
            <a class="frame-106">
              <img
                class="arrow-down"
                src="../assets/img/arrow-down.svg"
                alt="arrow-down"
              />
              <div
                href="blogs.html"
                class="text bahijthesansarabic-bold-blackcurrant-14px"
              >
                المزيد
              </div>
            </a>
            <a
              href="blogs.html"
              class="text bahijthesansarabic-bold-blackcurrant-14px"
            >
              شخصيات ملهمة
            </a>
            <a
              href="blogs.html"
              class="text bahijthesansarabic-bold-blackcurrant-14px"
              >أليفك</a
            >
            <a
              href="blogs.html"
              class="text bahijthesansarabic-bold-blackcurrant-14px"
              >دليلك</a
            >
            <a
              href="blogs.html"
              class="text bahijthesansarabic-bold-blackcurrant-14px"
            >
              الأزياء
            </a>
            <a
              href="blogs.html"
              class="text bahijthesansarabic-bold-blackcurrant-14px"
            >
              الأسرة والمنزل
            </a>
            <a
              href="blogs.html"
              class="text bahijthesansarabic-bold-blackcurrant-14px"
            >
              الأمومة
            </a>
            <a
              href="blogs.html"
              class="text bahijthesansarabic-bold-blackcurrant-14px"
            >
              الصحة والرشاقة
            </a>
            <a
              href="blogs.html"
              class="text bahijthesansarabic-bold-blackcurrant-14px"
              >عن طله</a
            >
            <a
              href="index.html"
              class="text-32 text-4 bahijthesansarabic-bold-white-14px active"
            >
              الرئيسية
            </a>
          </div>
        </div>
      </div>
      <div class="logo">
        <div class="logo__wrapper">
          <a href="index.html" class="group-container">
            <img
              class="clip-path-group"
              src="../assets/img/talah-categories/logo.svg"
              alt="Clip path group"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid rectangle-12"></div>
