<div class="container">
  <div class="row navbar__box">
    <div class="navbar">
      <div class="logo">
        <div class="logo__wrapper">
          <a href="index.html" class="group-container">
            <img
              class="clip-path-group"
              src="../assets/img/talah-categories/logo.svg"
              alt="Clip path group"
            />
          </a>
        </div>
      </div>
      <div class="navbar__wrapper">
        <div class="navbar__upper">
          <div class="navbar__upper__frame-container">
            <div class="navbar__upper__frame-right">
              <a class="nav__social">
                <img
                  class="facebook"
                  src="../assets/img/facebook-1.svg"
                  alt="facebook"
                />
              </a>

              <a class="nav__social">
                <img
                  class="icon-twitter"
                  src="../assets/img/twitter-1.svg"
                  alt="icon-twitter"
                />
              </a>
              <a class="nav__social">
                <img
                  class="icon-notifications"
                  src="../assets/img/iconmonstr-snapchat-1-1-3.svg"
                  alt="icon-notifications"
                />
              </a>
              <a class="nav__social">
                <img
                  class="icon-instagram"
                  src="../assets/img/instagram-1.svg"
                  alt="icon-instagram"
                />
              </a>
            </div>
            <form class="navbar__upper__frame-search">
              <button type="submit" class="icon-search__button">
                <img
                  class="icon-search"
                  src="../assets/img/search.svg"
                  alt="icon-search"
                />
              </button>
              <input
                class="form__input--small input-text bahijthesansarabic-bold-mamba-14px"
                placeholder="إبحث في طله..."
              />
            </form>
            <div class="navbar__upper__frame-left">
              <a href="#" class="cta hide-store">
                <div class="text bahijthesansarabic-bold-white-14px-2">
                  متجر طلة
                </div>
                <img
                  class="shopping-bag"
                  src="../assets/img/shopping-bag-1.svg"
                  alt="shopping-bag"
                />
              </a>
              <a href="#" class="cta-follow hide-store">
                <div class="text bahijthesansarabic-bold-violet-red-14px">
                  تتبع الطلبات
                </div>
                <img class="truck" src="../assets/img/truck.svg" alt="truck" />
              </a>
            </div>
          </div>
        </div>
        <div class="navbar__down">
          <div class="navbar__down-wrapper">
            <a
              href="index.html"
              class="text-32 text-4 bahijthesansarabic-bold-white-14px active"
            >
              الرئيسية
            </a>

            <a
              href="blogs.html"
              class="text bahijthesansarabic-bold-blackcurrant-14px"
              >عن طله</a
            >
            <a
              href="blogs.html"
              class="text bahijthesansarabic-bold-blackcurrant-14px"
            >
              الصحة والرشاقة
            </a>
            <a
              href="blogs.html"
              class="text bahijthesansarabic-bold-blackcurrant-14px"
            >
              الأمومة
            </a>
            <a
              href="blogs.html"
              class="text bahijthesansarabic-bold-blackcurrant-14px"
            >
              الأسرة والمنزل
            </a>
            <a
              href="blogs.html"
              class="text bahijthesansarabic-bold-blackcurrant-14px"
            >
              الأزياء
            </a>
            <a
              href="blogs.html"
              class="text bahijthesansarabic-bold-blackcurrant-14px"
              >دليلك</a
            >
            <a
              href="blogs.html"
              class="text bahijthesansarabic-bold-blackcurrant-14px"
              >أليفك</a
            >
            <a
              href="blogs.html"
              class="text bahijthesansarabic-bold-blackcurrant-14px"
            >
              شخصيات ملهمة
            </a>
            <a class="frame-106">
              <div
                href="blogs.html"
                class="text bahijthesansarabic-bold-blackcurrant-14px"
              >
                المزيد
              </div>
              <img
                class="arrow-down"
                src="../assets/img/arrow-down.svg"
                alt="arrow-down"
              />
            </a>
          </div>
          <div
            class="navbar__down-wrapper-left bahijthesansarabic-bold-blackcurrant-14px"
          >
            <div class="language hidden">English</div>
            <a
              class="user"
              onclick="ShowOverlay('user-menu', 'animate-appear');"
            >
              <div class="group-127">
                <img
                  class="icon-user"
                  src="../assets/img/user.svg"
                  alt="icon-user"
                />
              </div>
              <div class="navbar__user__data">
                <div class="text">مرحبا،</div>

                <div class="frame-160">
                  <div
                    class="navbar__user__name text-4 bahijthesansarabic-bold-white-14px"
                  >
                    نيرة الشريف
                  </div>
                  <img
                    class="arrow-down-1"
                    src="../assets/img/arrow-down.svg"
                    alt="arrow-down"
                  />
                </div>
              </div>
              <div id="overlay-user-menu" class="overlay-base">
                <div class="user-menu screen">
                  <div class="user-menu-1">
                    <div
                      class="frame-283 frame bahijthesansarabic-bold-blackcurrant-14px"
                    >
                      <div class="frame-2 frame">
                        <div class="text">طلباتي</div>
                        <img
                          class="newspaper-newsletter__img"
                          src="../assets/img/newspaper-newsletter@2x.png"
                          alt="newspaper-newsletter"
                        />
                      </div>
                      <div class="frame-2 frame">
                        <div class="text">طلبات الإرجاع</div>
                        <img
                          class="newspaper-newsletter__img"
                          src="../assets/img/arrows-dots-rotate@2x.png"
                          alt="arrows-dots-rotate"
                        />
                      </div>
                      <div class="frame-2 frame">
                        <div class="text">العناوين</div>
                        <img
                          class="newspaper-newsletter__img"
                          src="../assets/img/route@2x.png"
                          alt="route"
                        />
                      </div>
                      <div class="frame-2 frame">
                        <div class="text">إعدادات الحساب</div>
                        <img
                          class="newspaper-newsletter__img"
                          src="../assets/img/user-gear@2x.png"
                          alt="user-gear"
                        />
                      </div>
                      <div class="frame-2 frame">
                        <div class="text">تسجيل الخروج</div>
                        <img
                          class="newspaper-newsletter__img"
                          src="../assets/img/log-in@2x.png"
                          alt="log-in"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </a>
            <div class="navbar__dropdown-icons">
              <div class="navbar__dropdown-icon">
                <div class="overlap-group1">
                  <img
                    class="icon"
                    src="../assets/img/group-75@2x.png"
                    alt="icon-cart"
                  />
                  <div class="overlap-group">
                    <div class="ellipse-1"></div>
                    <div
                      class="number valign-text-middle bahijthesansarabic-bold-white-12px"
                    >
                      0
                    </div>
                  </div>
                </div>
              </div>
              <div class="navbar__dropdown-icon">
                <div class="overlap-group2">
                  <img
                    class="icon"
                    src="../assets/img/heart.svg"
                    alt="icon-heart"
                  />
                  <div class="overlap-group-1">
                    <div class="ellipse-1"></div>
                    <div
                      class="number valign-text-middle bahijthesansarabic-bold-white-12px"
                    >
                      0
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid rectangle-12"></div>

<script>
  ShowOverlay = function (overlayName, animationName) {
    overlayName = "overlay-" + overlayName;
    var cssClasses = document.getElementById(overlayName).className.split(" ");
    var last = cssClasses.slice(-1)[0];
    if (last.lastIndexOf("animate") == -1) {
      document.getElementById(overlayName).className =
        document.getElementById(overlayName).className + " " + animationName;
    }
    if (window.loadAsyncSrc != undefined) {
      loadAsyncSrc();
    }
  };

  HideOverlay = function (overlayName, animationName) {
    overlayName = "overlay-" + overlayName;
    var cssClasses = document.getElementById(overlayName).className.split(" ");
    var last = cssClasses.slice(-1)[0];
    if (last.lastIndexOf("animate") != -1) {
      cssClasses.splice(-1);
      cssClasses.push(animationName);
      document.getElementById(overlayName).className = cssClasses.join(" ");

      cssClasses.splice(-1);
      setTimeout(function () {
        document.getElementById(overlayName).className = cssClasses.join(" ");
      }, 1100);
    }
    var vids = document.getElementsByTagName("video");
    if (vids) {
      for (var i = 0; i < vids.length; i++) {
        var video = vids.item(i);
        video.pause();
      }
    }
  };

  closeOutsideOverlay = function (overlay_slug) {
    var overlay_id = `overlay-${overlay_slug}`;
    const overlayElement = document.getElementById(overlay_id);
    overlayElement.addEventListener(
      `click`,
      function (event) {
        var overlay_id = `overlay-${overlay_slug}`;
        var e = event || window.event;
        var overlayContainer = overlayElement.getElementsByClassName(
          `${overlay_slug}`
        );
        if (e.target === overlayElement) {
          HideOverlay(`${overlay_slug}`, "animate-disappear");
        }
      },
      false
    );
  };

  CloseOnOverlayClick = function (overlay_slug) {
    var overlay_id = `overlay-${overlay_slug}`;
    document.getElementById(overlay_id).addEventListener(
      `click`,
      function (event) {
        {
          var overlay_id = `overlay-${overlay_slug}`;
          var e = event || window.event;
          var overlayElement = document.getElementById(overlay_id);
          var overlayContainer = overlayElement.getElementsByClassName(
            `${overlay_slug}`
          );
          var clickedDiv = e.toElement || e.target;
          var dismissButton = clickedDiv.parentElement.id == overlay_id;
          var clickOutsideOverlay = false;
          if (overlayContainer.length > 0) {
            {
              clickOutsideOverlay =
                !overlayContainer[0].contains(clickedDiv) ||
                overlayContainer[0] == clickedDiv;
            }
          }
          if (dismissButton || clickOutsideOverlay) {
            {
              HideOverlay(`${overlay_slug}`, "animate-disappear");
            }
          }
        }
      },
      false
    );
  };
</script>
<script>
  closeOutsideOverlay("user");
</script>
<script>
  closeOutsideOverlay("cart");
</script>
<script>
  closeOutsideOverlay("sort");
</script>
