<div class="navbar">
  <div class="navbar__wrapper">
    <div class="navbar__upper">
      <div class="navbar__upper__frame-container">
        <div class="navbar__upper__frame-left">
          <article class="cta">
            <div class="text bahijthesansarabic-bold-white-14px-2">
              متجر طلة
            </div>
            <img
              class="shopping-bag"
              src="../assets/img/shopping-bag-1.svg"
              alt="shopping-bag"
            />
          </article>
          <article class="cta-follow">
            <div class="text bahijthesansarabic-bold-violet-red-14px">
              تتبع الطلبات
            </div>
            <img class="truck" src="../assets/img/truck.svg" alt="truck" />
          </article>
        </div>
        <form class="navbar__upper__frame-search">
          <img class="icon-search" src="../assets/img/search.svg" alt="icon-search" />
          <input class="form__input--small text bahijthesansarabic-bold-mamba-14px" placeholder="إبحث في طله..." />
        </forn>
        <div class="navbar__upper__frame-right">
          <div class="group-10">
            <img
              class="icon-instagram"
              src="../assets/img/instagram-1.svg"
              alt="icon-instagram"
            />
          </div>
          <img
            class="icon-notifications"
            src="../assets/img/iconmonstr-snapchat-1-1-3.svg"
            alt="icon-notifications"
          />
          <div class="group-10">
            <img
              class="icon-twitter"
              src="../assets/img/twitter-1.svg"
              alt="icon-twitter"
            />
          </div>
          <div class="group-10">
            <img class="facebook" src="../assets/img/facebook-1.svg" alt="facebook" />
          </div>
        </div>
      </div>
    </div>
    <div class="navbar__down">
      <div class="navbar__down-wrapper">
        <div class="frame-106">
          <img class="arrow-down" src="../assets/img/arrow-down.svg" alt="arrow-down" />
          <div class="text bahijthesansarabic-bold-blackcurrant-14px">
            المزيد
          </div>
        </div>
        <div class="text bahijthesansarabic-bold-blackcurrant-14px">
          شخصيات ملهمة
        </div>
        <div class="text bahijthesansarabic-bold-blackcurrant-14px">أليفك</div>
        <div class="text bahijthesansarabic-bold-blackcurrant-14px">دليلك</div>
        <div class="text bahijthesansarabic-bold-blackcurrant-14px">
          الأزياء
        </div>
        <div class="text bahijthesansarabic-bold-blackcurrant-14px">
          الأسرة والمنزل
        </div>
        <div class="text bahijthesansarabic-bold-blackcurrant-14px">
          الأمومة
        </div>
        <div class="text bahijthesansarabic-bold-blackcurrant-14px">
          الصحة والرشاقة
        </div>
        <div class="text bahijthesansarabic-bold-blackcurrant-14px">عن طله</div>
        <div class="text-32 text-4 bahijthesansarabic-bold-white-14px">
          الرئيسية
        </div>
      </div>
      <div class="navbar__down-wrapper-left  bahijthesansarabic-bold-blackcurrant-14px">
        <div class="navbar__dropdown-icons">
          <div class="navbar__dropdown-icon">
            <div class="overlap-group1">
              <img class="icon" src="../assets/img/group-75@2x.png" alt="icon-cart" />
              <div class="overlap-group">
                <div class="ellipse-1"></div>
                <div
                  class="number valign-text-middle bahijthesansarabic-bold-white-12px"
                >
                  0
                </div>
              </div>
            </div>
          </div>
          <div class="navbar__dropdown-icon">
            <div class="overlap-group2">
              <img class="icon" src="../assets/img/heart.svg" alt="icon-heart" />
              <div class="overlap-group-1">
                <div class="ellipse-1"></div>
                <div
                  class="number valign-text-middle bahijthesansarabic-bold-white-12px"
                >
                  0
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="user">
          <div class="navbar__user__data">
            <div class="frame-160">
              <img
                class="arrow-down-1"
                src="../assets/img/arrow-down.svg"
                alt="arrow-down"
              />
              <div class="navbar__user__name text-4 bahijthesansarabic-bold-white-14px">
                نيرة الشريف
              </div>
            </div>
            <div class="text">مرحبا،</div>
          </div>
          <div class="group-127">
            <img class="icon-user" src="../assets/img/user.svg" alt="icon-user" />
          </div>
        </div>
        <div class="language hidden">English</div>
      </div>
    </div>
  </div>
  <div class="logo">
    <div class="logo__wrapper">
      <div class="group-container">
        <img
          class="clip-path-group"
          src="../assets/img/tallah_logo.png"
          alt="Clip path group"
        />
      </div>
    </div>
  </div>
</div>
<div class="rectangle-12"></div>
