<div class="frame">
  <div class="frame-121">
    <div class="product-title product-5">
      <img
        class="group-63-1"
        src="../assets/img/group-63-1@2x.png"
        alt="Group 63"
      />
      <div class="text-1 text-4 bahijthesansarabic-bold-white-24px">
        جديد متجر طله
      </div>
    </div>
    <div class="button-2 button-3">
      <a class="group-82">
        <img
          class="arrow-up-left"
          src="../assets/img/arrow-up-left.svg"
          alt="arrow-up-left"
        />
        <div class="text-282 text-4 bahijthesansarabic-bold-white-14px">
          المزيد
        </div>
      </a>
    </div>
  </div>
  <div class="frame-99">
    <!--(bake ./product_vertical_card.html)-->
    <!--(bake ./product_vertical_card.html)-->
    <!--(bake ./product_vertical_card.html)-->
    <!--(bake ./product_vertical_card.html)-->
    <!--(bake ./product_vertical_card.html)-->
  </div>
</div>
