<div class="pagination">
  <div class="pagination__card">
    <div class="pagination__card__content">التالي</div>
  </div>
  <div class="pagination__card">
    <div class="pagination__card__content">100</div>
  </div>
  <div class="pagination__card">
    <div class="pagination__card__content">...</div>
  </div>
  <div class="pagination__card">
    <div class="pagination__card__content">03</div>
  </div>
  <div class="pagination__card">
    <div class="pagination__card__content">02</div>
  </div>
  <div class="pagination__card active">
    <div class="pagination__card__content">01</div>
  </div>
  <div class="pagination__card disabled">
    <div class="pagination__card__content">السابق</div>
  </div>
</div>
