<div class="product-slider__container">
  <div class="product-title product-4">
    <img
      class="group-63"
      src="../assets/img/group-63-1@2x.png"
      alt="Group 63"
    />
    <div class="text_label-1 bahijthesansarabic-bold-white-24px">
      قد يعجبك أيضاً
    </div>
  </div>
  <div class="w-100">
    <div class="swiper productCardsSlider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <!--(bake ./product_big_card.html)-->
        </div>
        <div class="swiper-slide">
          <!--(bake ./product_big_card.html)-->
        </div>
        <div class="swiper-slide">
          <!--(bake ./product_big_card.html)-->
        </div>
        <div class="swiper-slide">
          <!--(bake ./product_big_card.html)-->
        </div>
        <div class="swiper-slide">
          <!--(bake ./product_big_card.html)-->
        </div>
        <div class="swiper-slide">
          <!--(bake ./product_big_card.html)-->
        </div>
      </div>
      <div class="slider__pagination center">
        <div class="productCards-pagination"></div>
      </div>
    </div>
  </div>
</div>
