<a class="product" href="store_product_page.html">
  <div class="group-77">
    <div class="frame-container">
      <div class="frame-169">
        <div class="product__offer-tag">خصم</div>
      </div>
      <div class="frame-168">
        <div class="favorite">
          <img
            class="icon-heart"
            src="../assets/img/heart-3.svg"
            alt="icon-heart"
          />
        </div>
        <div class="qucik-view">
          <img class="icon-eye" src="../assets/img/eye.svg" alt="icon-eye" />
        </div>
      </div>
    </div>
    <div class="cart-button">
      <img
        class="frame-109"
        src="../assets/img/frame-109.svg"
        alt="Frame 109"
      />
    </div>
  </div>
  <div class="frame-28">
    <div class="frame-105">
      <p
        class="maybelline-lifter-lip-gloss-008-stone bahijthesansarabic-bold-blackcurrant-16px"
      >
        Maybelline Lifter Lip Gloss 008 Stone
      </p>
      <img class="rating" src="../assets/img/rating-23.svg" alt="Rating" />
    </div>
    <div class="frame-98">
      <div class="price-1 bahijthesansarabic-bold-violet-red-16px">
        EGP 249.00
      </div>
      <div class="price bahijthesansarabic-bold-mamba-16px">EGP 600.00</div>
    </div>
  </div>
</a>
