<div class="prodcuct-side-container">
  <form class="input__frame-search">
    <button type="submit" class="icon-search__button">
      <img class="icon-search" src="../assets/img/search.svg" alt="icon-search">
    </button>
    <input class="form__input--small text bahijthesansarabic-bold-mamba-14px" placeholder="البحث في المنتجات">
  </form>
  <div class="product-side-filters-container">
    <div class="product-filter-section no-pad">
      <div class="product-filter-section-wrapper">
        <div class="product-filter-section-title">
          <div class="text-94-x5VNFU">الفئات</div>
        </div>

        <div class="accordion product-filter-accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
                <div class="product-filter-section-pannel-title">
                  <div class="product-filter-section-pannel-arrow"></div>
                  <div class="frame-216-rOIorr">
                    <div class="accordion-item-title">الصحة والجمال</div>
                    <div class="vector-zrxfKl"></div>
                  </div>
                </div>
              </button>
            </h2>
            <div
              id="collapseOne"
              class="accordion-collapse collapse show"
              aria-labelledby="headingOne"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <div class="product-filter-section-pannel-element">
                  <div class="product-filter-section-pannel-num">45</div>
                  <div class="product-filter-section-pannel-element-title">
                    الصحة والجمال
                  </div>
                </div>
                <div class="product-filter-section-pannel-element">
                  <div class="product-filter-section-pannel-num">45</div>
                  <div class="product-filter-section-pannel-element-title">
                    الصحة والجمال
                  </div>
                </div>
                <div class="product-filter-section-pannel-element">
                  <div class="product-filter-section-pannel-num">45</div>
                  <div class="product-filter-section-pannel-element-title">
                    الصحة والجمال
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo"
              >
                <div class="product-filter-section-pannel-title">
                  <div class="product-filter-section-pannel-arrow"></div>
                  <div class="frame-216-rOIorr">
                    <div class="accordion-item-title">الصحة والجمال</div>
                    <div class="vector-zrxfKl"></div>
                  </div>
                </div>
              </button>
            </h2>
            <div
              id="collapseTwo"
              class="accordion-collapse collapse"
              aria-labelledby="headingTwo"
              data-bs-parent="#accordionExample"
            >
            <div class="accordion-body">
                <div class="product-filter-section-pannel-element">
                  <div class="product-filter-section-pannel-num">45</div>
                  <div class="product-filter-section-pannel-element-title">
                    الصحة والجمال
                  </div>
                </div>
                <div class="product-filter-section-pannel-element">
                  <div class="product-filter-section-pannel-num">45</div>
                  <div class="product-filter-section-pannel-element-title">
                    الصحة والجمال
                  </div>
                </div>
                <div class="product-filter-section-pannel-element">
                  <div class="product-filter-section-pannel-num">45</div>
                  <div class="product-filter-section-pannel-element-title">
                    الصحة والجمال
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="product-filter-section">
      <div class="product-filter-section-price-wrapper">
        <div class="product-filter-section-title">
          <div class="text-105-EbhJoP">السعر</div>
        </div>
        <div class="product-filter-section-price-container">
          <div class="product-price-filter">
            <div class="rectangle-36-jyZKxY"></div>
            <div class="group-113-jyZKxY">
              <div class="rectangle-37-lFVR6Y"></div>
              <div class="group-111-lFVR6Y">
                <div class="rectangle-38-9JyOFB"></div>
                <div class="rectangle-40-9JyOFB"></div>
                <div class="rectangle-41-9JyOFB"></div>
              </div>
              <div class="group-112-lFVR6Y">
                <div class="rectangle-38-In7dH5"></div>
                <div class="rectangle-40-In7dH5"></div>
                <div class="rectangle-41-In7dH5"></div>
              </div>
            </div>
          </div>
          <div class="product-price-chips-container">
            <div class="product-price-chip">
              <div class="price-4joXlx">EGP 10,000</div>
            </div>
            <div class="product-price-chip">
              <div class="price-7Un66J">EGP 10</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="product-filter-section">
      <div class="product-filter-section-wrapper">
        <div class="product-filter-section-title">
          <div class="text-107-UpgNg3">الماركات المتاحة</div>
        </div>
        <div class="product-filter-companies">
          <div class="product-filter-companies-container">
            <div class="product-filter-companies-cards">
              <ul class="styled-checkbox-elements">
                <li>
                  <input
                    type="checkbox"
                    class="styled-checkbox"
                    id="productBrandsCheckbox1"
                  />
                  <label
                    class="styled-checkbox-label"
                    for="productBrandsCheckbox1"
                  >
                    <img src="../assets/img/brands/brand_5.png" />
                  </label>
                </li>
                <li>
                  <input
                    type="checkbox"
                    class="styled-checkbox"
                    id="productBrandsCheckbox2"
                  />
                  <label
                    class="styled-checkbox-label"
                    for="productBrandsCheckbox2"
                  >
                    <img src="../assets/img/brands/brand_3.png" />
                  </label>
                </li>
                <li>
                  <input
                    type="checkbox"
                    class="styled-checkbox"
                    id="productBrandsCheckbox3"
                  />
                  <label
                    class="styled-checkbox-label"
                    for="productBrandsCheckbox3"
                  >
                    <img src="../assets/img/brands/brand_2.png" />
                  </label>
                </li>
                <li>
                  <input
                    type="checkbox"
                    class="styled-checkbox"
                    id="productBrandsCheckbox4"
                  />
                  <label
                    class="styled-checkbox-label"
                    for="productBrandsCheckbox4"
                  >
                    <img src="../assets/img/brands/brand_5.png" />
                  </label>
                </li>
                <li>
                  <input
                    type="checkbox"
                    class="styled-checkbox"
                    id="productBrandsCheckbox5"
                  />
                  <label
                    class="styled-checkbox-label"
                    for="productBrandsCheckbox5"
                  >
                    <img src="../assets/img/brands/brand_3.png" />
                  </label>
                </li>
                <li>
                  <input
                    type="checkbox"
                    class="styled-checkbox"
                    id="productBrandsCheckbox6"
                  />
                  <label
                    class="styled-checkbox-label"
                    for="productBrandsCheckbox6"
                  >
                    <img src="../assets/img/brands/brand_2.png" />
                  </label>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
