<div class="group-9sss6">
  <div class="swiper productMainSlider">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="../assets/img/product_img_slider.png" />
        <div class="product-slider__overlay">
          <label class="product-slider__overlay-chip--small">
            جديد متجر طله
          </label>
          <h2 class="product-slider__overlay-title">
            سي فلورا فايكلر سكن تونر
          </h2>
          <div class="product-big-card-price-container product-slider__overlay-price">
            <div class="price-Qo9a6H">EGP 600.00</div>
            <div class="price-J83xA5">EGP 249.00</div>
          </div>
          <a class="product-slider__overlay-btn">
            المزيد عن المنتج
          </a>
        </div>
      </div>
      <div class="swiper-slide">
        <img src="../assets/img/product_img_slider.png" />
        <div class="product-slider__overlay">
          <label class="product-slider__overlay-chip--small">
            جديد متجر طله
          </label>
          <h2 class="product-slider__overlay-title">
            2 سي فلورا فايكلر سكن تونر
          </h2>
          <div class="product-big-card-price-container product-slider__overlay-price">
            <div class="price-Qo9a6H">EGP 600.00</div>
            <div class="price-J83xA5">EGP 249.00</div>
          </div>
          <a class="product-slider__overlay-btn">
            المزيد عن المنتج
          </a>
        </div>
      </div>
      <div class="swiper-slide">
        <img src="../assets/img/product_img_slider.png" />
        <div class="product-slider__overlay">
          <label class="product-slider__overlay-chip--small">
            جديد متجر طله
          </label>
          <h2 class="product-slider__overlay-title">
            3 سي فلورا فايكلر سكن تونر
          </h2>
          <div class="product-big-card-price-container product-slider__overlay-price">
            <div class="price-Qo9a6H">EGP 600.00</div>
            <div class="price-J83xA5">EGP 249.00</div>
          </div>
          <a class="product-slider__overlay-btn">
            المزيد عن المنتج
          </a>
        </div>
      </div>
    </div>
    <div class="slider__pagination productMainSlider__pagination center">
      <div class="productMain-pagination"></div>
    </div>
  </div>
</div>
