<a class="product-big-card" href="store_product_page.html">
  <div class="product-big-card-img-data-container">
    <div class="product-big-card-img-data-wrapper">
      <div class="product-big-card-img"></div>
      <div class="frame-169-xmx7a8">
        <div class="product__offer-tag">خصم</div>
      </div>
      <div class="product-big-card-activity">
        <label class="custom-icon-checkbox">
          <input class="custom-input" type="checkbox" id="productFavourite_1" />
          <img
            class="custom-icon-checkbox__icon"
            src="../assets/img/heart-3.svg"
            alt="icon-heart"
          />
          <span class="custom-icon-checkbox__icon__checkmark"></span>
        </label>
        <label class="custom-icon-checkbox">
            <input class="custom-input" type="checkbox" id="productFavourite_1" />
            <img
              class="custom-icon-checkbox__icon"
              src="../assets/img/eye-44.svg"
              alt="icon-heart"
            />
            <span class="custom-icon-checkbox__icon__checkmark"></span>
          </label>
      </div>
      <label class="custom-icon-checkbox cart-checkbox">
        <input class="custom-input" type="checkbox" id="productFavourite_1" checked="checked" />
        <img
          class="custom-icon-checkbox__icon"
          src="../assets/img/shopping-cart.svg"
          alt="icon-heart"
        />
        <span class="custom-icon-checkbox__icon__checkmark"></span>
      </label>
    </div>
  </div>
  <div class="product-big-card-data-container">
    <div class="product-big-card-title-container">
      <div class="product-big-card-title">
        Maybelline Lifter Lip Gloss 008 Stone
      </div>
      <div class="rating-HYj1Yu"></div>
    </div>
    <div class="rating-card__star-container w-100">
      <img class="rating-star" src="../assets/img/star.svg" alt="Rating" />
      <img class="rating-star" src="../assets/img/star.svg" alt="Rating" />
      <img class="rating-star" src="../assets/img/star.svg" alt="Rating" />
      <img class="rating-star" src="../assets/img/star.svg" alt="Rating" />
      <img class="rating-star" src="../assets/img/star_out.svg" alt="Rating" />
    </div>
    <div class="product-big-card-price-container">
      <div class="product-big-card__price">EGP 249.00</div>
      <div class="product-big-card__price--disabled">EGP 600.00</div>
    </div>
  </div>
</a>
