<div class="start-over">
  <div class="start-over__title">
    <div class="start-over__title-text">إبدأى حيث إنتهى الأخرون</div>
    <img class="start-over__title-img" src="../assets/img/group-63-3@2x.png" />
  </div>
  <div class="start-over__cards">
    <div class="start-over__cards-wrapper">
      <a class="start-over__card">
        <div class="start-over__card-img__container">
          <img
            class="start-over__card-img"
            src="../assets/img/group-79@2x.png"
            alt="Group 79"
          />
        </div>
        <div class="text-2-1 bahijthesansarabic-bold-blackcurrant-16px">
          أليفك
        </div>
      </a>
      <a class="start-over__card">
        <div class="start-over__card-img__container">
          <img
            class="start-over__card-img"
            src="../assets/img/group-74@2x.png"
            alt="Group 74"
          />
        </div>
        <div class="text-2-1 bahijthesansarabic-bold-blackcurrant-16px">
          دليلك
        </div>
      </a>
      <a class="start-over__card">
        <div class="start-over__card-img__container">
          <img
            class="start-over__card-img"
            src="../assets/img/group-71-1@2x.png"
            alt="Group 71"
          />
        </div>
        <div class="text-2-1 bahijthesansarabic-bold-blackcurrant-16px">
          الأزياء
        </div>
      </a>
      <a class="start-over__card">
        <div class="start-over__card-img__container">
          <img
            class="start-over__card-img"
            src="../assets/img/group-82@2x.png"
            alt="Group 82"
          />
        </div>
        <div class="text-2-1 bahijthesansarabic-bold-blackcurrant-16px">
          الأسرة والمنزل
        </div>
      </a>
      <a class="start-over__card">
        <div class="start-over__card-img__container">
          <img
            class="start-over__card-img"
            src="../assets/img/group-81@2x.png"
            alt="Group 81"
          />
        </div>
        <div class="text-2-1 bahijthesansarabic-bold-blackcurrant-16px">
          الأمومة
        </div>
      </a>
      <a class="start-over__card">
        <div class="start-over__card-img__container">
          <img
            class="start-over__card-img"
            src="../assets/img/group-71@2x.png"
            alt="Group 81"
          />
        </div>
        <div class="text-2-1 bahijthesansarabic-bold-blackcurrant-16px">
          الصحة والرشاقة
        </div>
      </a>
    </div>
    <div class="start-over__cards-wrapper">
      <a class="start-over__card">
        <div class="start-over__card-img__container">
          <img
            class="start-over__card-img"
            src="../assets/img/group-90@2x.png"
            alt="Group 90"
          />
        </div>
        <div class="text-2-1 bahijthesansarabic-bold-blackcurrant-16px">
          نادي النعومة
        </div>
      </a>
      <a class="start-over__card">
        <div class="start-over__card-img__container">
          <img
            class="start-over__card-img"
            src="../assets/img/vector-25.svg"
            alt="Vector"
          />
        </div>
        <div class="text-2-1 bahijthesansarabic-bold-blackcurrant-16px">
          جمالك
        </div>
      </a>
      <a class="start-over__card">
        <div class="start-over__card-img__container">
          <img
            class="start-over__card-img"
            src="../assets/img/group-92@2x.png"
            alt="Group 92"
          />
        </div>
        <div class="text-2-1 bahijthesansarabic-bold-blackcurrant-16px">
          طلتك
        </div>
      </a>
      <a class="start-over__card">
        <div class="start-over__card-img__container">
          <img
            class="start-over__card-img"
            src="../assets/img/group-88@2x.png"
            alt="Group 88"
          />
        </div>
        <div class="text-2-1 bahijthesansarabic-bold-blackcurrant-16px">
          قصة نجاح
        </div>
      </a>
      <a class="start-over__card">
        <div class="start-over__card-img__container">
          <img
            class="start-over__card-img"
            src="../assets/img/group-84@2x.png"
            alt="Group 84"
          />
        </div>
        <div class="text-2-1 bahijthesansarabic-bold-blackcurrant-16px">
          مقهى النساء
        </div>
      </a>
    </div>
  </div>
</div>
