<div class="col-12 start-over">
  <div class="start-over__title">
    <div class="start-over__title-text">إبدأى حيث إنتهى الأخرون</div>
    <img class="start-over__title-img" src="../assets/img/group-63-3@2x.png" />
  </div>
  <div class="start-over__cards">
    <div class="start-over__cards-wrapper">
      <a class="start-over__card">
        <div class="start-over__card-img__container">
          <img
            class="start-over__card-img"
            src="../assets/img/talah-categories/alefak.svg"
            alt="Group 79"
          />
        </div>
        <div class="text-2-1 bahijthesansarabic-bold-blackcurrant-16px">
          أليفك
        </div>
      </a>
      <a class="start-over__card">
        <div class="start-over__card-img__container">
          <img
            class="start-over__card-img"
            src="../assets/img/talah-categories/dalelak.svg"
            alt="Group 74"
          />
        </div>
        <div class="text-2-1 bahijthesansarabic-bold-blackcurrant-16px">
          دليلك
        </div>
      </a>
      <a class="start-over__card">
        <div class="start-over__card-img__container">
          <img
            class="start-over__card-img"
            src="../assets/img/talah-categories/fashion.svg"
            alt="Group 71"
          />
        </div>
        <div class="text-2-1 bahijthesansarabic-bold-blackcurrant-16px">
          الأزياء
        </div>
      </a>
      <a class="start-over__card">
        <div class="start-over__card-img__container">
          <img
            class="start-over__card-img"
            src="../assets/img/talah-categories/family.svg"
            alt="Group 82"
          />
        </div>
        <div class="text-2-1 bahijthesansarabic-bold-blackcurrant-16px">
          الأسرة والمنزل
        </div>
      </a>
      <a class="start-over__card">
        <div class="start-over__card-img__container">
          <img
            class="start-over__card-img"
            src="../assets/img/talah-categories/omoma.svg"
            alt="Group 81"
          />
        </div>
        <div class="text-2-1 bahijthesansarabic-bold-blackcurrant-16px">
          الأمومة
        </div>
      </a>
      <a class="start-over__card">
        <div class="start-over__card-img__container">
          <img
            class="start-over__card-img"
            src="../assets/img/talah-categories/health.svg"
            alt="Group 81"
          />
        </div>
        <div class="text-2-1 bahijthesansarabic-bold-blackcurrant-16px">
          الصحة والرشاقة
        </div>
      </a>
      <a class="start-over__card">
        <div class="start-over__card-img__container">
          <img
            class="start-over__card-img"
            src="../assets/img/talah-categories/noama-club.svg"
            alt="Group 90"
          />
        </div>
        <div class="text-2-1 bahijthesansarabic-bold-blackcurrant-16px">
          نادي النعومة
        </div>
      </a>
      <a class="start-over__card">
        <div class="start-over__card-img__container">
          <img
            class="start-over__card-img"
            src="../assets/img/talah-categories/your-beauty.svg"
            alt="Vector"
          />
        </div>
        <div class="text-2-1 bahijthesansarabic-bold-blackcurrant-16px">
          جمالك
        </div>
      </a>
      <a class="start-over__card">
        <div class="start-over__card-img__container">
          <img
            class="start-over__card-img"
            src="../assets/img/talah-categories/talletak.svg"
            alt="Group 92"
          />
        </div>
        <div class="text-2-1 bahijthesansarabic-bold-blackcurrant-16px">
          طلتك
        </div>
      </a>
      <a class="start-over__card">
        <div class="start-over__card-img__container">
          <img
            class="start-over__card-img"
            src="../assets/img/talah-categories/success-stories.svg"
            alt="Group 88"
          />
        </div>
        <div class="text-2-1 bahijthesansarabic-bold-blackcurrant-16px">
          قصة نجاح
        </div>
      </a>
      <a class="start-over__card">
        <div class="start-over__card-img__container">
          <img
            class="start-over__card-img"
            src="../assets/img/talah-categories/womens-cafe.svg"
            alt="Group 84"
          />
        </div>
        <div class="text-2-1 bahijthesansarabic-bold-blackcurrant-16px">
          مقهى النساء
        </div>
      </a>
    </div>
  </div>
</div>
