<div class="frame-105-1">
  <div class="group-95">
    <div class="frame-84">
      <div class="logo">
        <div class="layer-1">
          <div class="group-container">
            <img
              class="clip-path-group"
              src="../assets/img/talah-categories/logo.svg"
              alt="Clip path group"
            />
          </div>
        </div>
      </div>
      <div class="frame-3">
        <div class="group-93">
          <h1 class="text-288 text-4">
            عروض حصرية ومنتجات قيمة لكي وحدك!<br />فقط من متجرنا
          </h1>
        </div>
      </div>
      <a class="button">
        <img
          class="shopping-bag-1"
          src="../assets/img/shopping-bag.svg"
          alt="shopping-bag"
        />
        <div class="text bahijthesansarabic-bold-white-14px-2">
          تصفح متجر طله
        </div>
      </a>
    </div>
  </div>
  <!--(bake ./brands__container.html)-->
</div>
